<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"

const dataTable: DataTable = {
  url: route("admin.page.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Title",
      name: "title",
      sortable: true,
      searchable: true,
    },
    {
      title: "Description",
      name: "description",
      sortable: true,
      searchable: true,
    },
    {
      title: "Showed",
      name: "show",
      searchable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  refs: reactive({
    showPassword: false,
  }),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  fields: ref({ description: "", title: "", show: false }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.page.update", { id: item.id })
    updateForm.title.value = `Edit Page - ${item.title}`
    updateForm.fields.value = {
      description: item.description,
      title: item.title,
      show: item.show,
    }
    updateForm.active.value = true
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Page",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.page.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Page "${item.title}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Pages">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <!-- 👉 Add user button -->
            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">
                  <h6 class="text-base">
                    {{ capitalizeHyphenated(item.raw.name) }}
                  </h6>
                </div>
              </div>
            </template>
            <template #item.description="{ item }">
              <AppTextarea
                v-model="item.raw.description"
                density="compact"
                readonly=""
              />
            </template>
            <template #item.show="{ item }">
              <VChip :color="!item.raw.show ? 'error' : 'success'">
                {{ !item.raw.show ? "No" : "Yes" }}
              </VChip>
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
                <VTooltip
                    activator="parent"
                    location="start"
                >Edit page info</VTooltip>
              </IconBtn>

              <IconBtn @click="deleteForm.init(item.raw)">
                <VIcon icon="tabler-trash" />
                <VTooltip
                    activator="parent"
                    location="top"
                >Remove page info</VTooltip>
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.page.store')"
      title="Create Page"
      :fields="{ description: '', title: '', show: false }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.title"
            label="Title"
            :error-messages="form.errors?.title"
          />
        </VCol>
        <VCol cols="12">
          <AppTextarea
            v-model="form.description"
            label="Description"
            :error-messages="form.errors?.description"
          />
        </VCol>
        <VCol cols="12">
          <VRadioGroup
            v-model="form.show"
            inline=""
            label="Showed"
            :error-messages="form.errors?.show"
          >
            <VRadio
              label="Yes"
              :value="true"
            />
            <VRadio
              label="No"
              :value="false"
            />
          </VRadioGroup>
        </VCol>
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.title"
            label="Title"
            :error-messages="form.errors?.title"
          />
        </VCol>
        <VCol cols="12">
          <AppTextarea
            v-model="form.description"
            label="Description"
            :error-messages="form.errors?.description"
          />
        </VCol>
        <VCol cols="12">
          <VRadioGroup
            v-model="form.show"
            inline=""
            label="Showed"
            :error-messages="form.errors?.show"
          >
            <VRadio
              label="Yes"
              :value="1"
            />
            <VRadio
              label="No"
              :value="0"
            />
          </VRadioGroup>
        </VCol>
      </template>
    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
