<template>
  <v-dialog
    :model-value="modelValue"
    @update:modelValue="$emit('update:modelValue', false)"
    width="400px"
  >
    <v-card class="pa-4">
      <div
        class="text-md font-medium text-gray-900 bg-white border border-gray-200 border-b-none rounded-lg white mb-5"
      >
        <div class="w-full border-b border-gray-200 rounded-t-lg md:py-0 py-2">
          <v-radio-group
            class="pl-3"
            :model-value="tariffId"
            @update:modelValue="$emit('update:tariffId', $event)"
            :rules="[v => !!v || 'Tariff is required']"
          >
            <v-radio v-for="tariff in tariffs"
                     :label="`${tariff.name} ( up to ${tariff.users} users)`"
                     :value="tariff.id"
                     color="dark"
            >
            </v-radio>
          </v-radio-group>
        </div>
      </div>
      <v-card-actions class="px-0">
        <v-btn color="dark" variant="elevated"  @click="payHandler" :disabled="!tariffId">Pay</v-btn>
        <v-btn color="black"  @click="$emit('update:modelValue', false)">Close Dialog</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script setup>
defineProps(['modelValue', 'tariffId', 'tariffs', 'payHandler'])
defineEmits(['update:modelValue', 'update:tariffId'])
</script>

<style scoped>

</style>
