<script>
import Blank from "@/layouts/blank.vue"

export default {
  layout: Blank,
}
</script>

<script setup>
import { useGenerateImageVariant } from "@core/composable/useGenerateImageVariant"
import misc404 from "@images/pages/404.png"
import miscMaskDark from "@images/pages/misc-mask-dark.png"
import miscMaskLight from "@images/pages/misc-mask-light.png"
import ErrorHeader from "@/components/ErrorHeader.vue"

const authThemeMask = useGenerateImageVariant(miscMaskLight, miscMaskDark)
</script>

<template>
  <div class="misc-wrapper">
    <div class="ErrorText">
      404
    </div>
    <a href="/client" class="bg-gray-500 hover:bg-gray-700 p-3 px-5 rounded text-white mt-3">Go home</a>
  </div>
</template>

<style lang="scss">
@use "@core-scss/template/pages/misc.scss";

.ErrorText{
  font-size: 120px;
  font-weight: 700;
}
</style>
