@media (max-width: 768px) {
  .Sidebar {
    display: none !important;
  }
  .mobTableTitle {
    display: flex;
    align-items: center;
    grid-gap: 5px;
  }
  .mobTableTitle:before {
    content: attr(data-title);
    display: block;
    font-size: 14px;
    width: 75px;
    flex-shrink: 0;
  }
  .slotMain-box {
    padding: 90px 15px;
  }
}
@media (min-width: 767px) {
  .bottomNavBar {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .slotMain {
    padding-left: 260px;
  }
  .slotMain-box {
    padding: 100px 30px 40px 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .slotMain {
    padding-left: 81px;
  }
}

/*# sourceMappingURL=media.css.map */
