[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus{
  border-color: #333;
  box-shadow:  0 0 0 1px #333;
}
.v-select  input{
  background: transparent;
  box-shadow: none !important;
}
