@import "reset";
@import "fonts";
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap);

$--v-theme-primary: red;
* {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.bg-dark {
  background: #333
}

.bg-dark-400 {
  background: #666770
}

.bg-dark-700 {
  background: #444
}

.hover-bg-dark-700 {
  &:hover {
    @extend .bg-dark-700;
  }
}

.text-black {
  color: #333;
}

.bg-blue-500\/10, .bg-blue-500-10 {
  background-color: rgb(59 130 246 / .2);
}

.bg-green-500 {
  background: rgba(34, 197, 94, 1);
}

.bg-green-500-10 {
  background: rgba(34, 197, 94, .2);
}

.bg-blue-500-10 {
  background-color: rgb(59 130 246 / .2);
}

.bg-blue-500\/80 {
  background-color: rgb(59 130 246 / 0.8);
}

.bg-blue-500\/10 {
  background-color: rgb(59 130 246 / .1);
}

.bg-blue-500 {
  background-color: rgb(59 130 246 / 1);
}

.bg-purple-500 {
  background: rgba(168, 85, 247, 1);
}

.bg-purple-500-10 {
  background: rgba(168, 85, 247, .2);
}

.bg-red-500-10 {
  background: rgb(239 68 68/ .2);
}

.bg-orange-500 {
  background: rgba(#E25E3E, 1);
}

.text-orange-900 {
  color: #E25E3E;
}

.bg-orange-500-10, .bg-orange-500\/10 {
  background: rgba(#E25E3E, .2);
}

.opacity-50 {
  opacity: 0.5;
}

.h-opacity-80 {
  &:hover {
    transition: .3s;
    opacity: .65;
  }
}

.text-yellow-700 {
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity));
}

.text-little {
  font-size: 12px;
}

.h-30 {
  height: 30px;
}

.onMob-text-little {
  @media (max-width: 700px) {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .v-application__wrap {
    padding-bottom: 20px;
  }
  input {
    font-size: 14px !important;
    //&.p-2{
    //  height: 36px;
    //  //padding-left: 10px !important;
    //}
  }
}

[type='checkbox'] {
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.3);
}

.layout-wrapper.layout-nav-type-vertical.layout-navbar-sticky .layout-navbar {
  position: relative !important;
}

.layout-page-content, .layout-navbar {
  max-inline-size: 1920px !important;
}

.v-application {
  background: rgba(243, 244, 246, 0.63) !important;
  color: #000 !important;
}

.h-screen {
  min-height: 100vh;
}

.v-text-field {
  input {
    box-shadow: none !important;
    border-color: transparent !important;
  }
}
.v-input .v-field__outline{
  --v-field-border-opacity: 0.12;
  filter: grayscale(1);

}
.v-btn {
  &.bg-dark {
    background: #454545;

    .v-btn__content {
      color: #fff !important;
    }
  }
  &.v-btn--disabled{
    opacity: 0.5;
  }
}

.v-radio {
  .v-selection-control__input {
    path:nth-child(2) {
      transform: scale(0.82) translate(2px, 2px)
    }
  }
  .v-label{
    font-weight: bold;
    color: #1f2937;
  }
}
.fz12{
  font-size: 12px;
}

.fw600{
  font-weight: 600;
}


.v-list-item--variant-text .v-list-item__overlay{
  background: #333;
  color: #000;
}
.v-list-item__content{
  color: #000 !important;
}
.v-list-item.v-list-item--active:not(.v-list-group__header){
  background-color: #333 !important;
  .v-list-item__content{
    color: #fff !important;
  }
}
.v-pagination .v-btn{
  background: #e8e8e8;
  opacity: 0.75;
}
.v-pagination__list{
}
.v-pagination .v-pagination__list .v-pagination__item--is-active .v-btn{
  filter: grayscale(1);
}
@import "media";
