<script setup>

import { FieldsSecurity } from "@/utils/FieldsSecurity"
import {useForm} from "@inertiajs/vue3";
import route from "ziggy-js"
import {toast} from "vue3-toastify";
import {nextTick} from "vue";
import axios from "@axios"

const props = defineProps({ AuthUser: Object })

const Security = new FieldsSecurity()
const   UpdatedProfileName = 'UpdatedProfile';
const showKeys = ref(false)
const privateKey = ref("")
const publicKey = ref("")

const form = useForm({
  username: props.AuthUser.username,
  old_password: '',
  password: '',
  password_confirmation: null,
})

onMounted(() => {
  const keys = Security.getBaseKeys()
  privateKey.value = keys.privateKey
  publicKey.value = keys.publicKey
})

const restore = async () => {
  try {
    await Security.restoreKeys(props.AuthUser)
    const keys = Security.getBaseKeys()
    privateKey.value = keys.privateKey
    publicKey.value = keys.publicKey
  } catch (err) {

  }
}
const newObj = (data) => Object.keys(data)
  .filter(key => data[key] !== null && data[key] !== undefined && data[key] !== "")
  .reduce((acc, key) => ({ ...acc, [key]: data[key] }), {});

const setCookie = (name, value, days) => {
  let expires = "";
  if (days) {
    let date = new Date();
    date.setTime(date.getTime() + (days*24*60*60*1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
const submitProfileUpdate = () => {
  form.transform((data) => (newObj(data))).put(route("client.profile.update" , {
    "id" : props.AuthUser.id
  }), {
    onSuccess: () => {
      setCookie(UpdatedProfileName , true, 182)
      form.password = '';
      form.password_confirmation = '';
      toast.success('Profile updated successfully');
    },
  })
}
</script>

<template >
  <div class="bg-white p-3 md:p-5 shadow rounded">
    <p class="mb-5 bg-yellow-100 text-center p-3 text-sm text-yellow-700 rounded">
      {{ $t("titles.Please, enter verified data!") }}
    </p>
    <form @submit.prevent="submitProfileUpdate">
      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.ID") }}</h3>
      <input
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="props.AuthUser.id"
        disabled
      />
      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.Username") }}</h3>
      <input
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="props.AuthUser.name"
        disabled
      />

      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.Client ID") }}</h3>
      <input
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="props.AuthUser.client_id"
        disabled
      />


      <h3 class="mb-2 text-gray-800 md:text-base text-sm">{{ $t("forms.Access KEY") }}</h3>
      <input
        type="password"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="props.AuthUser.access_key"
        disabled
      />

      <p
        v-if="form.username === null"
        class="mb-5 bg-yellow-100 text-center p-3 text-sm text-yellow-700 rounded">
        {{ $t("titles.You can add your personal login details!") }}
      </p>
      <p
        v-else
        class="mb-5 bg-yellow-100 text-center p-3 text-sm text-yellow-700 rounded">
        {{ $t("titles.You can update your profile") }}
      </p>

      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.Login") }}</h3>
      <input
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="form.username"
      />
      <div v-if="form.errors.username" class="text-error">{{ form.errors.username }}</div>


      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.Old password") }}</h3>
      <input
        type="password"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="form.old_password"
      />
      <div v-if="form.errors.old_password" class="text-error">{{ form.errors.old_password }}</div>

      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.New password") }}</h3>
      <input
        type="password"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="form.password"
      />
      <div v-if="form.errors.password" class="text-error">{{ form.errors.password }}</div>


      <h3 class="mb-2 text-gray-800 md:text-base text-sm"> {{ $t("forms.Repeat new password") }}</h3>
      <input
        type="password"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded md:mb-4 mb-2 border-gray-300 bg-gray-100"
        v-model="form.password_confirmation"
      />
      <div v-if="form.errors.password_confirmation" class="text-error">{{ form.errors.password_confirmation }}</div>


      <button
        type="submit"
        class="bg-gray-500 hover:bg-gray-700 md:p-2 md:px-4 p-1 px-3 md:text-base text-sm rounded text-white">
        {{ $t('btns.Update changes') }}
      </button>
    </form>
    <hr class="border-b border-gray-200 my-5" />
    <h3 class="text-xl text-black mb-2">Secret keys</h3>
    <button class="bg-gray-500 hover:bg-gray-700 md:p-2 md:px-4 p-1 px-3 md:text-base text-sm rounded text-white"
            @click="showKeys = !showKeys">{{ !showKeys ? $t('btns.Show') : $t('btns.Hide') }} {{ $t('keys') }}
    </button>
    <button class="bg-gray-500 hover:bg-gray-700 md:p-2 md:px-4 p-1 px-3 md:text-base text-sm rounded text-white ml-3"
            @click="Security.saveKeys()">{{ $t('btns.Download keys') }}
    </button>
    <button class="bg-gray-500 hover:bg-gray-700 md:p-2 md:px-4 p-1 px-3 md:text-base text-sm rounded text-white ml-3"
            @click="restore">{{ $t('btns.Generate new keys') }}
    </button>

    <div v-if="showKeys" class="mt-3">
      <v-textarea
        v-model="publicKey"
        label="Public Key"
        placeholder="Public Key"
        class="mb-2 "
      />
      <v-textarea
        v-model="privateKey"
        label="Private Key"
        placeholder="Private Key"
        class="mb-2"
      />
      <button class="bg-gray-500 hover:bg-gray-700 md:p-2 md:px-4 p-1 px-3 md:text-base text-sm rounded text-white"
              @click="Security.setKey(publicKey, privateKey, AuthUser?.openpgp_public_key)">Set keys
      </button>
    </div>

    <hr class="border-b border-gray-200 my-5" />

    <button
      class="w-full border border-red-500 text-red-500 hover:bg-red-500 md:text-base text-sm hover:text-white duration-200 md:p-2 md:px-4 p-1 px-2 rounded"
    >
      {{ $t('btns.Delete profile') }}
    </button>
  </div>
</template>

<style scoped></style>
