<script setup lang="ts">
import { VDataTableServer } from "vuetify/labs/VDataTable"
import type { Options } from "@core/types"
import { reactive } from "vue"
import axios from "@axios"
import type { DataTable } from "@/types/datatable"

const props = defineProps<{
  datatable: DataTable
}>()

const options = ref<Options>({
  page: 1,
  itemsPerPage: 10,
  sortBy: [],
  groupBy: [],
  search: undefined,
})

const dataTable = reactive({
  data: [],
  recordsTotal: 0,
  recordsFiltered: 0,
  loading: false,
  response: null as any,
})

const headers = computed(() =>
  props.datatable.columns
    .filter((item) => !!item.title)
    .map((item) => ({
      title: item.title,
      key: item.name,
      sortable: item.sortable ?? false,
    })),
)

const fetchData = () => {
  dataTable.loading = true

  const sortBy
    = options.value.sortBy.length > 0 ? options.value.sortBy : props.datatable.defaultSort

  axios
    .get(props.datatable.url, {
      params: {
        _: Date.now(),
        start: options.value.itemsPerPage * (options.value.page - 1),
        length: options.value.itemsPerPage,
        search: {
          value: props.datatable.params.search,
        },
        order: sortBy.map((item: { key: string; order: "asc" | "desc" }) => ({
          column: props.datatable.columns.findIndex((column) => item.key === column.name),
          dir: item.order,
        })),
        columns: props.datatable.columns
          .filter((item) => !item.manual)
          .map((item) => ({
            name: item.name,
            searchable: item.searchable ?? false,
            orderable: item.sortable ?? false,
            search: {
              value: props.datatable?.search
                ? props.datatable.search[item.name]
                  ? props.datatable.search[item.name]
                  : ""
                : "",
            },
          })),
      },
    })
    .then((response) => {
      dataTable.response = response.data
      for (const i in response.data) {
        if (dataTable[i] !== undefined) {
          dataTable[i] = response.data[i]
        }
      }
    })
    .finally(() => (dataTable.loading = false))
}

watch(
  () => [
    options,
    props.datatable.params.search,
    props.datatable.params.refresh,
    props.datatable.search,
  ],
  fetchData,
  {
    deep: true,
  },
)
</script>

<template>
  <VDataTableServer
    v-model:items-per-page="options.itemsPerPage"
    v-model:page="options.page"
    :items="dataTable.data"
    :items-length="dataTable.recordsFiltered ?? 0"
    :headers="headers"
    class="text-no-wrap"
    :loading="dataTable.loading"
    @update:options="options = $event"
  >
    <template
      v-for="slotName in Object.keys($slots)"
      #[slotName]="slotProps"
    >
      <template v-if="slotName === 'item'">
        <slot
          :name="slotName"
          v-bind="{ ...slotProps, dataTable }"
        />
      </template>
      <template v-else>
        <template v-if="Array.isArray(slotProps)">
          <slot
            :name="slotName"
            v-bind="{ ...slotProps, dataTable }"
          />
        </template>
        <template v-else>
          <slot
            :name="slotName"
            v-bind="{ ...slotProps, dataTable }"
          />
        </template>
      </template>
    </template>
  </VDataTableServer>
</template>
