<script lang="ts">
import Blank from "@/layouts/blank.vue"
export default {
  layout: Blank,
}
</script>
<script setup lang="ts">
import { Head, Link, useForm } from "@inertiajs/vue3"
import AuthenticationCard from "@/components/AuthenticationCard.vue"
import AuthenticationCardLogo from "@/components/AuthenticationCardLogo.vue"


defineProps({
  status: String,
})

const form = useForm({
  email: "",
  username: "",
  password: "",
  remember: false,
  module: "admin"
})

const submit = (action) => {
  form.transform((data) => ({
    action: action,
    ...data,
    remember: form.remember ? "on" : "",
  })).post( '/login', {
    onFinish: () => {
      form.reset("password")
    },
  })
}
</script>

<template>

    <Head title="Login to the admin panel" />
      <VContainer fill-height fluid>
        <VRow align="center" justify="center" >
          <VCol cols="12" sm="8" md="6">
            <VCard>
              <AuthenticationCard>
                <AuthenticationCardLogo />
              </AuthenticationCard>
              <VCardTitle align="center">Login to the admin panel</VCardTitle>
              <VCardText>
                <VForm @submit.prevent="submit('auth_admin')">
                  <!-- Your form inputs here -->
                  <AppTextField
                    id="email"
                    v-model="form.username"
                    name="username"
                    type="text"
                    class="my-1 block w-full"
                    required
                    autofocus
                    autocomplete="email"
                    label="Username / Email"
                    :error-messages="form.errors?.username"
                  />
<!--                  <InputError-->
<!--                    class="mt-2"-->
<!--                    :message="form.errors.password"-->
<!--                  />-->
                  <AppTextField
                    id="email"
                    v-model="form.password"
                    name="password"
                    type="password"
                    class="my-1 block w-full"
                    required
                    autofocus
                    autocomplete="email"
                    label="Password"
                    :error-messages="form.errors?.password"
                  />
<!--                  <InputError-->
<!--                    class="mt-2"-->
<!--                    :message="form.errors.password"-->
<!--                  />-->
                  <VCheckbox
                    v-model:checked="form.remember"
                    name="remember"
                    label="Remember me"
                  />
                  <VBtn
                    type="submit"
                    :loading="form.processing"
                  >
                    Log in
                  </VBtn>
                </VForm>
              </VCardText>
            </VCard>
          </VCol>
        </VRow>
      </VContainer>
</template>
