<script setup lang="ts">
interface Props {
  title: string
  statusOnline: {
    type:boolean,
    default: undefined
  }
}
interface Emit {
  (e: 'cancel', el: MouseEvent): void
}
const props = defineProps<Props>()

defineEmits<Emit>()
</script>

<template>
  <div class="px-5 py-3 d-flex align-center">
    <h3 class="font-weight-medium text-xl">
      {{ props.title }}
      <label v-if="props.statusOnline !== undefined" class="ml-1" :class= "(props.statusOnline)?'text-success':'text-error'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
        </svg>
      </label>
    </h3>
    <VSpacer />

    <slot name="beforeClose" />

    <IconBtn @click="$emit('cancel')">
      <VIcon
        size="18"
        icon="tabler-x"
      />
    </IconBtn>
  </div>
</template>
