<script setup lang="ts">
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import { useForm } from "@inertiajs/vue3"
import moment from "moment"
import { toast } from "vue3-toastify"

defineProps<{
  clients: Array<object>
}>()

const dataTable: DataTable = {
  url: route("admin.notification.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      title: "ID",
      name: "id",
      sortable: true,
    },
    {
      title: "Recipient",
      name: "recipient",
    },
    {
      title: "Message",
      name: "message",
    },
    {
      title: "Date",
      name: "created_at",
      sortable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Notification",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.notification.destroy", { id: item.message.id })
    deleteForm.message.value = `Do you really want to delete Notification ID#${item.message.id}?`
    deleteForm.active.value = true
  },
}

const createForm = useForm({
  clients: [],
  message: "",
})

const createFormSubmit = () => {
  createForm.post(route("admin.notification.store"), {
    onSuccess: () => {
      createForm.reset()
      dataTable.refresh()
      toast.success('Notifications completed successfully');
    },
  })
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Notifications">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <template #item.recipient="{ item }">
              <div v-if="item.raw.recipient" class="d-block align-center  text-wrap ">
<!--                {{ item.raw.recipient }}-->
                {{ item.raw.recipient.name }}
              </div>
            </template>
            <template #item.message="{ item }">
              <AppTextField
                  v-if="item.raw.message.text.length <= 11"
                  v-model="item.raw.message.text"
                  density="compact"
                  autofocus
                  disabled
                  style="color: black"
              />
              <AppTextarea
                  v-else
                  v-model="item.raw.message.text"
                  density="compact"
                  autofocus
                  disabled
                  style="color: black"
              />
            </template>

            <!-- Account -->
            <template #item.created_at="{ item }">
              {{ moment(item.raw.created_at).format('DD.MM.YYYY HH:mm') }}
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="deleteForm.init(item.raw)">
                <VIcon icon="tabler-trash" />
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <VRow>
      <VCol cols="12">
        <VCard title="Sending notifications to clients">
          <VCardText class="py-4">
            <VForm @submit.prevent="createFormSubmit">
              <VRow>
                <VCol cols="12">
                  <AppSelect
                    v-model="createForm.clients"
                    :items="clients"
                    item-title="name"
                    item-value="value"
                    :menu-props="{ maxHeight: '400' }"
                    label="Clients"
                    multiple
                    persistent-hint
                    clearable
                    :error-messages="createForm.errors?.clients"
                  />
                </VCol>
                <VCol cols="12">
                  <AppTextarea
                    v-model="createForm.message"
                    label="Message"
                    :error-messages="createForm.errors?.message"
                  />
                </VCol>
                <VCol
                  cols="12"
                  class="d-flex gap-4"
                >
                  <VBtn type="submit">
                    Submit
                  </VBtn>
                  <VBtn
                    color="secondary"
                    variant="tonal"
                    type="reset"
                  >
                    Reset
                  </VBtn>
                </VCol>
              </VRow>
            </VForm>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
