<script lang="ts" setup>
import navItems from "@/navigation/vertical"
import { useThemeConfig } from "@core/composable/useThemeConfig"

// Components
import Footer from "@/layouts/components/Footer.vue"
import UserProfile from "@/layouts/components/UserProfile.vue"
import {onMounted, ref} from "vue"
// @layouts plugin
import { VerticalNavLayout } from "@layouts"

const { appRouteTransition, isLessThanOverlayNavBreakpoint } = useThemeConfig()
const { width: windowWidth } = useWindowSize()

const newMenu = ref([]);
const handlePermission = (event) => {
  // Фильтрация массива объектов
  let header = [{ heading: "Navigation" }]
  let res = navItems.filter((item) => {
    if(item.title){
      // Приводим заголовок к нижнему регистру для сравнения
      const lowerCaseHeading = item.title.toLowerCase();
      // Проверяем, есть ли заголовок в списке разрешенных
      return event.includes(lowerCaseHeading);
    }
  })
  newMenu.value = [...header, ...res];
}
</script>

<template>
  <VerticalNavLayout :nav-items="newMenu">
    <!-- 👉 navbar -->
    <template #navbar="{ toggleVerticalOverlayNavActive }">
      <div class="d-flex h-100 align-center">
        <IconBtn
          v-if="isLessThanOverlayNavBreakpoint(windowWidth)"
          id="vertical-nav-toggle-btn"
          class="ms-n3"
          @click="toggleVerticalOverlayNavActive(true)"
        >
          <VIcon
            size="26"
            icon="tabler-menu-2"
          />
        </IconBtn>

        <VSpacer />

        <UserProfile  @adm-per="handlePermission" />
      </div>
    </template>

    <!-- 👉 Pages -->
    <!--    <Transition -->
    <!--      :name="appRouteTransition" -->
    <!--      mode="out-in" -->
    <!--    > -->
    <slot />
    <!--    </Transition> -->

    <!-- 👉 Footer -->
    <template #footer>
      <Footer />
    </template>

    <!-- 👉 Customizer -->
    <TheCustomizer />
  </VerticalNavLayout>
</template>
