<script setup>

import route from "ziggy-js";
import Ico from '@/Components/Ico.vue';
import config from '../../config/sidebarMenu.json';
import {router} from "@inertiajs/vue3";
import DropdownLink from "@/Components/DropdownLink.vue";

const logout = () => {
  router.post(route("logout"))
}
</script>

<template>
  <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r xl:static sidebar">
    <div class=" flex justify-between items-center w-full px-2 py-6">
      <div class="flex justify-center items-center  space-x-2">
        <div>
          <img class="rounded-full w-10" :src="$page.props.auth.user.profile_photo_url" alt="avatar" />
        </div>
        <div class="flex justify-start flex-col items-start">
          <p class="text-sm leading-6 text-gray-700">{{$page.props.auth.user.name}}</p>
          <p class="text-xs leading-3 text-gray-700">{{$page.props.auth.user.email}}</p>
        </div>
      </div>
      <form @click="logout()" class="cursor-pointer">
        <Ico :name="'logout'"  class="me-2"/>
      </form>
    </div>
    <div class="overflow-y-auto overflow-x-hidden flex-grow">
      <ul v-for="(item, index) in config" class="flex flex-col py-4 space-y-1">
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm font-light tracking-wide text-gray-500">{{item.section}}</div>
          </div>
        </li>
        <li v-for="(action, indexAction) in item.actions">
          <a
            :href="route(action.route)"
            :class="( route().current(action.active_route ?? action.route) === true ) ? 'active-item-menu': 'item-menu'"
            class="relative flex flex-row items-center h-11 focus:outline-none  text-gray-600  border-l-4 border-transparent  pr-6 ">
                <span class="inline-flex justify-center items-center ml-4">
                  <Ico :name="action.ico.name" class="me-2"/>
                </span>
            <span class="ml-2 text-sm tracking-wide truncate">{{action.name}}</span>
            <span v-if="action.seconder" class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-500 bg-green-50 rounded-full">15</span>
            <span v-if="action.denger" class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">1.2k</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .active-item-menu{
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
  }
</style>
