<script setup>
import UploadImage from "../../components/UploadImage.vue"
import {ref} from 'vue'

const props = defineProps({ company: Object, tariffs: Object, saveHandler: Function})

const { company, tariffs } = toRefs(props);

let companyName = ref(company.value?.name || "")
let imageLogo = ref(company.value?.logo_url || "")
let companyLogo = ref(null)
let comment = ref(company.value?.comment || "")
let tariffId = ref(company.value?.tariff_id || 0)

const saveForm = async () => {

  const { valid } = await formRef.value.validate()
  if (!valid) return console.warn('Not valid form');

  await props.saveHandler({
    companyLogo: companyLogo.value,
    companyName: companyName.value,
    comment: comment.value,
    tariffId: tariffId.value,
    companyId: company.value?.id
  });
}


const img = ref(null)
const formRef = ref(null);
const loading = ref(false)
</script>

<template>
  <v-form ref="formRef" class="p-5 rounded bg-white shadow">
    <h3 class="text-2xl mb-3 text-gray-800">{{ $t('btns.Add company') }}</h3>
    <h3 class="text-md mb-2 text-gray-700">{{ $t('titles.Company Name') }}</h3>

    <v-text-field
      v-model.trim="companyName"
      :rules="[v => !!v || 'Company name is required']"
      placeholder="Enter company name"
      class="mb-4"
    />

    <h3 class="text-md mb-2 text-gray-700">{{ $t('titles.Add company logo') }}</h3>
    <img v-if="imageLogo" :src="imageLogo" alt="Image Preview" style="max-width: 100px;" class="w-full mb-3 " />
    <UploadImage v-model="companyLogo" :placeholder="$t('titles.Add company logo')" placeholder-replace="Replace company logo"/>

    <p class="mb-3 text-gray-800">{{ $t('forms.Leave image field blanc to get random pictures') }}</p>
    <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Company Comment') }}</h3>


    <v-textarea
      v-model.trim="comment"
      :rules="[v => !!v || 'Company comment is required']"
     :placeholder="$t('forms.Enter company comment')"
      class="mb-4"
    />

    <h3 class="text-2xl mb-2 text-gray-700">{{ $t('titles.Tariff') }}</h3>
    <div
      class="text-md font-medium text-gray-900 bg-white border border-gray-200 border-b-none rounded-lg white mb-5"
    >
      <div class="w-full border-b border-gray-200 rounded-t-lg md:py-0 py-2">
        <v-radio-group class="pl-3" v-model="tariffId" :rules="[v => !!v || 'Tariff is required']">
          <v-radio v-for="tariff in tariffs"
                   :label="$t('forms.tariffs', { name: tariff.name, users: tariff.users })"
                   :value="tariff.id"
                   color="dark"
          >
          </v-radio>
        </v-radio-group>
      </div>
    </div>
    <v-btn
      @click="saveForm"
      :loading="loading"
      color="dark"
    >
      {{ $t('btns.Save') }}
    </v-btn>
  </v-form>
</template>

<style lang="scss" scoped>

</style>
