<script setup>
import { ref } from "vue"
import { fields, fieldTypes } from "../../types/FormFieldsTypes"
import UploadImage from "../../components/UploadImage.vue"
import { router } from "@inertiajs/vue3"
import { useI18n } from 'vue-i18n';
const { t } = useI18n();
const props = defineProps({ companies: Object, form: Object, availableUsers: Object, users: Object })
const emit = defineEmits(["update:onSaveForm", "update:onSelectCompany"])

const { companies, form, availableUsers, users } = toRefs(props)

const data = ref([])
console.log("form.value", form.value)
console.log('availableUsers', availableUsers.value);

let usersArr = [];
users.value.forEach((item) => {
  usersArr[item] = true;
});

if (form.value?.fields) {
  data.value = form.value.fields
}

const activeTab = ref(fieldTypes.InputElement)
let companyId = ref(form.value?.company?.id || "")
let formName = ref(form.value?.name || "")
// let price = ref(form.value?.price || t('forms.Default field'))
let price = ref(t('forms.Default field'))

const newField = ref(JSON.parse(JSON.stringify(fields[activeTab.value])))

const labels = {
  "icon": "Icon code (optional)",
  "title": "Title",
  "type": "Field type",
}

const removeElement = (index, array) => {
  if (array) {
    array.splice(index, 1)
  } else {
    data.value.splice(index, 1)
  }
}

const addActiveField = ({ type }) => {
  console.log("type", type)
  if (!type) return null
  data.value.push(JSON.parse(JSON.stringify(fields[type])))
}

const addFieldsBtns = ref([
  {
    name: "Text field",
    type: fieldTypes.InputElement,
  },
  {
    name: "Textarea",
    type: fieldTypes.TextAreaElement,
  },
  {
    name: "Select list",
    type: fieldTypes.SelectElement,
  },
  {
    name: "Select item",
    type: fieldTypes.CheckboxElement,
  },
  {
    name: "Radio items",
    type: fieldTypes.RadioElement,
  },
  {
    name: "Images",
    type: fieldTypes.ImageElement,
  },
])

const getData = computed(() => {
  return data.value.map(item => {
      const find = addFieldsBtns.value.find(el => el.type === item?.type)
      return { ...item, labelVal: find.name }
    },
  )
})

const saveForm = async () => {
  emit("update:onSaveForm", {
    companyId: companyId.value,
    formName: formName.value,
    fields: data.value,
    users: usersArr
  })
}

const getAvailableUsers = (company_id) => {
  emit("update:onSelectCompany", {
    companyId: company_id,
  })
}

const setUser = (event, userId) => {
  usersArr[userId] = event.target.checked;
}

const isChecked = (userId) => {
  let res = usersArr.find((item, index) => {
    return userId === index && item === true;
  }) !== undefined;
  
  console.log('res', res);
  return res;
}

</script>

<template>
  <div class="flex flex-col-reverse lg:flex-row gap-5">
    <div class="lg:w-[75%] bg-white p-3 md:p-5 mb-12">
      <h3 class="text-xl md:text-2xl mb-3 text-gray-800">{{ $t('btns.Add Form') }}</h3>
      <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Select a company') }}</h3>
      <select
        v-model="companyId"
        @change="getAvailableUsers(companyId)"
        class="outline-none bg-white border border-gray-300 text-gray-900 rounded focus:ring-teal-500 focus:border-teal-500 block w-full p-3 mb-5"
      >
        <option v-for="company in companies" :value="company.id">
          {{ company.name }}
        </option>
      </select>
      <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Form Name') }}</h3>
      <input
        v-model="formName"
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
        placeholder="Enter Form name"
      />
      <h3 class="md:text-2xl text-xl mb-2 text-gray-700">{{ $t('forms.Form options') }}</h3>
      <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Price') }}</h3>
      <input
        v-model="price"
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300 bg-gray-100"
        disabled
      />
      <div class="md:grid grid-cols-3 gap-5 mb-2">
        <h3 class="text-md text-gray-700">
          <span class="mr-1 md:inline hidden">{{ $t('forms.labels.Icon code') }}</span>
          <a href="/client/icons" class="text-teal-600">{{ $t('forms.List of icons') }}</a>
        </h3>
        <h3 class="text-md text-gray-700 md:block hidden">{{ $t('forms.labels.title') }}</h3>
        <h3 class="text-md text-gray-700 md:block hidden">{{ $t('forms.labels.type') }}</h3>
      </div>
      <div v-for="(el, i) in getData"
           class="formAddItem items-end md:gap-5 gap-3 md:border-none border-b py-3 px-2 md:pb-0"
      >
        <div
          v-if="!('variants' in el.element || el.element.hasOwnProperty('variants') )"
          class="mobTableTitle"
          :data-title="$t('forms.labels.icon')"
        >
          <input
            type="text"
            class="border md:p-2 p-1 md:px-4 px-3 mobTableTitle outline-none focus:border-teal-600 duration-300 rounded border-gray-300 w-full md:text-base text-sm"
            :placeholder="$t('forms.Enter icon code')"
            v-model="data[i].icon"
          />
        </div>
        <div
          v-else-if="el.type === fieldTypes.CheckboxElement"
          class="mobTableTitle"
          :data-title="$t('forms.labels.icon')"
        >
          <input
            type="text"
            class="border md:p-2 p-1 md:px-4 px-3 mobTableTitle outline-none focus:border-teal-600 duration-300 rounded border-gray-300 w-full md:text-base text-sm"
            placeholder="Enter option"
            v-model="data[i].element.variants[0]"
          />
        </div>
        <template v-else>

          <div class="d-flex">

            <label for="first_name" class=" mb-1 text-sm font-medium text-gray-900 d-flex align-end">
              {{ `Options:` }}
            </label>
            <div v-if="'multi' in el || el.hasOwnProperty('multi') " class="flex items-center ml-2 mb-1">
              <input id="default-checkbox" v-model="data[i].multi" type="checkbox" value=""
                     class="w-4 h-4 text-gray-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Multi mode</label>
            </div>
          </div>
        </template>
        <div
          class="mobTableTitle "
          :data-title="$t('forms.labels.title')"
        >
          <input
            type="text"
            class="border md:p-2 p-1 md:px-4 px-3  outline-none focus:border-teal-600 duration-300 rounded border-gray-300 w-full md:text-base text-sm"
            :placeholder="$t('forms.Enter title')"
            v-model="data[i].label"
          />
        </div>

        <div class="flex items-center gap-2 mobTableTitle" :data-title="labels.type">
          <input
            type="text"
            class="border md:p-2 p-1 md:px-4 px-3  outline-none focus:border-teal-600 duration-300 rounded border-gray-300 w-full md:text-base text-sm"
            :placeholder="$t('forms.Enter title')"
            disabled
            :value="el.labelVal"
          />
          <!--          <select-->
          <!--              disabled="true"-->
          <!--              class="outline-none bg-white border border-gray-300 text-gray-900 rounded duration-300 focus:ring-teal-500 md:text-base text-sm focus:border-teal-500 block p-1 px-3 md:p-2.5 w-full"-->
          <!--          >-->
          <!--            <option :selected="el.type === fieldTypes.InputElement" :value="fieldTypes.InputElement">Input text</option>-->
          <!--            <option :selected="el.type === fieldTypes.InputNumberElement" :value="fieldTypes.InputNumberElement">Input number</option>-->
          <!--            <option :selected="el.type === fieldTypes.SelectElement" :value="fieldTypes.SelectElement">Select</option>-->
          <!--            <option :selected="el.type === fieldTypes.CheckboxElement" :value="fieldTypes.CheckboxElement">Checkbox-->
          <!--            </option>-->
          <!--            <option :selected="el.type === fieldTypes.RadioGroup" :value="fieldTypes.RadioGroup">Radio buttons</option>-->
          <!--            <option :selected="el.type === fieldTypes.ImageElement" :value="fieldTypes.ImageElement">Images uploading-->
          <!--            </option>-->
          <!--          </select>-->
          <button @click="removeElement(i)"
                  class="bg-red-500 hover:bg-red-600 p-1 md:p-2 px-2 md:px-4 text-white rounded">
            <i class="bx bx-trash" style="transform: translateY(2px)"></i>
          </button>
          <!--          <pre class="w-100">-->
          <!--            {{ el }}-->
          <!--          </pre>-->

        </div>


        <template
          v-if="('variants' in el.element || el.element.hasOwnProperty('variants')) && el.type !== fieldTypes.CheckboxElement">
          <div v-for="(variant, vi) in el.element.variants" class="">
            <div class="border p-2 px-3 text-sm rounded border-gray-300 w-full flex">
              <input
                v-model="data[i].element.variants[vi]"
                class="text-sm outline-none w-full"
                :placeholder="`Option`"
              >
              <button v-if="vi != 0" @click="removeElement(vi, data[i].element.variants)"
                      class="text-gray-400 hover:text-gray-600">
                <svg class="w-3 h-3 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
              </button>
            </div>
          </div>
          <button
            v-if="el.type !== fieldTypes.CheckboxElement"
            type="button"
            @click="data[i].element.variants.push('')"
            class="text-gray-700   w-full border-gray-600 hover:bg-gray-100 px-3 py-2 duration-200 font-medium rounded-lg text-sm  text-center focus:ring-2 focus:outline-none focus:ring-blue-100 border"
          >
            <span>Add option</span>
          </button>
        </template>
      </div>

      <!--      <div v-if="newField" class="mt-2">-->
      <!--        <div class=" py-1">-->
      <!--          <div>-->
      <!--            <div class="mb-3" v-if="'icon' in newField || newField.hasOwnProperty('icon')">-->
      <!--              <label for="first_name" class="block mb-1 text-sm font-medium text-gray-900">-->
      <!--                {{ labels["icon"] }}-->
      <!--              </label>-->
      <!--              <div-->
      <!--                class="border text-sm rounded border-gray-300 w-full p-2 flex">-->
      <!--                <input-->
      <!--                  v-model="newField.icon"-->
      <!--                  class="px-1 text-sm outline-none  duration-300 w-full "-->
      <!--                  :placeholder="labels['icon']"-->
      <!--                >-->
      <!--                <a href="/client/icons" target="_blank" class="text-teal-600 px-2 h-full border-l border-gray-300"-->
      <!--                   style="white-space: nowrap">List of icons-->
      <!--                </a>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="mb-3">-->
      <!--              <label for="first_name" class="block mb-1 text-sm font-medium text-gray-900">-->
      <!--                {{ labels["title"] }}-->
      <!--              </label>-->
      <!--              <input-->
      <!--                v-model="newField.label"-->
      <!--                class="border p-2 px-3 text-sm outline-none focus:border-teal-600 duration-300 rounded border-gray-300 w-full"-->
      <!--                :placeholder="labels['title']"-->
      <!--              >-->
      <!--            </div>-->
      <!--            <div v-if="'multi' in newField || newField.hasOwnProperty('multi') " class="flex items-center mb-4">-->
      <!--              <input id="default-checkbox" v-model="newField.multi" type="checkbox" value=""-->
      <!--                     class="w-4 h-4 text-gray-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">-->
      <!--              <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Multi mode</label>-->
      <!--            </div>-->
      <!--            <div v-if="'variants' in newField.element || newField.element.hasOwnProperty('variants') ">-->
      <!--              <div v-for="(variant, i) in filterVariants(newField.element.variants, newField.type)" class="mb-3">-->
      <!--                <label for="first_name" class="block mb-1 text-sm font-medium text-gray-900">-->
      <!--                  {{ `Options ${i + 1} number` }}-->
      <!--                </label>-->
      <!--                <div class="border p-2 px-3 text-sm rounded border-gray-300 w-full flex">-->
      <!--                  <input-->
      <!--                    v-model="newField.element.variants[i]"-->
      <!--                    class="text-sm outline-none w-full"-->
      <!--                    :placeholder="`Options ${i + 1} number`"-->
      <!--                  >-->
      <!--                  <button v-if="i != 0" @click="removeElement(i, newField.element.variants)"-->
      <!--                          class="text-gray-400 hover:text-gray-600">-->
      <!--                    <svg class="w-3 h-3 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
      <!--                         viewBox="0 0 14 14">-->
      <!--                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
      <!--                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />-->
      <!--                    </svg>-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--              <button-->
      <!--                v-if="newField.type !== fieldTypes.CheckboxElement"-->
      <!--                type="button"-->
      <!--                @click="newField.element.variants.push('')"-->
      <!--                class="text-gray-700 mt-3  w-full border-gray-600 hover:bg-gray-100 px-3 py-1.5 duration-200 font-medium rounded-lg text-sm  text-center focus:ring-2 focus:outline-none focus:ring-blue-100 border"-->
      <!--              >-->
      <!--                <span>Add option</span>-->
      <!--              </button>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="flex flex-wrap gap-1 mt-5">
        <button
          v-for="field in addFieldsBtns"
          :key="field.type"
          @click="addActiveField(field)"
          class="px-3 py-1.5 text-gray-700  border-gray-600 hover:bg-gray-100 duration-200 font-medium rounded-lg text-sm  text-center focus:outline-none  border"
        >
          {{ $t('forms.fieldsBtns.' + field.name) }}
        </button>
      </div>
      <h3 class="md:text-3xl text-2xl mt-4 mb-2 text-gray-700">{{ $t("forms.Available for agents") }}</h3>
      <div v-for="availableUser in availableUsers" class="flex items-center mb-2">
        <input
          id="default-checkbox"
          type="checkbox"
          class="w-4 h-4 text-gray-700 border bg-gray-100 border-gray-300 rounded-lg "
          @click="setUser($event, availableUser.id)"
          :checked="isChecked(availableUser.id)"
        />
        <label for="default-checkbox" class="ml-2 text-sm text-gray-900"> {{availableUser.name}} </label>
      </div>
      <button
        @click="saveForm"
        class="bg-gray-500 hover:bg-gray-700 p-2 px-4 rounded text-white mt-3"
      >
        {{ $t('btns.Save') }}
      </button>
    </div>
    <div class="lg:w-[25%]">
      <h3 class="text-xl md:text-2xl mb-3 text-gray-700">{{ $t('titles.Preview') }}</h3>
      <div class="bg-white rounded-t-xl">
        <div class="px-4 flex items-center justify-between py-3">
          <span class="text-sm">19:30</span>
          <div class="flex items-center gap-2">
            <i class="font-bold text-lg bx bx-signal-5"></i>
            <i class="font-bold text-lg bx bx-wifi"></i>
            <i class="font-bold text-lg bx bxs-battery"></i>
          </div>
        </div>
        <div class="px-6 py-5 rounded-xl bg-gray-200">
          <h3 class="text-xl text-gray-700 mb-2">#0012345</h3>
          <h3 class="md:text-3xl text-2xl text-gray-700 mb-5">{{ formName }}</h3>
          <div v-for="item in getData">
            <div v-if="item.type === fieldTypes.InputElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <input type="text"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     :placeholder="item.label" readonly>
            </div>
            <div v-if="item.type === fieldTypes.InputNumberElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <input type="number"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     :placeholder="item.label" readonly>
            </div>
            <div v-if="item.type === fieldTypes.SelectElement" class="mb-3">
              <v-select
                :label="item.label"
                :multiple="item?.multi"
                :items="item.element.variants"
              ></v-select>
            </div>
            <div v-if="item.type === fieldTypes.RadioElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <div>
                <div v-for="variant in item.element.variants" class="flex items-center mb-4">
                  <input type="radio" value="" name="default-radio"
                         class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ variant }}</label>
                </div>
              </div>
            </div>
            <div v-if="item.type === fieldTypes.CheckboxElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <div>
                <div v-for="variant in item.element.variants" class="flex items-center mb-4">
                  <input id="default-checkbox" type="checkbox" value=""
                         class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ variant }}</label>
                </div>
              </div>
            </div>
            <div v-if="item.type === fieldTypes.TextAreaElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <textarea id="message" rows="4" readonly
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  "
                        :placeholder="item.label"></textarea>
            </div>
            <div v-if="item.type === fieldTypes.ImageElement" class="mb-3">
              <label v-if="item.label"
                     class="flex align-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <img v-if="item.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + item.icon + '.svg'" alt="">
                {{ item.label }}
              </label>
              <UploadImage :size="'small'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.formAddItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-gap: 5px;

  .titleOption {
    grid-column: 1/4;
    margin-top: 5px;
  }
}
</style>
