<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"
import axios from "@axios";

const dataTable: DataTable = {
  url: route("admin.tariff.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Name",
      name: "name",
      sortable: true,
      searchable: true,
    },
    {
      title: "Price",
      name: "price",
      sortable: true,
      searchable: true,
    },
    {
      title: "Period",
      name: "period",
    },
    {
      title: "Agents",
      name: "users",
    },
    {
      title: "Fields",
      name: "fields",
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "price",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  refs: reactive({
    showPassword: false,
  }),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  fields: ref({ name: "", price: "", period: "", users: "", fields: "" }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.tariff.update", { id: item.id })
    updateForm.title.value = item.name
    updateForm.fields.value = {
      name: item.name,
      price: item.price,
      period: item.period,
      users: item.users,
      fields: item.fields,
    }
    updateForm.active.value = true
  },
  activeTariff(item: any){
    let futureActive = 0;
    if(item.active == 1){
      futureActive = 0;
    }else {
      futureActive = 1;
    }
    axios.post(`/admin/tariff/${item.id}`, {
      'currentActive' : futureActive
    }).then((response) => {
        if(response.data.result == true){
          dataTable.refresh();
        }
    });
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Tariff",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.tariff.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Tariff "${item.name}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Tariffs">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <!-- 👉 Add user button -->
            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">
                  <h6 class="text-base">
                    {{ capitalizeHyphenated(item.raw.name) }}
                  </h6>
                </div>
              </div>
            </template>

            <template #item.price="{ item }">
              {{ item.raw.price - 0 }} $
            </template>

            <template #item.period="{ item }">
              {{ item.raw.period }} days
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
                <VTooltip
                    activator="parent"
                    location="start"
                >Edit tariff</VTooltip>
              </IconBtn>
              <IconBtn @click="updateForm.activeTariff(item.raw)">
                <VIcon :icon= "(item.raw.active)?'tabler-eye':'tabler-eye-off'" />
                <VTooltip
                    v-if="item.raw.active"
                    activator="parent"
                    location="top"
                >Deactivate tariff</VTooltip>
                <VTooltip
                  v-else
                  activator="parent"
                  location="top"
                >Activate tariff</VTooltip>
              </IconBtn>
              <IconBtn @click="deleteForm.init(item.raw)">
                <VIcon icon="tabler-trash" />
                <VTooltip
                    activator="parent"
                    location="end"
                >Remove tariff</VTooltip>
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.tariff.store')"
      title="Create Tariff"
      :fields="{ name: '', price: '', period: '', users: 0, fields: 0 }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.price"
            label="Price"
            prefix="$"
            type="number"
            :error-messages="form.errors?.price"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.period"
            label="Period, days"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.period"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.users"
            label="Max agents"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.users"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.fields"
            label="Max fields"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.fields"
          />
        </VCol>
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.price"
            label="Price"
            prefix="$"
            type="number"
            :error-messages="form.errors?.price"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.period"
            label="Period, days"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.period"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.users"
            label="Max agents"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.users"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.fields"
            label="Max fields"
            type="number"
            pattern="[0-9]+"
            :error-messages="form.errors?.fields"
          />
        </VCol>
      </template>
    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
