@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

.v-field__input:focus {
    box-shadow: none !important;
}
.layout-wrapper.layout-nav-type-vertical .layout-navbar, .layout-wrapper.layout-nav-type-vertical .layout-footer{
}


