<script setup>
import Loading from '../../components/Loading.vue'
import UploadImage from "../../components/UploadImage.vue"
import {ref} from 'vue'

const img = ref(null)
</script>

<template>
  <div class="p-5 rounded bg-white shadow">

    <UploadImage  v-model="img" :placeholder="$t('forms.Add avatar')" :placeholder-replace="$t('forms.Replace avatar')"/>

    <h3 class="text-md mb-2 text-gray-800">{{ $t('forms.Agent name') }}</h3>
    <input
      type="text"
      class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
      placeholder="Enter Agent Name"
    />
    <h3 class="mb-2 text-gray-800">{{ $t('forms.Agent Access Code') }}</h3>
    <input
      type="text"
      class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300 bg-gray-100"
      value="AEg4drhgSH$HrdhtS5hS%H%HD%"
      disabled
    />
    <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Agent Comment') }}</h3>
    <textarea
      class="h-28 w-full border p-3 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-400"
    ></textarea>
    <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Choose Company') }}</h3>
    <select
      class="outline-none bg-white border border-gray-300 text-gray-900 rounded focus:ring-teal-500 focus:border-teal-500 block w-full p-3 mb-5"
    >
      <option selected>Choose company</option>
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
    <div class="flex items-center justify-center">
      <Loading />
    </div>
    <h3 class="md:text-3xl text-2xl mb-2 text-gray-700">{{ $t('titles.Available form') }}</h3>
    <div class="flex items-center mb-2">
      <input
        id="default-checkbox"
        type="checkbox"
        class="w-4 h-4 text-gray-700 border bg-gray-100 border-gray-300 rounded-lg "
      />
      <label for="default-checkbox" class="ml-2 text-sm text-gray-900"> Form 1 name </label>
    </div>
    <div class="flex items-center mb-5">
      <input
        id="default-checkbox"
        type="checkbox"
        class="w-4 h-4 text-gray-700 border bg-gray-100 border-gray-300 rounded-lg"
        checked
      />
      <label for="default-checkbox" class="ml-2 text-sm text-gray-900"> Form 2 name </label>
    </div>
    <button class="bg-gray-500 p-2 px-4 rounded text-white">{{ $t('btns.Add Agent') }}</button>
  </div>
</template>

<style scoped></style>
