<script setup>
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import ToggleButton from "../../components/Buttons/ToggleButton.vue"
import EditButton from "../../components/Buttons/EditButton.vue"
import ViewButton from "../../components/Buttons/ViewButton.vue"
import Pagination from "../../components/Pagination.vue"
import StatusButton from "../../components/Buttons/StatusButton.vue"
import Tags from "../../components/Tags.vue"
import { usePagination } from "@/composables/usePagination"
import { router } from "@inertiajs/vue3"

const props = defineProps({ users: Object, form: Object, company: Object })

const { users, form, company } = toRefs(props)

let { currentPage, itemsPerPage, paginatedData, totalPages, setPage } = usePagination(users.value)

const changeActiveStatusUser = (user) => {
  router.post(route("client.users.changeActiveStatusUser", { user: user.id }))
}

</script>

<template>
  <!--    <pre>{{ users }}</pre>-->
  <!--    <pre>{{ form }}</pre>-->
  <!--    <pre>company {{ company }}</pre>-->
  <div>
    <div class="md:flex items-center justify-between mb-5">
      <div v-if="form">
        <div class="mb-1 text-xl">{{ form.name }}</div>
        <div v-if="company" class=" text-md">{{ company.name }}</div>
      </div>

      <a
        v-else
        href="/client/users/create"
        class="flex items-center gap-2 bg-dark hover-bg-dark-700 rounded px-5 p-2 text-white md:mb-0 mb-2"
      >
        <i class="bx bx-plus"></i>
        <span>{{ $t("btns.Add agents") }}</span>
      </a>
      <div class="relative md:w-72 h-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="bx bx-search text-gray-500 text-xl"></i>
        </div>
        <input
          type="text"
          autocomplete="off"
          class="outline-none block w-full h-full p-3 pl-10 text-sm text-gray-900 rounded bg-white border border-gray-300 ring-0 focus:ring-0 focus:border-gray-400"
          :placeholder="$t('forms.Search for result')"
          required
        />
      </div>
    </div>

    <div class="mb-5 md:overflow-x-auto shadow-md sm:rounded-lg">
      <table v-mobile-table="{titleBase: true}" class="w-full text-left">
        <thead class="text-sm text-gray-500 uppercase bg-white">
        <tr>
          <th class="px-5 py-3 font-bold">{{ $t("tables.MEMBER NAME") }}</th>
          <th class="px-5 py-3 font-bold">{{ $t("tables.COMPANY") }}</th>
          <th class="px-2 py-3 font-bold">{{ $t("tables.FORMS") }}</th>
          <th class="px-5 py-3 font-bold">{{ $t("tables.REQUESTS") }}</th>
          <th class="px-5 py-3 font-bold">{{ $t("tables.APP STATUS") }}</th>
          <th class="px-5 py-3 font-bold">{{ $t("tables.ACTION") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="el in users"
            class="bg-white font-medium text-gray-900 border-b "
        >
          <!--          el % 2 == status.active-->
          <td class="py-4 whitespace-nowrap flex items-center pl-5 gap-2">
            <img :src="el.profile_photo_url" class="h-9 w-9 rounded-full" alt="" />
            <a :href="route('client.users.show', el.id)"> {{ el.name || el.username || el.email }}</a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap">
            <a v-if="Array.isArray(el.companies) && el.companies.length"
               :href="route('client.companies.show', el.companies[0].id)"> {{ el.companies[0].name }} </a>
          </td>
          <td class="px-2 py-4">
            <a :href="route('client.forms.index', {user_id: el.id})">{{ el.form_requests.length }}</a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap">
            <LoadMoreTemplate
              :array="el.form_requests"
              :gap="'gap-2'"
              :show-elements="3"
              :load-more-size="'small'"
            >
              <template #body="{ loadMore }">
                <!--                <Tags v-for="i in loadMore" :status="i.status" :text="`#${i.title} ${i.status}`" :transparent="true"/>-->
                <a v-for="i in loadMore" :href="route('client.requests.show', { request: 1 })">
                  <Tags
                    :status="i.status"
                    :text="`#${i.uid} ${i.status}`"
                    :transparent="true"
                  />
                </a>
              </template>
            </LoadMoreTemplate>
          </td>
          <td class=" px-5 py-4 whitespace-nowrap">
            <Tags :status="el.status" :transparent="true" />
          </td>
          <!--          <td v-else-if="el % 3 == 1" class=" px-5 py-4 whitespace-nowrap">-->
          <!--            <Tags status="Unactive" :transparent="true" />-->
          <!--          </td>-->
          <!--          <td v-else class=" px-5 py-4 whitespace-nowrap">-->
          <!--            <Tags status="Deleted" :transparent="true" />-->
          <!--          </td>-->
          <td class="px-5 py-4 whitespace-nowrap">
            <div class="flex gap-2">
              <a :href="route('client.users.show', el.id)">
                <ViewButton />
              </a>
              <a href="/client/users/create">
                <EditButton />
              </a>
              <ToggleButton
                :active="el.active"
                @confirm="changeActiveStatusUser(el)"
              />
              <DeleteButton />
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <Pagination
      v-model:page="currentPage"
      :max-items="users.length"
      :perPage="itemsPerPage"
      :length="totalPages"
    />
  </div>
</template>

<style scoped></style>
