<script setup>
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import ToggleButton from "../../components/Buttons/ToggleButton.vue"
import EditButton from "../../components/Buttons/EditButton.vue"
import Tags from "../../components/Tags.vue"
import { ref, reactive } from "vue"
import LoadMoreButton from "../../components/Buttons/LoadMoreButton.vue"
import LoadMoreTemplate from "../../components/LoadMore/LoadMoreTemplate.vue"

const props = defineProps({ user: Object })

const { user } = toRefs(props)

</script>

<template>
<!--    <pre>{{ user }}</pre>-->
  <div v-if="user">
    <div class="flex items-center gap-5 mb-5">
      <h3 class="text-4xl text-gray-700">{{ user.name || user.email }}</h3>
      <div class="flex items-center gap-3">
          <a :href="route('client.users.edit', { id: user.id })"><EditButton /></a>
        <ToggleButton />
        <DeleteButton />
      </div>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-list-check text-lg"></i>
        <span class="text-lg">{{ $t('titles.Forms') }}</span>
      </div>
      <LoadMoreTemplate
        :array="[]"
      >
        <template #body="{ loadMore }">
          <a v-for="el in loadMore" href="/client/form" class="text-sm bg-black/10 text-gray-700 p-2 px-3 rounded">
            {{ el }}
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="flex items-center gap-2 text-gray-700 mb-5">
        <i class="bx bx-receipt text-xl"></i>
        <h3>{{ $t('titles.Requests') }}</h3>
      </div>

      <LoadMoreTemplate
        :array="user.form_requests"
      >
        <template #body="{ loadMore }">
          <Tags v-for="item in loadMore" :key="item" :transparent="true"
                :status="item.status" :text="'#' + item.uid + ' ' + item.status"
                :p="'p-2 px-3'" />

        </template>
      </LoadMoreTemplate>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="flex items-center gap-2 text-gray-700 mb-5">
        <i class="bx bx-home-circle text-lg"></i>
        <h3>{{ $t('titles.Companies') }}</h3>
      </div>

      <LoadMoreTemplate
        :array="user.companies"
      >
        <template #body="{ loadMore }">
          <a v-for="el in loadMore" href="/client/companies/1" class="flex items-center gap-3">
            <img :src="el.logo_url" alt="" class="h-9 w-9 rounded-full"/>

            <span>{{ el.name }}</span>
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
  </div>
</template>

<style scoped></style>

