<script setup>
import ava from '@images/users/avatar-1.jpg'

const props = defineProps(['img', 'title', 'text', 'isactive', 'isChat', 'selected', 'el'])
const emit = defineEmits(['update:toggle-change'])

const handleToggleChange = () => {
  // Изменяем значение toggle на противоположное
  // toggle.value = !toggle.value;
  // Отправляем событие с использованием definedEmit
  emit('update:toggle-change', props.el);
};
</script>

<template>
  <div
    class="hover:bg-gray-100 mb-1 shadow cursor-pointer p-4 py-3 rounded-lg relative"
    :class="isactive == '1' ? 'bg-gray-100' : 'bg-white'"
  >
    <div class="flex items-center">
      <input
        v-if="isChat"
        type="checkbox"
        class="w-4 h-4 text-gray-500 bg-gray-100 border-gray-300 rounded"
        :checked="selected"
        @change="handleToggleChange"
      />
      <label class="ml-2 text-sm font-medium text-gray-900 flex items-center gap-4">
        <img :src="ava" class="h-9 w-9 rounded-full" alt="" />
        <div class="">
          <h3 class="text-md text-gray-800">{{ title }}</h3>
          <span class="text-xs text-gray-500">{{ text }}</span>
        </div>
      </label>
      <span
        class="absolute right-5 text-xs p-0.5 px-2 rounded text-white"
        :class="isactive ? 'bg-dark' : 'bg-gray-500'"
        >2</span
      >
    </div>
  </div>
</template>

<style scoped></style>
