<script setup>
const props = defineProps(["icon", "text", "data", "w", "design", "search", "noSearch"])
import { ref } from "vue"
import { router } from "@inertiajs/vue3"

const showDropdown = ref(false)

const selectUser = (value) => {
  const data = {}

  if (value !== "All") {
    data.user_id = value.id
  }

  router.get(route("client.requests.index"), data, {
      preserveState: true,
    },
  )
  showDropdown.value = false
}

const activeItem = ref(props.data[0] || "")


const searchFunc = (event) => {
  const data = {username: event.target.value}

  router.get(route("client.requests.index"), data, {
      preserveState: true,
    },
  )
}

</script>

<template>
  <div>
    <div class="relative" v-click-outside="close">
      <button
        class="flex items-center gap-2 p-1.5 px-4 rounded text-sm group"
        @click.stop.prevent="showDropdown = !showDropdown"
        :class="
        design
          ? design
          : 'bg-dark-400 text-white hover:bg-gray-500 hover:text-white focus:bg-gray-500 focus:text-white '
      "
      >
        <i :class="icon" class="text-lg"></i>
        <span class="text-sm whitespace-nowrap">{{ text }}</span>
      </button>
      <div
        v-if="showDropdown"
        class="z-10 absolute left-0 top-12 rounded-lg text-gray-500 text-md text-start bg-white shadow-lg py-2 duration-300 transition ease-in-out delay-150 -translate-y-1"
        :class="w ? w : 'w-40'"
      >
        <div v-if="!noSearch" class="px-2">
          <input @input="searchFunc" type="text" class="border px-2 p-1 text-sm mb-1 rounded-lg border-gray-200 w-full"
                 :placeholder="$t('forms.search')" />
        </div>
        <div
          class="px-3 md:px-4 p-2  text-gray-800 hover:bg-gray-200 cursor-pointer onMob-text-little"
          @click="selectUser('All')"
        >
          {{ $t('forms.All') }}
        </div>
        <div
          v-for="el in data"
          class="px-3 md:px-4 p-2  text-gray-800 hover:bg-gray-200 cursor-pointer onMob-text-little"
          @click="selectUser(el)"
        >
          {{ el.name }}
        </div>
      </div>
    </div>

  </div>
</template>

<style scoped></style>
