<script setup>
import { ref } from 'vue'
import StatusButton from './Buttons/StatusButton.vue'
import TagSelect from "./TagSelect.vue"
import { FieldsSecurity } from "@/utils/FieldsSecurity"

const props = defineProps(['price', 'data', 'isactive', 'color', 'text', 'design', 'fields', 'id'])
const emits = defineEmits(['clickStatus'])
const field = ref(false)
const toggleField = () => (field.value = !field.value)

const clickStatus = (id) => {
  emits('update:clickStatus', id)
}

const getFields = async (fields_encrypted) => {
  console.log(fields_encrypted)
  if(!fields_encrypted) return

  const Security = new FieldsSecurity()
  let res = null

  try {
    res = await Security.readData(fields_encrypted)

    if(res.error){
      return errorDownloadFields.value = true
    }

    fieldList.value = res.data
    errorDownloadFields.value = false
  }catch (err){

  }
}

const errorDownloadFields = ref(false)
const fieldList = ref([])

onMounted( () => {
  getFields(props.fields.fields_encrypted)
})

console.log('asd', props.data, props.text)
</script>

<template>
  <div class="p-2 mb-1 rounded-lg" :class="isactive ? 'bg-gray-200' : 'bg-white '">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div class="flex items-center gap-2">
          <StatusButton @click="clickStatus(id)" :text="'#' + id" :bg="design" pad="p-1.5 md:p-2.5 md:px-4 px-2 text-blue-500 text-sm cursor-pointer onMob-text-little" class="h-opacity-80" />
          <TagSelect  :value="text"  :no-search="true"/>
        </div>
        <span class="text-base md:text-lg ml-3">${{price}}</span>
      </div>
      <div @click="toggleField" class="ml-8 pr-2 relative flex items-center gap-2 cursor-pointer">
        <span
          class="text-xl text-gray-800 absolute -left-7 duration-300"
          :class="field ? 'rotate-180' : ''"
        >
          <i class="bx bx-chevron-down"></i>
        </span>
        <span class="text-sm onMob-text-little">{{ $t('forms.Fields') }}:
          <span v-if="!errorDownloadFields">{{ fieldList?.length || 0 }}</span>
          <span v-else style="color: red">{{ $t('forms.Error read') }}</span>
        </span>
      </div>
    </div>
    <div :class="field ? 'mt-3' : ''">
      <div
        v-for="el in fieldList"
        class="duration-300 items-center gap-2"
        :class="field ? 'mb-1 px-1 h-auto flex w-full' : 'hidden'"
      >
        <i v-if="el.icon && field" :class="el.icon"></i>
        <span class="duration-300 text-sm text-gray-500">{{ el.label }}:</span>
        <span class="duration-300 text-sm">{{ el.value }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
