<script setup>
import {onBeforeUnmount, onMounted, ref} from 'vue'
import { langs } from '../constants/langs'
import { router } from "@inertiajs/vue3"
import route from "ziggy-js"
import { useI18n } from 'vue-i18n'
import axios from "Admin/Resources/ts/plugins/axios";
const props = defineProps({ AuthUser: Object })

const currentLang = ref('')

const isShort = ref(false)
const toggleShort = () => (isShort.value = !isShort.value)

const drop = ref(false)
const curUserName = ref(localStorage.getItem('UserName'))
const changeDrop = () => (drop.value = !drop.value)
const closeDrop = () => (drop.value = false)

const lang = ref(false)
const changeLang = () => (lang.value = !lang.value)
const closeLang = () => (lang.value = false)

const fullscreen = ref(false)
const toggleFullScreen = () => {
  fullscreen.value ? document.exitFullscreen() : document.documentElement.requestFullscreen()
  fullscreen.value = !fullscreen.value
}

const searchToggleShow = ref(false)
const toggleSearch = () => {
  if(window.innerWidth < 550){
    searchToggleShow.value = !searchToggleShow.value
  }
}

const handleResize = () => {
  searchToggleShow.value = false;
};
const { locale: localeI18, t } = useI18n();

onMounted(() => {
  window.addEventListener('resize', handleResize);
  const locale = localStorage.getItem('locale')
  const find = langs.find(lang => lang[2] === locale) || langs[0]
  currentLang.value = find

  if(curUserName.value === null){
    axios.get(route('client.profile.info')).then(response => {
      localStorage.setItem('UserName', response.data.name);
    })
  }
});

onBeforeUnmount(() => {
  window.removeEventListener('resize', handleResize);
});

const logout = () => {
  router.post(route("logout"), null, {
    onFinish: () => {
      window.location = "/client/auth"
    },
  })
}



const changeLocale = (locale) => {
  currentLang.value = langs.find(lang => lang[2] === locale) || langs[0];
  lang.value = false;
  localStorage.setItem('locale', locale);
  localeI18.value = locale;
};

</script>

<template>
  <div
    class="fixed z-50 w-[100%] h-[70px] lg:w-[calc(100%-260px)] md:w-[calc(100%-80px)] bg-white shadow flex items-center justify-between px-5"
  >
    <div class="flex items-center gap-3">
      <div class="text-center md:hidden flex-shrink-0">
        <img src="@images/logo.svg" class="mx-auto" alt=""/>
      </div>
      <div class="relative search-header" :class="{'active': searchToggleShow}">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 cursor-pointer" @click="toggleSearch">
          <i v-if="!searchToggleShow" class="bx bx-search text-gray-500 text-xl "></i>
          <i v-else class="bx bx-cross rotate-45 text-gray-500 text-xl"></i>
        </div>
        <input
          type="text"
          autocomplete="off"
          class="outline-none block w-64 p-2 pl-10 text-sm text-gray-900 rounded-lg bg-gray-100 border-none"
          :placeholder="$t('forms.search')"
          required
        />
      </div>
    </div>
    <div v-if="!searchToggleShow" class="flex items-center gap-5 text-gray-500">
      <div class="relative" v-click-outside="closeLang">
        <img
          @click="changeLang"
          :src="currentLang[0]"
          class="w-5 h-5 rounded-md cursor-pointer hover:ring-8 hover:ring-blue-300/40"
        />
        <div
          class="absolute right-0 top-12 w-36 bg-white shadow-xl rounded-lg py-2"
          :class="lang ? 'block' : 'hidden'"
        >
          <div
            v-for="lang in langs"
            class="px-4 py-2 cursor-pointer hover:bg-gray-200 flex items-center gap-3"
            @click="
              () => {
                currentLang = lang
                changeLocale(lang[2])
              }
            "
          >
            <img :src="lang[0]" class="w-5 h-5 rounded-md cursor-pointer" />
            <span class="text-sm">{{ lang[1] }}</span>
          </div>
        </div>
      </div>
      <i
        @click="() => toggleFullScreen()"
        v-if="!fullscreen"
        class="bx bx-fullscreen text-2xl hover:bg-blue-500/20 p-1 px-2 rounded-full cursor-pointer flex items-center justify-center"
      ></i>
      <i
        @click="() => toggleFullScreen()"
        v-if="fullscreen"
        class="bx bx-exit-fullscreen text-2xl hover:bg-blue-500/20 p-1 px-2 rounded-full cursor-pointer flex items-center justify-center"
      ></i>
      <div class="relative" v-click-outside="closeDrop">
        <div @click="changeDrop" class="cursor-pointer">
          {{ curUserName }}
          <i class="bx bxs-chevron-down"></i>
        </div>
        <div
          class="absolute py-2 rounded-lg top-12 duration-300 w-36 bg-white shadow-xl"
          :class="drop ? 'right-0' : '-right-56'"
        >
          <a
            @click="changeDrop"
            href="/client/profile"
            class="px-5 flex items-center gap-2 cursor-pointer hover:bg-gray-300/50 p-1 mb-2"
          >
            <i class="bx bx-user text-lg"></i> Profile
          </a>
          <hr class="bg-gray-500 w-full mb-2" />
          <a
            @click.prevent="logout"
            href="#"
            class="px-5 flex items-center gap-2 cursor-pointer hover:bg-gray-300/50 p-1 text-red-500"
          >
            <i class="bx bx-log-out-circle"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">

.search-header{
  @media (max-width: 550px) {
    input{
      display: none;
    }
    &.active{
      input{
        display: block;
      }
    }
  }
}

</style>
