<script setup></script>

<template>
  <div class="loadingio-spinner-rolling-1mq1x1xyep0j"><div class="ldio-bwv9rnom9np"><div></div></div></div>
</template>

<style >

@keyframes ldio-bwv9rnom9np {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-bwv9rnom9np div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 6px solid #333;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-bwv9rnom9np div {
  animation: ldio-bwv9rnom9np 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-1mq1x1xyep0j {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-bwv9rnom9np {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bwv9rnom9np div { box-sizing: content-box; }
</style>
