<template>
  <div class="flex align-items-center justify-content-between w-full my-5">
    <div class="">
      <span class="text-gray-500 md:text-base text-sm" v-html="$t('pagination.showing', { calc, maxItems: +maxItems })">
      </span>
    </div>
    <v-pagination
      v-if="!disabled"
      v-model="value"
      :size="'small'"
      :length="length"
      :total-visible="5"
      class="ml-auto"
    ></v-pagination>
  </div>
</template>

<script setup>
const props = defineProps(["page", "length", "setPage", "maxItems", "perPage"])
const emit = defineEmits(["update:page"])

const calc = computed(() => {
  const res = +value.value * +props.perPage
  if (res > +props.maxItems) return +props.maxItems
  return res
})

const disabled = computed(() => {
  return +props.perPage >= +props.maxItems
})

const value = computed({
  get() {
    return props.page
  },
  set(value) {
    emit("update:page", value)
  },
})
</script>

<style scoped>

</style>
