<script setup>
import { getTitle, menus } from "@/constants/menu"
import { useEventListener } from '@vueuse/core'
import axios from "Admin/Resources/ts/plugins/axios";
import route from "ziggy-js";
import {onMounted, ref, watch,} from "vue";
import {langs} from "@/constants/langs";
import {usePagination} from "@/composables/usePagination";
const title = getTitle()
const countReq = ref(localStorage.getItem('RequestCount') ? localStorage.getItem('RequestCount') : 0);
document.title = title

onMounted(() => {
  useEventListener("reqCount", () => {
    countReq.value = localStorage.getItem('RequestCount')
  })
})
</script>

<template>
  <div class="fixed z-30 lg:w-[260px] md:w-20 bg-white h-screen shadow Sidebar">
    <div class="text-center flex align-center justify-center p-2">
      <img src="@images/logo.svg" class="mr-3" alt="" />
      <div  class="text-left ">B2BRQST</div>
    </div>
    <div class="mb-5 mt-5">
      <a
        v-for="menu in menus"
        :href="'/client' + menu.path"
        class="relative d-flex mb-1"
      >
        <div class="absolute h-full py-2.5 hidden left">
          <div class="border-[3px] rounded-r-lg rounded-l h-full border-teal-700"></div>
        </div>
        <div class="menu hover:text-gray-800 text-gray-500 flex items-center px-7 p-2 gap-2"
             :class="{'activeLink' : title.toLowerCase().includes(menu.name.toLowerCase())}">
          <i :class="menu.icon" class="text-xl"></i>
          <span class="lg:block hidden">{{ $t('sidebar.menus.' + menu.name) }} </span>
          <span
            v-if="menu.notif"
            class="lg:block hidden absolute bg-dark text-white right-5 rounded font-bold text-xs p-1 px-2"
            @reqCount="reqCountEvent"
          >{{countReq}}</span
          >
        </div>
      </a>
    </div>
    <div class="lg:block hidden text-center">
      <img src="@images/support.svg" class="mb-2 h-28 w-full" alt="" />
      <p class="mb-3 text-gray-500 text-sm">{{ $t('sidebar.Have any questions') }}</p>
      <button
        class="bg-dark hover-bg-dark-700 text-white flex items-center gap-2 mx-auto p-2 rounded px-4"
      >
        <i class="bx bx-paper-plane"></i>
        <span>{{ $t('btns.Get support') }}</span>
      </button>
    </div>
  </div>

  <div class="bottomNavBar fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200">
    <div class="flex items-center h-full justify-between mx-auto sm:px-3 px-1">
      <a :href="'/client' + menu.path" v-for="menu in menus">
        <button
          type="button"
          class="inline-flex flex-col items-center justify-center font-medium sm:px-3 px-1  group relative"
          :class="{'activeLinkMob' : title.toLowerCase().includes(menu.name.toLowerCase())}"
        >
          <i :class="menu.icon" class="text-xl"></i>

          <span
            class="text-gray-500   bottomNavBar-txt" style="font-size: 11px;">{{ menu.name }}</span>
          <span
            v-if="menu.notif"
            class="lg:block hidden absolute bg-purple-600 text-white right-5 rounded font-bold  px-0 top-0"
          >{{ menu.notif }}</span
          >
        </button>
      </a>

    </div>
  </div>
</template>

<style scoped lang="scss">
.activeLink {
  background: rgb(0 0 0 / 42%);
  /*background: linear-gradient(90deg, rgba(15, 118, 110, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);*/
  background: linear-gradient(90deg, rgb(0 0 0 / 65%) 45%, rgb(255 255 255 / 40%) 100%);
  color: #fff;
}
.activeLinkMob{
  position: relative;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 8px 0 10px;
  &:after{
    content: '';
    width: 45px;
    height: 45px;
    background: #272829 ;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -100%);
  }
  i{
    position: relative;
    z-index: 10;
    color: #fff;
    transform: translateY(-8px);
  }
  .bottomNavBar-txt{
    position: relative;
    z-index: 10;
    display: block;
    color: #fff;
  }

}
.bottomNavBar {
  padding: 0 10px;
  background: #272829;
  border-radius: 10px 10px 0 0;
  i{
    color: #fff;
  }
  &-txt {
    display: none;
  }
}

.menu {
  width: 100%;
}

.a-exact-active .left {
  display: block;
}
</style>
