<template>
  <div
    class="rounded cursor-pointer "
    style="width: fit-content;font-weight: 600;"
    :style="{fontSize: fz ? '' : '12px'}"
    :class="`${getClass} ${p || 'p-1 px-2'} ${fz}`"
    @click=""
  >
    {{
      text ? text : typeof status === "number" ? $t('forms.tags.' + tabs[status]) : $t('forms.tags.' + status)
    }}
  </div>
</template>

<script setup>
import { tagColors } from "../types/Colors"

const props = defineProps(["status", "transparent", "text", 'p', 'fz'])

const tabs = ["All", "Active", "Listed", "Closed", "Deleted", "Issue"]

const getClass = computed(() => {
  let name = props.status
  if (typeof props.status === "number") {
    name = tabs[props.status] || "All"
  }

  return colors[name] ? colors[name][props.transparent ? 1 : 0] : colors["All"][1]
})

const colors = tagColors
</script>

<style scoped>

</style>
