<template>
  <div class="relative" v-click-outside="close">
    <button
      class="flex items-center md:gap-2 p-1.5 md:px-4 rounded text-sm group "
      @click.stop.prevent="showDropdown = !showDropdown"
      :class="getColor"
    >
      <i class="bx bxs-chevron-down text-lg"></i>
      <span class="text-sm whitespace-nowrap onMob-text-little">{{ name }}</span>
    </button>
    <div
      v-if="showDropdown"
      class=" absolute left-0 top-12 rounded-lg text-gray-500 text-md text-start bg-white shadow-lg py-2 duration-300 transition ease-in-out delay-150 -translate-y-1"
      :class="w ? w : 'w-40'"
      style="z-index: 300"
    >
      <div v-if="!noSearch" class="px-2">
        <input type="text" class="border px-2 p-1 text-sm mb-1 rounded-lg border-gray-200 w-full"
               placeholder="Search" />
      </div>
      <div v-for="el in data.filter(el => el !== value)" class="px-4 p-2 text-gray-800 hover:bg-gray-200 cursor-pointer" @click="selectItem(el);">
        {{ el }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue"
import { getColorByName, getColorsWithoutAll, tagColors } from "../types/Colors"

const props = defineProps(['value', 'noSearch', 'w'])
const emit = defineEmits(['update:changeStatus'])

const showDropdown = ref(false)

const close = () => {
  showDropdown.value = false
}

const name = computed(() => {
  return props.value.charAt(0).toUpperCase() + props.value.slice(1)
})

const selectItem = (el) => {
  emit('update:changeStatus', el);
  close();
}

const getColor = computed(() => getColorByName(name.value, 1))

const data = getColorsWithoutAll()
const colors = tagColors
</script>

<style scoped>

</style>
