<template>
  <div class="text-xs  whitespace-nowrap">
    <span class="text-xs p-1 rounded bg-teal-600/10 px-2 text-teal-700">{{tariff.name ? tariff.name : $t('titles.Start') }}</span>
    {{ $t('titles.till') }} {{ formatDate }} -
    <span
      @click="badge2Handler"
      :style="{pointerEvents: !!badge2Handler ? '' : 'none'}"
      class="text-xs  px-2  duration-200  hover:text-white p-1 rounded cursor-pointer"
      :class="
      (company_status === 'active') ? 'bg-blue-500/10 hover:bg-blue-500 text-blue-500' :
      (company_status === 'inactive') ? 'bg-gray-300 hover:bg-gray-700 text-gray-500' :
      (company_status === 'decline') ? 'bg-red-500/10 hover:bg-red-500 text-red-500' : ''
       "
    >
     <span v-if="company_status === 'inactive'"> {{ $t('titles.processing') }}</span>
     <span v-else> {{ $t('titles.'+company_status) }}</span>
   </span>
  </div>
</template>

<script setup>
const props = defineProps([
  "company_status",
  "created_at",
  "badge2Handler",
  "tariff"
])
defineEmits([])

const formatDate = computed(() => {
  const date = new Date(props.created_at)
  if (!isNaN(date) && date instanceof Date) {
    const day = String(date.getDate()).padStart(2, "0")
    const month = String(date.getMonth() + 1).padStart(2, "0") // добавляем 1, так как месяцы в JavaScript начинаются с 0
    const year = date.getFullYear()

    return `${day}.${month}.${year}`
  } else {
    return props.created_at
  }

})
</script>

<style scoped>

</style>
