<template>
  <div>
<!--    <input-->
<!--      type="text"-->
<!--      class="w-full border p-2 px-3 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-400"-->
<!--      :placeholder=""-->
<!--    />-->
    <label
      for="upload"
      class="text-gray-600 border border-teal-600 rounded block text-center uploadLabel-box mb-3 cursor-pointer"
      :class="size"
    >
      <span class="uploadLabel">
        <div>
          <i class="bx bx-cloud-upload text-7xl"></i>
          <h3 class="text-base md:text-2xl">{{ imagePreview ? placeholderReplace || $t('forms.Replace Image') : placeholder || $t('forms.Upload Image') }}</h3>
        </div>

        <span class="uploadLabel-preview">
          <div v-if="imagePreview" class="text-center ">
            <img :src="imagePreview" alt="Image Preview" class="mx-auto   w-full mb-3 " />

            <button
              @click.stop.prevent="removeImage"
              class="bg-red-500/10 text-red-700 hover:bg-red-500 hover:text-white duration-300 p-2 px-3 rounded w-full flex items-center justify-center"><i
              class="bx bx-trash"></i></button>
          </div>
        </span>
      </span>
    </label>
    <input @change="uploadImage" type="file" id="upload" class="hidden" />
  </div>
</template>

<script setup>
import { ref } from "vue"

const props = defineProps(["value", 'placeholder', 'placeholderReplace', 'size'])
const emits = defineEmits()

const imagePreview = ref(null)
const img = ref(null)

const uploadImage = (event) => {
  const file = event.target.files[0]
  if (file) {
    // Create a URL for the selected image
    const imageUrl = URL.createObjectURL(file)
    img.value = imageUrl // Update the img ref with the URL
    imagePreview.value = imageUrl // Set the image preview

    emits("update:modelValue", file)
  }
}

const removeImage = () => {
  imagePreview.value = null
  img.value = null
  emits("update:modelValue", null)
}
</script>

<style lang="scss" scoped>
.uploadLabel {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
  min-height: 210px;

  width: 100%;

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 30px;
    &.small{
      padding: 10px 0 10px;
      .uploadLabel{
        padding: 0 10px;
        min-height: 130px;
      }
      .text-2xl{
        font-size: 1.1rem;
      }
      .text-7xl{
        font-size: 3.5rem;
      }
      .uploadLabel-preview img{
        max-height: 110px;
      }
    }
  }

  @media (max-width: 1000px) {
    &-box{
      padding: 10px 0 10px;
      .uploadLabel{
        padding: 0 10px;
        min-height: 130px;
      }
      .text-2xl{
        font-size: 1.1rem;
      }
      .text-7xl{
        font-size: 3.5rem;
      }
      .uploadLabel-preview img{
        max-height: 110px;
      }
    }
  }
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) {
      margin-left: auto;
    }
  }

  &-preview {
    max-width: 280px;
    max-height: 210px;
    margin-left: auto;

    img {
      max-width: 100%;
      max-height: 180px;
      object-fit: contain;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
  }
}
</style>
