<script setup>
import AppTextField from "@core/components/app-form-elements/AppTextField.vue"
import { useForm } from "@inertiajs/vue3"

const props = defineProps({
  section: String,
  settings: Array,
})

const form = useForm({
  settings: {},
})

onBeforeMount(() => {
  props.settings.map((item) => {
    form.settings[item.name] = item.value
  })
})

const submit = () => {
  form.post(route("admin.setting.save"))
}
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard :title="`Settings ${section}`">
        <VCardText class="pt-2">
          <VForm
            class="mt-6"
            @submit.prevent="submit"
          >
            <VRow>
              <VCol
                v-for="item in settings"
                :key="item.id"
                md="6"
                cols="12"
              >
                <AppTextarea
                  v-if="item.options.type === 'textarea'"
                  v-model="form.settings[item.name]"
                  :label="item.options.title"
                  :error-messages="form.errors[`settings.${item.name}`]"
                />
                <VCheckbox
                  v-else-if="item.options.type === 'boolean'"
                  v-model="form.settings[item.name]"
                  :label="item.options.title"
                  true-value="1"
                  false-value="0"
                />
                <AppTextField
                  v-else
                  v-model="form.settings[item.name]"
                  :label="item.options.title"
                  :type="item.options.type"
                  :error-messages="form.errors[`settings.${item.name}`]"
                />
              </VCol>
              <VCol
                cols="12"
                class="d-flex flex-wrap gap-4"
              >
                <VBtn
                  type="submit"
                  :loading="form.processing"
                >
                  Submit
                </VBtn>
              </VCol>
            </VRow>
          </VForm>
        </VCardText>
      </VCard>
    </VCol>
  </VRow>
</template>
