<script setup>
import { router } from '@inertiajs/vue3'
import CompaniesAddEdit from "../../components/Main/CompaniesAddEdit.vue"

const props = defineProps({ tariffs: Object })

const { tariffs } = toRefs(props);

function submit({companyLogo, companyName, comment, tariffId}) {
  router.post(route('client.companies.store'), {
    company_name: companyName,
    logo: companyLogo,
    company_comment: comment,
    tariff: tariffId
  })
}

import {ref} from 'vue'

const img = ref(null)
</script>

<template>
  <CompaniesAddEdit
    :tariffs="tariffs"
    :saveHandler="submit"
  />
</template>

<style lang="scss" scoped>

</style>
