<script setup>
import { router } from '@inertiajs/vue3'
import CompaniesAddEdit from "../../components/Main/CompaniesAddEdit.vue"

const props = defineProps({ company: Object, tariffs: Object})

const { company, tariffs } = toRefs(props);

const saveForm = ({companyLogo, companyName, comment, tariffId, companyId}) => {
  console.log('companyLogo', companyLogo);
  console.log('companyName', companyName);
  console.log('comment', comment);
  console.log('companyId', companyId);
  console.log('tariffId', tariffId);

  router.put(route("client.companies.update", { company: companyId }), {
    company_name: companyName,
    //logo: companyLogo,
    company_comment: comment,
    tariff: tariffId
  })
}
</script>

<template>
  <CompaniesAddEdit
    :company="company"
    :tariffs="tariffs"
    :saveHandler="saveForm"
  />
</template>

<style lang="scss" scoped>

</style>
