
<template>
  <div>
    <ChoeseTariff
      v-model="chooseTariffModal"
      :tariffs="tariffs"
      :pay-handler="payTariff"
      v-model:tariffId="tariffId"
    />
    <div class="md:flex items-center justify-between mb-5">
      <a
        :href="route('client.companies.create')"
        class="flex items-center gap-2 bg-dark hover-bg-dark-700 rounded px-5 p-2 text-white md:mb-0 mb-2"
      >
        <i class="bx bx-plus"></i>
        <span>{{ $t('btns.Add company') }}</span>
      </a>
      <div class="relative md:w-72 h-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="bx bx-search text-gray-500 text-xl"></i>
        </div>
        <input
          v-model="searchValue"
          @input="searchForm(searchValue)"
          type="text"
          autocomplete="off"
          class="outline-none block w-full h-full p-3 pl-10 text-sm text-gray-900 rounded bg-white border border-gray-300 ring-0 focus:ring-0 focus:border-gray-400"
          :placeholder="$t('forms.Search for result')"
          required
        />
      </div>
    </div>

    <div class="mb-5 overflow-x-auto shadow-md sm:rounded-lg">
      <table v-mobile-table="{table: '123'}" class="w-full text-left">
        <thead class="text-sm text-gray-500 uppercase bg-white">
        <tr>
          <th class="px-5 py-3 font-bold">{{ $t('tables.Company name') }}</th>
          <th class="px-5 py-3 font-bold">{{ $t('tables.Agents') }}</th>
          <th class="px-2 py-3 font-bold">{{ $t('tables.FORMS') }}</th>
          <th class="px-5 py-3 font-bold">{{ $t('tables.REQUESTS') }}</th>
          <th class="px-5 py-3 font-bold">{{ $t('tables.TARRIF PLAN') }}</th>
          <th class="px-5 py-3 font-bold">{{ $t('tables.ACTION') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="company in paginatedData" class="bg-white font-medium text-gray-900 border-b">
          <td class="py-4 whitespace-nowrap flex items-center  gap-2 pl-4" :class="company.active ? '' : 'opacity-50'">
            <a :href="route('client.companies.show', { company: company.id })" class="flex items-center gap-2">
              <img v-if="company.logo_url" :src="company.logo_url" class="h-9 w-9 rounded-full" alt="" />
              <img v-else src="@images/users/avatar-2.jpg" class="h-9 w-9 rounded-full" alt="" />
              {{company.name}}
            </a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap" :class="company.active ? '' : 'opacity-50'">
            <div class="flex items-center gap-2">
              <div class="">
                <h3 class="text-md text-teal-700">{{company.agents.filter((agent) => agent.status === 'active').length}}</h3>
                <span class="text-xs">Active</span>
              </div>
              <div class="">
                <h3 class="text-md text-teal-700">{{company.agents.filter((agent) => agent.status === 'unactive').length}}</h3>
                <span class="text-xs">Unactive</span>
              </div>
              <div class="">
                <h3 class="text-md text-red-500">{{company.agents.filter((agent) => agent.status === 'deleted').length}}</h3>
                <span class="text-xs">Deleted</span>
              </div>
            </div>
          </td>
          <td class="px-2 py-4" :class="company.active ? '' : 'opacity-50'">
            <a :href="route('client.forms.index', { company_id: company.id })">{{company.forms.length}}</a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap" :class="company.active ? '' : 'opacity-50'">
            <div class="flex items-center gap-2">
              <div class="">
                <h3 class="text-md text-teal-700">{{company.form_requests.filter(function(formRequest) {
                  return formRequest.status === 'active'
                }).length}}</h3>
                <span class="text-xs">Active</span>
              </div>
              <div class="">
                <h3 class="text-md text-teal-700">{{company.form_requests.filter(function(formRequest) {
                  return formRequest.status === 'listed'
                }).length}}</h3>
                <span class="text-xs">Listed</span>
              </div>
              <div class="">
                <h3 class="text-md text-teal-700">{{company.form_requests.filter(function(formRequest) {
                  return formRequest.status === 'closed'
                }).length}}</h3>
                <span class="text-xs">Closed</span>
              </div>
              <div class="">
                <h3 class="text-md text-red-500">{{company.form_requests.filter(function(formRequest) {
                  return formRequest.status === 'issued'
                }).length}}</h3>
                <span class="text-xs">Issued</span>
              </div>
            </div>
          </td>
          <td class="" :class="company.active ? '' : 'opacity-50'">
            <TariffPlan
              :company_status="company.status"
              :created_at="company.tariff.created_at"
              :badge2Handler="() => openTariffPlan(company.tariff_id)"
              :tariff="company.tariff"
            />
          </td>
          <td class="px-5 py-4 whitespace-nowrap">
            <div class="flex gap-2">
              <a :href="route('client.companies.show', { id: company.id })">
                <ViewButton />
              </a>
              <a :href="route('client.companies.edit', { id: company.id })">
                <EditButton />
              </a>
              <ToggleButton
                :active="company.active"
                @confirm="changeActiveStatusCompany(company)"
              />
              <DeleteButton @confirm="deleteCompany(company)"/>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <Pagination
      v-model:page="currentPage"
      :max-items="companies.length"
      :perPage="itemsPerPage"
      :length="totalPages"
    />
  </div>
</template>

<script setup>
import { ref } from "vue"
import { router } from "@inertiajs/vue3"
import DeleteButton from '../../components/Buttons/DeleteButton.vue'
import ToggleButton from '../../components/Buttons/ToggleButton.vue'
import EditButton from '../../components/Buttons/EditButton.vue'
import ViewButton from '../../components/Buttons/ViewButton.vue'
import ChoeseTariff from "../../components/Dialogs/ChoeseTariff.vue"
import Pagination from '../../components/Pagination.vue'
import TariffPlan from "../../components/TariffPlan.vue"
import { usePagination } from "@/composables/usePagination"

const props = defineProps({ companies: Object, tariffs: Object })

const { companies, tariffs } = toRefs(props)

console.log('companies', companies);

const deleteCompany = (company) => {
  router.delete(route('client.companies.destroy', { company: company.id }))
}

let { currentPage, itemsPerPage, paginatedData, totalPages, setPage } = usePagination(companies.value);

const searchValue = ref("")
const searchForm = (value) => {
  router.get(route("client.companies.index"), {
      name: value,
    }, {
      preserveState: true,
    },
  )
}

const chooseTariffModal = ref(false)
const tariffId = ref(null)

const payTariff = () => {
  console.log('pay', tariffId.value)
}

const openTariffPlan = (tariff_id) => {
  chooseTariffModal.value = true;
  tariffId.value = tariff_id
}

const changeActiveStatusCompany = (company) => {
  router.post(route('client.companies.changeActiveStatusCompany', { company: company.id }))
}

watch(companies, (newValue, oldValue) => {
  let pagination = usePagination(companies.value);
  currentPage = pagination.currentPage;
  itemsPerPage = pagination.itemsPerPage;
  paginatedData = pagination.paginatedData;
  totalPages = pagination.totalPages;
});

</script>

<style scoped>

</style>
