<script setup>
import DeleteButton from "@/components/Buttons/DeleteButton.vue"
import ToggleButton from "@/components/Buttons/ToggleButton.vue"
import EditButton from "@/components/Buttons/EditButton.vue"
import TariffPlan from "../../components/TariffPlan.vue"
import { router } from "@inertiajs/vue3"
import LoadMoreTemplate from "../../components/LoadMore/LoadMoreTemplate.vue"
import ChoeseTariff from "@/components/Dialogs/ChoeseTariff.vue"
import { ref } from "vue"

const props = defineProps({ company: Object, tariffs: Object })

const { company, tariffs } = toRefs(props)

console.log("company", company)

const deleteCompany = (company) => {
  router.delete(route("client.companies.destroy", { company: company.id }))
}

const changeActiveStatusCompany = (company) => {
  router.post(route("client.companies.changeActiveStatusCompany", { company: company.id }))
}

const chooseTariffModal = ref(false)
const tariffId = ref(null)

const payTariff = () => {
  console.log('pay', tariffId.value)
}

const openTariffPlan = (tariff_id) => {
  chooseTariffModal.value = true;
  tariffId.value = tariff_id
}

</script>

<template>
  <div>
    <div class="flex items-center gap-5 mb-3">
      <!--      <img src="@images/users/avatar-2.jpg" class="h-8 w-8 object-cover rounded-full" alt="" />-->
      <h3 class="text-4xl text-gray-700">{{ company.name }}</h3>
      <div class="flex items-center gap-3">
        <a :href="route('client.companies.edit', { id: company.id })">
          <EditButton />
        </a>
        <ToggleButton :active="company.active" @confirm="changeActiveStatusCompany(company)" />
        <DeleteButton @confirm="deleteCompany(company)" />
      </div>
    </div>
    <h4 class="text-xl mb-5">{{ company.comment }}</h4>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-user-circle text-lg"></i>
        <span class="text-lg">{{ $t('titles.Agents') }}</span>
      </div>
      <div class="flex items-center gap-5">
        <div class="flex items-center flex-wrap gap-2">
          <LoadMoreTemplate
            :array="company.agents"
          >
            <template #body="{ loadMore }">
              <a
                v-for="(agent) in  loadMore"
                :href="route('client.users.show', { id: agent.id })"
                :key="agent.id"
                class="bg-red-500/10 w-28 p-2 rounded flex items-center gap-2"
              >
                <img :src="agent.profile_photo_url" class="w-8 h-8 rounded-full" alt="" />
                <span class="text-xs">{{ agent.name }}</span>
              </a>
            </template>
          </LoadMoreTemplate>
        </div>
      </div>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-list-check text-lg"></i>
        <span class="text-lg">{{ $t('titles.Forms') }}</span>
      </div>
      <LoadMoreTemplate
        :array="company.forms"
      >
        <template #body="{ loadMore }">
          <a
            v-for="form in loadMore"
            :key="form.id"
            :href="route('client.forms.show', { form: form.id })"
            class="text-sm bg-black/10 text-gray-700 p-2 px-3 rounded"
          >
            {{ form.name }}
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="flex items-center gap-2 text-gray-700 mb-5">
        <i class="bx bx-receipt text-xl"></i>
        <h3>{{ $t('titles.Requests') }}</h3>
      </div>
      <LoadMoreTemplate
        :array="company.form_requests"
      >
        <template #body="{ loadMore }">
          <a
            v-for="request in loadMore"
            :key="request.id"
            :href="route('client.requests.show', { request: request.id })"
            class="text-sm bg-black/10 text-gray-700 p-2 px-3 rounded"
          >
            #{{ request.uid }}
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="flex items-center gap-2 text-gray-700 mb-5">
        <i class="bx bx-dollar text-xl"></i>
        <h3>{{ $t('titles.Tariff') }}</h3>
      </div>
      <LoadMoreTemplate
        :array="[company.tariff]"
      >
        <template #body="{ loadMore }">
          <div
            v-for="tariff in loadMore"
            :key="tariff.id"
            href="/client"
            class="flex items-center gap-3"
          >

            <TariffPlan
              :company_status="company.status"
              :tariff="tariff"
              :created_at="tariff.created_at"
              :badge2Handler="() => openTariffPlan(tariff.id)"
            />
          </div>
        </template>
      </LoadMoreTemplate>
    </div>
    <ChoeseTariff
      v-model="chooseTariffModal"
      :tariffs="tariffs"
      :pay-handler="payTariff"
      v-model:tariffId="tariffId"
    />
  </div>
</template>

<style scoped></style>
