<script setup>
import FormAddEdit from "../../components/Main/FormAddEdit.vue"
import { router } from "@inertiajs/vue3"

const props = defineProps({ companies: Object, availableUsers: Object, users: Object })

const { companies, availableUsers, users } = toRefs(props);
console.log('availableUsers', availableUsers);
// formInfo:  {
//   companyId: ,
//   formName: ,
//   fields: ,
// }
const saveForm = async (formInfo) => {
  router.post(route('client.forms.store'), formInfo)
}

const getAvailableUsers = (data) => {
  router.get(route("client.forms.create"), { company_id: data.companyId }, { preserveState: true })
console.log('availableUsers', availableUsers);
}

</script>

<template>
  <FormAddEdit
    :companies="companies"
    :users="users"
    :available-users="availableUsers"
    @update:onSaveForm="saveForm"
    @update:onSelectCompany="getAvailableUsers"
  />
</template>

<style scoped></style>
