<script setup>
import FormAddEdit from "../../components/Main/FormAddEdit.vue"
import { router } from "@inertiajs/vue3"

const props = defineProps({ companies: Object, form: Object, availableUsers: Object, users: Object })

const { companies, form, availableUsers, users } = toRefs(props);

console.log('users', users.value);

// formInfo:  {
//   companyId: ,
//   formName: ,
//   fields: ,
// }
const saveForm = async (formInfo) => {
  router.put(route("client.forms.update", { form: form.value.id }), formInfo)
}

const getAvailableUsers = (data) => {
  router.get(route("client.forms.edit"), { company_id: data.companyId }, { preserveState: true })
}
</script>

<template>
  <FormAddEdit
    :companies="companies"
    :users="users"
    :form="form"
    :available-users="availableUsers"
    @update:onSaveForm="saveForm"
    @update:onSelectCompany="getAvailableUsers"
  />
</template>

<style scoped></style>
