<script setup>
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import ToggleButton from "../../components/Buttons/ToggleButton.vue"
import EditButton from "../../components/Buttons/EditButton.vue"
import ViewButton from "../../components/Buttons/ViewButton.vue"
import MoreButton from "../../components/Buttons/MoreButton.vue"
import Pagination from "../../components/Pagination.vue"
import { router } from "@inertiajs/vue3"
import { ref, watch } from "vue"
import { usePagination } from "@/composables/usePagination"

const props = defineProps({ forms: Object, company: Object, user:Object })

const { forms, company, user } = toRefs(props)

let { currentPage, itemsPerPage, paginatedData, totalPages, setPage } = usePagination(forms.value)

const searchValue = ref("")
const searchForm = (value) => {
  const data = { name: value }

  if (company.value) {
    data.company_id = company.value.id
  }

  router.get(route("client.forms.index"), data, {
        preserveState: true,
      },
  )
}

const deleteForm = (form) => {
  router.delete(route("client.forms.destroy", { form: form.id }))
}

const changeActiveStatusForm = (form) => {
  router.post(route("client.forms.changeActiveStatusForm", { form: form.id }))
}


watch(forms, (newValue, oldValue) => {
  let pagination = usePagination(forms.value)
  currentPage = pagination.currentPage
  itemsPerPage = pagination.itemsPerPage
  paginatedData = pagination.paginatedData
  totalPages = pagination.totalPages
})

</script>

<template>
  <div>

    <div class="md:flex items-center justify-between mb-5">
      <div v-if="company || user">
        <div v-if="company" class="mb-2 text-xl">{{ company.name }}</div>
        <div v-if="user" class="mb-2 text-xl">{{ user.name }}</div>
      </div>
      <a
          v-else
          :href="route('client.forms.create')"
          class="flex items-center gap-2 bg-dark hover-bg-dark-700 rounded px-5 p-2 text-white md:mb-0 mb-2"
      >
        <i class="bx bx-plus"></i>
        <span>{{ $t('btns.Add Form') }}</span>
      </a>
      <div class="flex items-center gap-5">
        <div class="relative w-72 h-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="bx bx-search text-gray-500 text-xl"></i>
          </div>
          <input
              v-model="searchValue"
              @input="searchForm(searchValue)"
              type="text"
              autocomplete="off"
              class="outline-none block w-full h-full p-3 pl-10 text-sm text-gray-900 rounded bg-white border border-gray-300 ring-0 focus:ring-0 focus:border-gray-400"
              :placeholder="$t('forms.Search for result')"
              required
          />
        </div>
        <MoreButton />
      </div>
    </div>
    <div class="mb-5 md:overflow-x-auto shadow-md sm:rounded-lg">
      <table v-mobile-table="{titleBase: true}" class="w-full text-sm text-left text-gray-500">
        <thead class="text-md text-gray-500 uppercase bg-white">
        <tr>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.FORM NAME') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.AVAILABLE FOR AGENT') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.FIELDS') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.ACTION') }}</th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="form in paginatedData"
            class=" font-medium text-gray-900 border-b bg-white"
        >
          <td class="px-5 py-4 whitespace-nowrap flex-wrap gap-2" :class="form.active ? '' : 'opacity-50'">
            <router-link to="form" class="block text-md">{{ form.name }}</router-link>
            <span v-for="company in form.companies" class="text-sm">{{ company.name }}</span>
          </td>
          <td class="px-5 py-4 whitespace-nowrap" :class="form.active ? '' : 'opacity-50'">
            <a :href="route('client.users.index', {form_id: form.id})">{{ form.users.length }}</a>
          </td>
          <td class="px-5 py-4 flex-wrap" :class="form.active ? '' : 'opacity-50'">
            <span
                v-for="(item, i) in form.fields.slice(0, 5)"
                class=" inline-flex" style="margin-right: 5px">{{ item.label }}</span>
            <span v-if="form.fields.length > 5" style="height: 30px;font-size: 12px"
                  class="text-primary ml-2 cursor-pointer bg-blue-500/10 text-blue-700 hover:bg-blue-200 hover:text-white duration-300 p-2 rounded inline-flex items-center justify-center"
                  @click="form.active = true">+{{ form.fields.length - 5 }}</span>
          </td>
          <td class="flex gap-2 px-5 py-4 w-full whitespace-nowrap">
            <a :href="route('client.forms.show', { form: form.id })">
              <ViewButton />
            </a>
            <a :href="route('client.forms.edit', { id: form.id })">
              <EditButton />
            </a>
            <ToggleButton
                :active="form.active"
                @confirm="changeActiveStatusForm(form)"
            />
            <DeleteButton @confirm="deleteForm(form)" />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <Pagination
        v-model:page="currentPage"
        :max-items="forms.length"
        :perPage="itemsPerPage"
        :length="totalPages"
    />
  </div>
</template>

<style scoped></style>
