<script setup>
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import ToggleButton from "../../components/Buttons/ToggleButton.vue"
import EditButton from "../../components/Buttons/EditButton.vue"
import { router } from "@inertiajs/vue3"
import LoadMoreTemplate from "../../components/LoadMore/LoadMoreTemplate.vue"

const props = defineProps({ form: Object })

const { form } = toRefs(props)

const deleteForm = () => {
  router.delete(route("client.forms.destroy", { form: form.value.id }))
}

const changeActiveStatusForm = () => {
  router.post(route("client.forms.changeActiveStatusForm", { form: form.value.id }))
}
</script>

<template>
  <div class="h-screen">
    <div class="flex items-center gap-5 mb-5">
      <h3 class="text-4xl text-gray-700">{{ form.name }}</h3>
      <div class="flex items-center gap-3">
        <a :href="route('client.forms.edit', { id: form.id })">
          <EditButton />
        </a>
        <ToggleButton :active="form.active" @confirm="changeActiveStatusForm" />
        <DeleteButton @confirm="deleteForm" />
      </div>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-user-circle text-lg"></i>
        <span class="text-lg">{{ $t('titles.Agents') }}</span>
      </div>
      <LoadMoreTemplate
        :array="form.agents"
      >
        <template #body="{ loadMore }">
          <a
            v-for="(agent, index) in loadMore"
            :href="route('client.users.show', { id: agent.user.id })"
            class="w-28 p-2 rounded flex items-center gap-2"
            :class="index === 0 ? 'bg-blue-500/10' : index === 1 ? 'bg-purple-500/10' : index === 2 ? 'bg-red-500/10' : 'bg-blue-500/10'"
          >
            <img :src="agent.user.profile_photo_url" class="w-8 h-8 rounded-full" alt="" />
            <span class="text-xs">{{ agent.user.name }}</span>
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
    <div class="mb-5 p-4 bg-white shadow rounded">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-list-check text-md"></i>
        <span class="text-lg leading-5">{{ $t('titles.Fields value') }}</span>
      </div>
      <h3 class="mb-3 flex items-center gap-2 text-gray-500"></h3>
      <LoadMoreTemplate
        :array="form.fields"
      >
        <template #body="{ loadMore }">
          <label v-for="field in loadMore"
                 class="flex align-center text-sm font-medium text-gray-900 dark:text-white mr-3">
            <img v-if="field.icon" class="mr-1" :src="'https://b2brqst.com/icons/' + field.icon + '.svg'" alt="">
            {{ field.label }}
          </label>
        </template>
      </LoadMoreTemplate>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="flex items-center gap-2 text-gray-700 mb-5">
        <i class="bx bx-home-circle text-lg"></i>
        <h3>{{ $t('titles.Companies') }}</h3>
      </div>
      <LoadMoreTemplate
        :array="form.companies"
      >
        <template #body="{ loadMore }">
          <a
            v-for="company in loadMore"
            :href="route('client.companies.show', { id: company.id })"
            class="flex items-center gap-3"
          >
            <img :src="company.logo_url" alt="" class="w-8 h-8 rounded-full" />
            <span>{{ company.name }}</span>
          </a>
        </template>
      </LoadMoreTemplate>
    </div>
  </div>
</template>

<style scoped></style>
