<script setup>
import { Head, Link } from "@inertiajs/vue3"
import AuthenticationCard from "Admin/Resources/ts/components/AuthenticationCard.vue";
import AuthenticationCardLogo from "Admin/Resources/ts/components/AuthenticationCardLogo.vue";

defineProps({
  laravelVersion: String,
  phpVersion: String,
})
</script>

<template>
  <Head title="Welcome" />

  <div class="relative sm:flex sm:justify-center sm:items-center min-h-screen bg-dots-darker bg-center bg-gray-100 dark:bg-dots-lighter dark:bg-gray-900 selection:bg-red-500 selection:text-white">
    <div
      class="sm:fixed sm:top-0 sm:right-0 p-6 text-right z-10"
    >
      <a
        v-if="$page.props.auth.user"
        :href="($page.props.auth.user.type == 'admin')  ? '/admin' : '/client'"
        class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
      >Dashboard</a>

      <template v-else>
        <a
          href="/admin/login"
          class="mx-3 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
        >
          Log in admin
        </a>
        <a
          href="/client/auth"
          class="mx-3 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
        >
          Log in client
        </a>
      </template>
    </div>

    <div class="max-w-7xl mx-auto p-6 lg:p-8">
      <AuthenticationCard>
        <AuthenticationCardLogo />
      </AuthenticationCard>

    </div>
  </div>
</template>

<style>
.bg-dots-darker {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-dots-lighter {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    }
}
</style>
