<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"
import {form} from "@/views/demos/components/dialog/demoCodeDialog";
import { find , isEmpty } from "lodash"

const props = defineProps({
  clientID: String,
  accessKey: String,
  login: String,
  allTariffs: Object,
  allTariffsSel: Object,
})



const dataTable: DataTable = {
  url: route("admin.client.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Client",
      name: "name",
      sortable: true,
      searchable: true,
    },
    {
      title: "Registered",
      name: "registered",
      manual: true,
    },
    {
      name: "client_id",
      searchable: true,
    },
    {
      name: "access_key",
      searchable: true,
    },
    {
      name: "email",
      searchable: true,
    },
    {
      title: "Tariff",
      name: "tariff",
      manual: true,
    },

    // {
    //   title: "Comment",
    //   name: "comment",
    //   searchable: true,
    //   sortable: true,
    // },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "desc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  fields: ref({
    name: "",
    username: "",
    password: "",
    comment: "",
    tariff_id: "",
    active: "",
  }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.client.update", { id: item.id })
    updateForm.title.value = `Edit - ${item.name}`
    updateForm.fields.value = {
      name: item.name,
      client_id: item.client_id,
      access_key: item.access_key,
      username: item.username,
      password: "",
      comment: item.comment,
      tariff_id: item.tariff_id,
      tariff: item.tariff,
      active: item.active,
    }
    updateForm.active.value = true
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Client",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.client.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Client "${item.name}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Clients">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <!-- 👉 Add user button -->
            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">
                    <span
                      class="font-weight-medium user-list-name"
                    >
                      {{ capitalizeHyphenated(item.raw.name) }}
                    </span>
<!--                  <span>{{ item.raw.username ?? item.raw.client_id }}</span>-->
                </div>
              </div>
            </template>

            <template #item.registered="{ item }">
              <div class="d-flex align-center">
                <VChip :color="!item.raw.username ? 'error' : 'success'">
                  {{ !item.raw.username ? "No" : "Yes" }}
                </VChip>
              </div>
            </template>

            <template #item.tariff="{ item }">
              <div class="d-flex align-center">
                <VChip
                  v-if="item.raw.tariff"
                  color="success"
                >
                  {{ item.raw.tariff.name }}, {{ item.raw.tariff.price - 0 }} $
                </VChip>
              </div>
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
                <VTooltip
                    activator="parent"
                    location="start"
                >Edit client</VTooltip>
              </IconBtn>

              <IconBtn @click="deleteForm.init(item.raw)">
                <VIcon icon="tabler-trash" />
                <VTooltip
                    activator="parent"
                    location="top"
                >Remove client</VTooltip>
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.client.store')"
      title="Create Client"
      :fields="{ name: login, client_id: clientID, access_key: accessKey, tariff_id: [] }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
            readonly="readonly"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.client_id"
            label="Client ID"
            :error-messages="form.errors?.client_id"
            readonly="readonly"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.access_key"
            label="Access Key"
            :error-messages="form.errors?.access_key"
            readonly="readonly"
          />
        </VCol>
        <VCol v-if="allTariffsSel.length >= 1" cols="12">
          <VSelect
              v-model="form.tariff_id"
              :items="allTariffsSel"
              item-title="name"
              item-value="value"
              label="Select Tariff"
              :multiple="false"
              clearable
              :error-messages="form.errors?.tariff_id"
          />
        </VCol>
        <VCol v-else style="color: red">
          The tariff field is require when creating a client .All tariffs are deactivated
        </VCol>
        <!--        <VCol cols="12"> -->
        <!--          <AppTextField -->
        <!--            v-model="form.comment" -->
        <!--            label="Comment" -->
        <!--            :error-messages="form.errors?.comment" -->
        <!--          /> -->
        <!--        </VCol> -->
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
      :additional_data="[{
        text: 'Registration status:',
        type: 'VClip',
        data: {
          username: updateForm.fields.value.username
        }
      }]"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol
          v-if="form.client_id"
          cols="12"
          :hidden="true"
        >
          <AppTextField
            v-model="form.client_id"
            label="Client ID"
            :error-messages="form.errors?.client_id"

            readonly="readonly"
          />
        </VCol>
        <VCol
          v-if="form.access_key"
          cols="12"
          :hidden="true"
        >
          <AppTextField
            v-model="form.access_key"
            label="Access Key"
            :error-messages="form.errors?.access_key"
            readonly="readonly"
          />
        </VCol>
        <VCol
          v-if="!form.client_id"
          cols="12"
        >
          <AppTextField
            v-model="form.username"
            label="Username"
            :error-messages="form.errors?.username"
          />
        </VCol>
        <VCol
          v-if="!form.access_key"
          cols="12"
        >
          <AppTextField
            v-model="form.password"
            label="New Password"
            :error-messages="form.errors.password"
          />
        </VCol>
        <VCol v-if="allTariffsSel.length >= 1 && find(allTariffs , ['id', form.tariff_id])" cols="12">

          <VSelect
              v-model="form.tariff_id"
              :items="allTariffsSel"
              item-title="name"
              item-value="value"
              label="Select Tariff"
              :multiple="false"
              clearable
              :error-messages="form.errors?.tariff_id"
          />
        </VCol>
        <VCol v-else>
          <div class="d-flex align-center">
            <VChip
              v-if="form.tariff_id"
              color="success"
            >
              {{ form.tariff.name }}, {{ form.tariff.price - 0 }} $
            </VChip>
          </div>
        </VCol>

        <!--        <VCol cols="12"> -->
        <!--          <AppTextField -->
        <!--            v-model="form.comment" -->
        <!--            label="Comment" -->
        <!--            :error-messages="form.errors?.comment" -->
        <!--          /> -->
        <!--        </VCol> -->

      </template>

    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
