<script setup>
import AppLayout from '@/Layouts/AppLkLayout.vue';
import SectionBorder from '@/Components/SectionBorder.vue';
import ServerSetting from '@/Pages/Mail/Partials/ServerSetting.vue';

defineProps({
  server: Object,
});

</script>

<template>
  <AppLayout title="Profile">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        Setting mail server
      </h2>
    </template>
    <div>
      <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8 ">
        <div>
          <ServerSetting :serverData="$page.props.Server" />

          <SectionBorder />
        </div>

      </div>
    </div>
  </AppLayout>
</template>

