<script setup>
import { ref } from "vue"
import { FieldsSecurity } from "@/utils/FieldsSecurity"

const props = defineProps({
  AuthUser: Object,
  Pages: Object,
  Notifications: Object,
})

onMounted(() => {
  const Openpgp = new FieldsSecurity()
  Openpgp.checkKeys({
    publicKey: props.AuthUser?.openpgp_public_key,
    user: props.AuthUser
  })
})

const alert = ref(true)

const currentItem = ref(1)

</script>

<template>
  <div class="relative">
    <!--    <div-->
    <!--      class="bg-yellow-200/20 border border-yellow-200 rounded-lg text-yellow-800/70 text-sm p-5 shadow roudned mb-5 flex items-center justify-between"-->
    <!--      :class="alert ? 'block' : 'hidden'"-->
    <!--    >-->
    <!--      Alert text from administration!-->
    <!--      <i class="bx bx-x text-xl cursor-pointer" @click="() => (alert = false)"></i>-->
    <!--    </div>-->
    <div class="h-full lg:grid grid-cols-5 gap-5 bg-white rounded-lg shadow p-3 md:p-5  mb-5">
      <div class="w-full  rounded-lg mb-5 information-wrp">
        <a
          class="block md:p-4 p-2 mb-2 md:mb-3 md:px-5 px-4 bg-gray-700 text-sm md:text-md hover:bg-gray-200  rounded-lg"
          :style="currentItem == el.id ? 'background: #333;color: #fff' : ''"
          v-for="(el, curList) in props.Pages"
          @click="() => (currentItem = el)"
          :href="`#item-${el.id}`"
        >
          {{ el.title }}
        </a>
      </div>
      <div class="lg:col-span-4  text-gray-600 md:px-0 px-2 overflow-y-auto scroll-smooth">
        <div v-for="(el, i) in props.Pages" :id="`item-${el.id}`" class="tt">
          <h3 class="text-xl md:text-2xl my-2">{{el.title}}</h3>
          <p class="leading-6 text-sm md:text-base ">{{el.description}}</p>
        </div>
      </div>

      <div
        v-if="props.Notifications.length"
        class="text-2xl  w-full lg:col-span-4 text-gray-600 md:px-0 px-2 mt-10">
       <p>
         {{ $t('titles.Administrator notifications') }}
       </p>
        <div
          v-for="notific in props.Notifications"
          class="notific pt-7">

          <div class="flex items-center p-4 text-sm text-gray-800 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
               {{notific.message.text}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>


<style scoped lang="scss">

.tt{
  //@media (max-width: 1000px) {
  //  padding-top: 30px;
  //  margin-top: 0;
  //}
}
</style>
