<script setup></script>

<template>
  <button
    class="bg-gray-200 text-dark hover:bg-gray-800 hover:text-white duration-300 p-2 px-3 rounded flex items-center justify-center"
  >
    <i class="bx bx-message-dots"></i>
  </button>
</template>

<style scoped></style>
