<template>
  <div
    class="text-gray-600 hover:text-white border border-teal-600 hover:bg-gray-700 cursor-pointer rounded"
    :class="sizes"
  >
    {{ $t('btns.Load more') }}
  </div>
</template>

<script setup>
const props =  defineProps(['size'])

const sizes = computed(() => {
  if(!props.size) return ' px-3 py-1 '
  switch (props.size) {
    case 'small':
      return 'p-1 px-2 fz12 fw600'
    default:
      return ' px-3 py-1 '
  }
})
</script>

<style scoped>

</style>
