<script setup>
import DeleteModal from '@/components/DeleteModal.vue'
import { ref } from 'vue'

const props = defineProps({ active: Boolean })

const { active } = toRefs(props)

const modal = ref(false)
const changeModal = () => (modal.value = !modal.value)

const emit = defineEmits(['confirm'])

const confirmModal = () => {
  modal.value = !modal.value
  emit('confirm')
}
</script>

<template>
  <DeleteModal :modalFunc="confirmModal" :modal="modal" />

  <v-tooltip :text="active ? 'Now Visible' : 'Now Hidden'">
    <template v-slot:activator="{ props }">
      <button
        v-bind="props"
        @click="changeModal"
        class="h-30  duration-300 p-2 px-3 rounded flex items-center justify-center"
        :class="!active ? 'bg-gray-800 hover:text-dark hover:bg-gray-200 hover:bg-gray-800 text-white' : 'bg-gray-200 text-dark hover:bg-gray-800 hover:text-white'"
      >
        <i v-if="active" class="bx bx-toggle-right"></i>
        <i v-else class="bx bx-toggle-left"></i>
      </button>
    </template>
  </v-tooltip>
</template>

<style scoped></style>
