/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use "@styles/variables/_vuetify.scss" as vuetify;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   Resources\styles\@core\template\libs\apex-chart.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use \"@styles/variables/_vuetify.scss\" as vuetify;\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   Resources\\styles\\@core\\template\\libs\\apex-chart.scss 1:1  root stylesheet";
}
