<script setup>
import { ref } from "vue"
import UploadImage from "../../components/UploadImage.vue"
import Tags from "../../components/Tags.vue"
import { router, useForm } from "@inertiajs/vue3"
import { FieldsSecurity } from "@/utils/FieldsSecurity"
import { toast } from "vue3-toastify"

const props = defineProps({ companies: Object, forms: Object, users: Object, companyId: Number })

const { companies, forms, users } = toRefs(props)

const activeBtn = ref(1)
const img = ref(null)
let fields = ref([])

const form = useForm({
  company: props.companyId ? +props.companyId : '',
  form: "",
  fields: "",
  price: 0,
  status: 0,
  user: null,
})

let fieldsService = new FieldsSecurity()

onMounted(() => {

})

const getFormFields = (id) => {
  const result = forms.value.filter((formItem) => {
    return formItem.id == id
  })

  fields.value = fieldsService.makeFieldsToRef(result[0].fields)
}

const getForms = (company_id) => {
  router.get(route("client.requests.create"), { company_id }, { preserveState: true })
}

const sendForm = async (e) => {
  form.fields = fieldsService.getFieldsForForm(fields.value)
  try {
    let isValid = true
    form.data().fields.forEach(item => {
      if(item.label === 'Фото') return ;
      if(!item.value){
        toast.error(`${item.label} is required`)
        isValid = false
      }
    })
    if(!form.data().user){
      toast.error(`Agent is required`)
      isValid = false
    }
    if(!isValid){
      return null
    }
    const fo = await fieldsService.encryptFieldsInUseForm(form.data())
    router.post(route('client.requests.store'), fo)
  }catch (err){
    console.log(err)
  }
}

const encimg = async (img) => {
  console.log('img', img)
  const ers =  await fieldsService.encryptImage(img)
}
</script>

<template>
  <form @submit.prevent="sendForm">
    <div class="p-5 rounded shadow bg-white">
      <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Choose Company') }}</h3>
      <v-select :items="companies" v-model="form.company" @update:modelValue="getForms" item-title="name" item-value="id" class="mb-4"></v-select>

      <h3 v-if="form.company" class="text-md mb-2 text-gray-800">{{ $t('forms.Choose Form') }}</h3>
      <v-select v-if="form.company" :items="forms"  v-model="form.form"  @update:modelValue="getFormFields" item-title="name" item-value="id" class="mb-4"></v-select>

      <h3 class="text-md mb-2 text-gray-800">{{ $t('forms.Price') }}</h3>
      <input
        v-model="form.price"
        type="number"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
        placeholder="Enter Price"
      />
      <div
        v-for="field in fields"
      >
        <div
          v-if="field.type === 'CheckboxElement'"
          class=" mb-2"
        >
          <div class="text-sm font-medium text-gray-900 mb-2">
            {{ field.label }}
          </div>
          <v-checkbox
            v-for="el in field.element.variants"
            v-model="field.value"
            :label="el"
            :value="el"
            class="ml-1"
          ></v-checkbox>
        </div>
        <div
          v-if="field.type === 'SelectElement'"
        >
          <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
          <v-select v-model="field.value"  :items="field.element.variants"></v-select>
        </div>
        <div
          v-if="field.type === 'RadioElement'"
        >
          <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
          <v-radio-group>
            <v-radio
              v-for="el in field.element.variants"
              v-model="field.value"
              :label="el"
              :value="el"
            ></v-radio>
          </v-radio-group>
        </div>
        <div v-if="field.type === 'ImageElement'">
          <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
          <UploadImage v-model="field.value" />
          <button @click="encimg(img)">enc</button>
        </div>
        <div v-if="field.type === 'InputElement'">
          <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
          <input
            v-model="field.value"
            type="text"
            class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
            placeholder=""
          />
        </div>
        <div v-if="field.type === 'TextareaElement'">
          <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
          <textarea
            v-model="field.value"
            type="text"
            class="h-24 w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
            placeholder=""
          ></textarea>
        </div>
      </div>
      <div class="flex items-center mb-5">
        <div class="flex flex-wrap items-center gap-2">
          <Tags v-for="(i, index) in 5" :status="i" :transparent="activeBtn !== i"
                @click="() => {form.status = index; activeBtn = i;}" :p="'py-2 px-3'" :fz="'text-sm'" />
        </div>
      </div>
      <h3 class="text-md mb-2 text-gray-700">{{ $t('titles.Agent') }}</h3>
<!--      <select-->
<!--    -->
<!--        class="outline-none bg-white border border-gray-300 text-gray-900 rounded focus:ring-teal-500 focus:border-teal-500 block w-full p-3 mb-5"-->
<!--      >-->
<!--        <option value="0" selected>Choose...</option>-->
<!--        <option v-for="user in users" :value="user.id">{{ user.name }}</option>-->
<!--      </select>-->
      <v-select :items="users"  v-model="form.user" item-title="name" item-value="id"></v-select>

     <button type="submit" class="bg-dark p-2 px-4 rounded text-white mt-4">{{ $t('btns.Send request') }}</button>
    </div>
  </form>
</template>

<style scoped></style>
