<script setup>
import Loading from "../../components/Loading.vue"
import { ref } from "vue"
import UploadImage from "../../components/UploadImage.vue"
import Tags from "../../components/Tags.vue"
import { router, useForm } from "@inertiajs/vue3"
import { fieldTypes } from "../../types/FormFieldsTypes"
import { FieldsSecurity } from "@/utils/FieldsSecurity"
import { toast } from "vue3-toastify"

const props = defineProps({ companies: Object, forms: Object, users: Object, formRequest: Object })

const { companies, forms, users, formRequest } = toRefs(props)

let activeBtn = ref(1)
const img = ref(null)
let fields = ref([])
console.log("fields", fields)

router.get(route("client.requests.edit", {id: formRequest.value.id}), { company_id: formRequest.value.company_id}, { preserveState: true })

console.log('formRequest.value', formRequest.value);
console.log('formRequest.value.form.id', formRequest.value.form.id);

const form = useForm({
  company: formRequest.value.company_id,
  form: formRequest.value.form_id,
  price: formRequest.value.price,
  fields: formRequest.value.form.fields,
  status: formRequest.value.status_id,
  user: formRequest.value.user_id,
})

let fieldsService = new FieldsSecurity()

fields = formRequest.value.form.fields
activeBtn.value = formRequest.value.status_id + 1


onMounted(async () => {
  console.log('props.formRequest.fields_encrypted', props.formRequest.fields_encrypted)
  const res = await fieldsService.readData(props.formRequest.fields_encrypted)

  if(!res.error) {
    form.fields.forEach(field => {
      console.log(res.data)
      const find = res.data.find(el => el.id === field.id)
      if(find){
        field.value = find.value
      }
    })
  }
})

const sendForm = async (e) => {
  let fo = JSON.parse(JSON.stringify(form.data()))

  fo.fields = fieldsService.getFieldsForForm(fo.fields)
  try {
    let isValid = true
    fo.fields.forEach(item => {
      if(item.label === 'Фото') return ;
      if(!item.value){
        toast.error(`${item.label} is required`)
        isValid = false
      }
    })
    if(!fo.user){
      toast.error(`Agent is required`)
      isValid = false
    }
    if(!isValid){
      return null
    }
    fo = await fieldsService.encryptFieldsInUseForm(fo)
    console.log('fo', fo)
    router.put(route('client.requests.update', {id: formRequest.value.id}), fo)
  }catch (err){
    console.log(err)
  }
}
console.log("forms", forms)
</script>

<template>
<!--  <pre>{{ formRequest }}</pre>-->
  <form @submit.prevent="sendForm">
    <div class="p-5 rounded shadow bg-white">
      <h3 class="text-md mb-2 text-gray-700">{{ $t('forms.Choose Company') }}</h3>
      <v-select :items="companies" v-model="form.company" readonly item-title="name" item-value="id" class="mb-4"></v-select>

      <h3 class="text-md mb-2 text-gray-800">{{ $t('forms.Choose Form') }}</h3>
      <v-select :items="forms"  v-model="form.form"  readonly item-title="name" item-value="id" class="mb-4"></v-select>

      <h3 class="text-md mb-2 text-gray-800">{{ $t('forms.Price') }}</h3>
      <input
        v-model="form.price"
        type="text"
        class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
        placeholder="Enter Price"
      />
      <template v-if="true">
        <div
          v-for="field in form.fields"
        >
          <div
            v-if="field.type === 'CheckboxElement'"
            class=" mb-2"
          >
            <div class="text-sm font-medium text-gray-900 mb-2">
              {{ field.label }}
            </div>
            <v-checkbox
              v-for="el in field.element.variants"
              v-model="field.value"
              :label="el"
              :value="el"
              class="ml-1"
            ></v-checkbox>
          </div>
          <div
            v-if="field.type === 'SelectElement'"
          >
            <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
            <v-select v-model="field.value"  :items="field.element.variants"></v-select>
          </div>
          <div
            v-if="field.type === 'RadioElement'"
          >
            <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
            <v-radio-group>
              <v-radio
                v-for="el in field.element.variants"
                v-model="field.value"
                :label="el"
                :value="el"
              ></v-radio>
            </v-radio-group>
          </div>
          <div v-if="field.type === 'ImageElement'">
            <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
            <UploadImage v-model="img" />
          </div>
          <div v-if="field.type === 'InputElement'">
            <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
            <input
              v-model="field.value"
              type="text"
              class="w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
              placeholder=""
            />
          </div>
          <div v-if="field.type === 'TextareaElement'">
            <h3 class="text-md mb-2 text-gray-800">{{ field.label }}</h3>
            <textarea
              v-model="field.value"
              type="text"
              class="h-24 w-full border p-2 px-4 outline-none focus:border-teal-600 duration-300 rounded mb-4 border-gray-300"
              placeholder=""
            ></textarea>
          </div>
        </div>
      </template>
      <div v-else-if="form.fields === fieldsService.errorReadMessage">{{ fieldsService.errorReadMessage }}</div>

      <div class="flex items-center mb-5">
        <div class="flex flex-wrap items-center gap-2">
          <Tags v-for="(i, index) in 5" :status="i" :transparent="activeBtn !== i"
                @click="() => {form.status = index; activeBtn = i;}" :p="'py-2 px-3'" :fz="'text-sm'" />
        </div>
      </div>
      <h3 class="text-md mb-2 text-gray-700">{{ $t('titles.Agent') }}</h3>
      <v-select :items="users"  v-model="form.user" item-title="name" item-value="id"></v-select>

      <button type="submit" class="bg-dark p-2 px-4 rounded text-white mt-4">{{ $t('btns.Send request') }}</button>
    </div>
  </form>
</template>

<style scoped></style>
