<script setup>
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import ToggleButton from "../../components/Buttons/ToggleButton.vue"
import ChatButton from "../../components/Buttons/ChatButton.vue"
import ViewButton from "../../components/Buttons/ViewButton.vue"
import Pagination from "../../components/Pagination.vue"
import Dropdown from "../../components/DropdownOld.vue"
import UsersDropdown from "../../components/DropdownUsers.vue"
import DeleteModal from "../../components/DeleteModal.vue"
import {onMounted, ref, watch , defineEmits} from "vue"
import Tags from "../../components/Tags.vue"
import TagSelect from "../../components/TagSelect.vue"
import { getColorsKeys } from "../../types/Colors"
import { router, Link } from "@inertiajs/vue3"
import { usePagination } from "@/composables/usePagination"
import axios from "Admin/Resources/ts/plugins/axios";
import route from "ziggy-js";
import {ReqCount} from "@/utils/ReqCount";

const props = defineProps({ requests: Object, users: Object, AuthUser: Object })
const { requests, users } = toRefs(props)
const deleteId = ref()
const changeDelete = (id = null) => (deleteId.value = id)
const fitler = ["All", "Username 1", "Username 2", "Username 3", "Username 4", "Username 5"]
const status = getColorsKeys()
const emit = defineEmits(['reqCount']);
let { currentPage, itemsPerPage, paginatedData, totalPages, setPage } = usePagination(requests.value);
const checkAll = () => {
  if(selectedRequests.value.length === 0){
    selectedRequests.value = requests.value.map(el => el.id)
  }else{
    selectedRequests.value = []
  }
}

const selectedRequests = ref([])

const changeStatus = (e, requestId) => {
  router.post(route("client.requests.changeRequestStatus", { formRequest: requestId }), {
    status: e,
  }, {
    preserveState: true,
  })
}

const deleteForm = (request) => {
  router.delete(route("client.requests.destroy", { request: request.id }))
}

const searchValue = ref("")

const searchForm = (value) => {
  const data = {uid: value}

  router.get(route("client.requests.index"), data, {
      preserveState: true,
    },
  )
}
// let reqCount = new ReqCount()
onMounted(() => {
  localStorage.setItem('RequestCount', props.requests.length);
  window.dispatchEvent(new CustomEvent('reqCount'));
});

watch(requests, (newValue, oldValue) => {
  let pagination = usePagination(requests.value);
  currentPage = pagination.currentPage;
  itemsPerPage = pagination.itemsPerPage;
  paginatedData = pagination.paginatedData;
  totalPages = pagination.totalPages;
});

</script>

<template>
  <DeleteModal />
  <div class="">
    <div class="md:flex items-center justify-between mb-5 gap-5">
      <Link
        :href="route('client.requests.create')"
        class="flex items-center gap-2 bg-dark hover-bg-dark-700 rounded px-5 p-2 text-white md:mb-0 mb-2"
      >
        <i class="bx bx-plus"></i>
        <span>{{ $t('btns.Add request') }}</span>
      </Link>
      <div class="flex items-center gap-5">
        <div class="lg:flex items-center hidden relative w-72 h-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="bx bx-search text-gray-500 text-xl"></i>
          </div>
          <input
            v-model="searchValue"
            @input="searchForm(searchValue)"
            type="text"
            autocomplete="off"
            class="outline-none block w-full h-full p-2.5 pl-10 text-sm text-gray-900 rounded bg-white border border-gray-300 ring-0 focus:ring-0 focus:border-gray-400"
            :placeholder="$t('forms.Search for result')"
            required
          />
        </div>
        <div class="flex items-center gap-2 md:gap-5 ">
          <UsersDropdown icon="bx bx-user-circle" :text="$t('btns.Filter by agent')" :data="users" search="1">
          </UsersDropdown>
          <Dropdown icon="bx bx-check-circle" :text="$t('btns.Filter by status')" :no-search="true" :data="status" search="1">
          </Dropdown>
        </div>
      </div>
    </div>
    <div class="lg:hidden flex relative w-full h-full mb-5">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3">
        <i class="bx bx-search text-gray-500 text-xl"></i>
      </div>
      <input
        type="text"
        autocomplete="off"
        class="outline-none block w-full h-full p-2.5 pl-10 text-sm text-gray-900 rounded bg-white border border-gray-300 ring-0 focus:ring-0 focus:border-gray-400"
        :placeholder="$t('forms.Search for result')"
        required
      />
    </div>
    <div v-if="selectedRequests.length > 0" class="flex items-center gap-5 text-teal-500 px-1 mb-5">
      <a href="" class="flex items-center gap-2">
        <i class="bx bx-receipt"></i>
        <span class="text-sm md:text-base">{{ $t('btns.Export in xml') }}</span>
      </a>
      <a href="" class="flex items-center gap-2">
        <i class="bx bx-paper-plane"></i>
        <span class="text-sm md:text-base">{{ $t('btns.Export in telegram') }}</span>
      </a>
    </div>
    <div class="mb-5 shadow-md sm:rounded-lg">
      <table v-mobile-table="{titleBase: true}" class="w-full text-sm text-left text-gray-500">
        <thead class="text-md text-gray-500 uppercase bg-white">
        <tr>
          <th scope="col" class="p-4">
            <v-checkbox
              color="dark"
              :model-value="selectedRequests.length === requests.length"
              @click.prevent.stop="() => checkAll()"
            />
          </th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.ID') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.USER') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.DATE') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.FORM') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.STATUS') }}</th>
          <th class="px-5 py-3 font-bold whitespace-nowrap">{{ $t('tables.ACTION') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="request in paginatedData" class="bg-white font-medium text-gray-900 border-b">
          <td class="w-4 p-4">
            <v-checkbox
              v-model="selectedRequests"
              :value="request.id"
              color="dark"
            />
          </td>
          <td class="px-5 py-4 whitespace-nowrap gap-2">
            <a
              :href="route('client.requests.show', { id: request.id })"
              class="text-teal-600"
            >
              {{ request.uid }}
            </a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap">
            <a
              :href="route('client.users.show', { id: request.user.id })"
              class="block text-md"
            >
              {{ request.user.name }}
            </a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap">{{ request.created_at }}</td>
          <td class="px-5 py-4 whitespace-nowrap gap-2">
            <a
              :href="route('client.forms.show', { id: request.form.id })"
              class="block text-md"
            >
              {{ request.form.name }}
            </a>
          </td>
          <td class="px-5 py-4 whitespace-nowrap gap-2">
            <TagSelect
              :value="request.status"
              @update:changeStatus="(e) => changeStatus(e, request.id)"
              :no-search="true"
            />
          </td>

          <td class="flex gap-2 px-5 py-4 w-full items-centewhitespace-nowrap">
            <a :href="route('client.requests.show', { id: request.id })">
              <ViewButton />
            </a>
            <a :href="route('client.chats.index', { company_id: request.company.id, agent_id: request.user.id, chat_id: request.chat_id })">
              <ChatButton />
            </a>
            <DeleteButton @confirm="deleteForm(request)"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <Pagination
      v-model:page="currentPage"
      :max-items="requests.length"
      :perPage="itemsPerPage"
      :length="totalPages"
    />
  </div>
</template>

<style scoped></style>
