<script setup>
import ChatButton from "../../components/Buttons/ChatButton.vue"
import EditButton from "../../components/Buttons/EditButton.vue"
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import Tags from "../../components/Tags.vue"
import { ref } from "vue"
import { router } from "@inertiajs/vue3"
import { generateKey } from "openpgp"
import { FieldsSecurity } from "@/utils/FieldsSecurity"

const props = defineProps({ request: Object })
const { request } = toRefs(props)


console.log("request", request)

const fields = ref(null)
const fieldsError = ref(false)

onMounted(async () => {
  const fieldsService = new FieldsSecurity()
  const { data, error, message } = await fieldsService.readData(request.value.fields_encrypted)
  if (!error) {
    fields.value = data
    fieldsError.value = false
  } else {
    fieldsError.value = message
  }
})

const activeBtn = ref(0)

const changeStatus = (e) => {
  console.log(e)
  router.post(route("client.requests.changeRequestStatus", { formRequest: request.value.id }), {
    status: e,
  }, {
    preserveState: true,
  })
}

const deleteForm = () => {
  router.delete(route("client.requests.destroy", { request: request.value.id }))
}
</script>

<template>
  <div>
    <div class="flex items-center gap-5 mb-5">
      <img src="@images/users/avatar-2.jpg" class="h-8 w-8 object-cover rounded-full" alt="" />
      <h3 class="text-4xl text-gray-700">#{{ request.uid }}</h3>
      <span class="text-4xl text-gray-500">({{ request.created_at }})</span>
      <div class="flex items-center gap-3">
        <a
          :href="route('client.chats.index', { company_id: request.company.id, agent_id: request.user.id, chat_id: request.chat_id })">
          <ChatButton />
        </a>
        <a :href="route('client.requests.edit', { id: request.id })">
          <EditButton />
        </a>
        <DeleteButton @confirm="deleteForm" />
      </div>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-user-circle text-md"></i>
        <span class="text-lg leading-5">{{ $t('titles.Agent') }}</span>
      </div>
      <div class="flex items-center gap-5">
        <a :href="route('client.users.show', { id: request.user.id })"
           class="bg-blue-500/10 w-28 p-2 rounded flex items-center gap-2">
          <img :src="request.user.profile_photo_url" class="w-8 h-8 rounded-full" alt="" />
          <span class="text-xs">{{ request.user.name }}</span>
        </a>
      </div>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 20 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 5h9M5 9h5m8-8H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h4l3.5 4 3.5-4h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
        </svg>
        <span class="text-lg leading-5">{{ $t('titles.Status') }}</span>
      </div>
      <div class="flex flex-wrap items-center gap-2">
        <TagSelect
          :value="request.status"
          @update:changeStatus="changeStatus"
          :no-search="true"
        />
      </div>
    </div>
    <div class="mb-5 p-4 bg-white shadow rounded">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-list-check text-md"></i>
        <span class="text-lg leading-5">{{ $t('titles.Fields') }}</span>
      </div>
      <h3 class="mb-3 flex items-center gap-2 text-gray-500"></h3>
      <div v-for="el in fields" class="mb-3 flex items-center gap-2">
        <i v-if="el.icon" :class="el.icon" class="text-gray-500"></i>
        <span class="text-sm text-gray-500">{{ el.label }}:</span>
        <span class="text-sm text-gray-900">{{ el.value }}</span>
      </div>
      <div v-if="fieldsError" style="color: red">
        {{ fieldsError }}
      </div>
    </div>
    <div class="mb-5 p-4 bg-white shadow rounded">
      <h3 class="mb-3 flex items-center gap-2 text-gray-500">
        <i class="bx bx-home-circle text-2xl"></i>
        <span class="text-lg text-gray-800">{{ $t('titles.Company') }}</span>
      </h3>
      <a :href="route('client.companies.show', { id: request.company.id })" class="mb-3 flex items-center gap-2">
        <img class="w-8 h-8 rounded-full" :src="request.company.logo_url" alt="" />
        <span>{{ request.company.name }}</span>
      </a>
    </div>
    <div class="bg-white w-full p-4 shadow rounded mb-5">
      <div class="mb-4 flex items-center gap-2 text-gray-700">
        <i class="bx bx-list-check text-lg"></i>
        <span class="text-lg">{{ $t('titles.Form') }}</span>
      </div>
      <a :href="route('client.forms.show', { form: request.form.id })"
         class="text-sm bg-black/10 text-gray-700 p-2 px-3 rounded">
        {{ request.form.name }}
      </a>
    </div>
  </div>
</template>

<style scoped></style>
