<script lang="ts" setup>
import { useTheme } from "vuetify"
import ScrollToTop from "@core/components/ScrollToTop.vue"
import { useThemeConfig } from "@core/composable/useThemeConfig"
import { useSkins } from "@core/composable/useSkins"
import { defineAsyncComponent } from "vue"
import { useWindowSize } from "@vueuse/core"
import Sidebar from "../components/Sidebar.vue"


const {
  syncInitialLoaderTheme,
  syncVuetifyThemeWithTheme: syncConfigThemeWithVuetifyTheme,
  isAppRtl,
  handleSkinChanges,
} = useThemeConfig()

const { global } = useTheme()

// ℹ️ Sync current theme with initial loader theme
syncInitialLoaderTheme()
syncConfigThemeWithVuetifyTheme()
handleSkinChanges()

const DefaultLayoutWithHorizontalNav = defineAsyncComponent(() => import("./components/DefaultLayoutWithHorizontalNav.vue"))
const DefaultLayoutWithVerticalNav = defineAsyncComponent(() => import("./components/DefaultLayoutWithVerticalNav.vue"))

const { width: windowWidth } = useWindowSize()
const { appContentLayoutNav, switchToVerticalNavOnLtOverlayNavBreakpoint } = useThemeConfig()

// ℹ️ This will switch to vertical nav when define breakpoint is reached when in horizontal nav layout
// Remove below composable usage if you are not using horizontal nav layout in your app
switchToVerticalNavOnLtOverlayNavBreakpoint(windowWidth)

const { layoutAttrs, injectSkinClasses } = useSkins()

injectSkinClasses()


</script>

<template>
  <VLocaleProvider :rtl="isAppRtl.value">
    <VApp :style="`--v-global-theme-primary: light`">
      <Sidebar/>
      <div class="slotMain">
        <Header />
        <div class="slotMain-box">
          <slot />
        </div>
      </div>
      <ScrollToTop />
    </VApp>
  </VLocaleProvider>
</template>

<style lang="scss">
@use "@layouts/styles/default-layout";
</style>
