<script setup lang="ts">
import { useForm } from "@inertiajs/vue3"
import { VForm } from "vuetify/components/VForm"
import { PerfectScrollbar } from "vue3-perfect-scrollbar"

interface Props {
  active: boolean
  title: string
  statusOnline: {
    type:boolean,
    default: null
  }
  additional_data:{
    type:object,
    default: null
  }
  url: string
  method?: "get" | "post" | "put" | "patch" | "delete"
  fields: Record<string, any>
}

interface Emits {
  (e: "update:active", value: boolean): void

  (e: "close"): void
}

const props = defineProps<Props>()

const emit = defineEmits<Emits>()

const form = useForm(props.fields)

watch(
  () => props.fields,
  () => {
    for (const i in props.fields) {
      form[i] = props.fields[i]
    }
  },
)

const onClose = () => {
  emit("update:active", false)
  emit("close")
  form.reset()
  form.clearErrors()
}

const formLoading = ref(false)

const onSubmit = () => {
  form.submit(props.method ?? "post", props.url, {
    onBefore: () => {
      formLoading.value = true
    },
    onFinish: () => {
      formLoading.value = false
    },
    onSuccess: () => {
      form.reset()
      onClose()
    },
  })
}
</script>

<template>
  <VNavigationDrawer
    temporary
    :width="400"
    location="end"
    class="scrollable-content"
    :model-value="props.active"
    @update:model-value="onClose"
  >
    <!-- 👉 Title -->
    <AppDrawerHeaderSection
      :title="props.title"
      :statusOnline="props.statusOnline"
      @cancel="onClose"
    />

    <PerfectScrollbar :options="{ wheelPropagation: false }">
      <VCard flat>
        <VCardText>
          <!-- 👉 Forms -->
          <VForm @submit.prevent="onSubmit">
            <VRow>
              <slot :form="form" />

              <VCol cols="12">
                <VBtn
                  type="submit"
                  class="me-3"
                  :loading="formLoading"
                >
                  Submit
                </VBtn>
                <VBtn
                  type="reset"
                  variant="tonal"
                  color="secondary"
                  @click="onClose"
                >
                  Cancel
                </VBtn>
              </VCol>
              <VCol
                v-if="props.additional_data"
                v-for="addItem in props.additional_data"
                cols="12">
               <div v-if="addItem.type == 'VClip' ">
                 <VLabel
                   for="current_status"
                   class="text-high-emphasis"
                 >{{addItem.text}} </VLabel>
                 <VChip class="mx-3" id="current_status" :color="!addItem.data.username ? 'error' : 'success'">
                   {{ !addItem.data.username ? "No" : "Yes" }}
                 </VChip>
               </div>
              </VCol>

            </VRow>
          </VForm>
        </VCardText>
      </VCard>
    </PerfectScrollbar>
  </VNavigationDrawer>
</template>
