<script setup>
import ChatOne from "../../components/ChatOne.vue"
import DeleteButton from "../../components/Buttons/DeleteButton.vue"
import Clear from "../../components/Clear.vue"
import { ref } from "vue"


const selects = ref([
  {
    toggle: false,
  },
  {
    toggle: false,
  },
  {
    toggle: false,
  },
])

const changeCheck = () => {
  selects.value = selects.value.map(item => ({ ...item, toggle: !allChecked.value }))
}

const togg = (el) => {
  el.toggle = !el.toggle
}

const company = ref(null)

const allChecked = computed(() => {
  return selects.value.every(el => el.toggle === true)
})

const someSelectTrue = computed(() => selects.value.some(el => el.toggle === true))

const usersSelected = computed(() => {
  return someSelectTrue.value && company.value
})

</script>

<template>
  <div class=" alerts">
    <div class="alerts__l">
      <v-select
        :label="$t('forms.Choose Company')"
        v-model="company"
        class="mb-5"
        :items="['Company 1', 'Company 2', 'Company 3']"
      ></v-select>
      <template v-if="company">
        <div class="relative flex">
          <input
            type="text"
            autoComplete="off"
            class="border border-gray-300 outline-none block w-full p-2.5 pr-10 text-sm text-gray-900 rounded-l bg-white"
            :placeholder="$t('forms.Search in agent')"
            required
          />
          <div
            class="inset-y-0 right-0 cursor-pointer hover:bg-gray-800 bg-gray-300 p-1 px-3 rounded-r flex items-center justify-center pl-3"
          >
            <i class="bx bx-search text-gray-500 text-xl"></i>
          </div>
        </div>
        <div role="status" class="text-center flex items-center justify-center py-3">
          <svg
            aria-hidden="true"
            class="w-8 h-8 mr-2 animate-spin text-gray-100 fill-teal-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">{{ $t('forms.Loading') }}</span>
        </div>
        <div class="">
          <div class="flex items-center mb-4">
            <input
              id="checkboxAll"
              type="checkbox"
              :checked="allChecked"
              class="w-4 h-4 text-gray-600 bg-gray-100 border-gray-300 rounded"
              @change="changeCheck"
            />
            <label htmlFor="checkboxAll" class="ml-2 text-sm font-medium text-gray-900">{{ $t('forms.Check all') }}</label>
          </div>
          <ChatOne
            v-for="el in selects"
            isChat="1"
            img="/users/avatar-2.jpg"
            title="John Doe"
            text="company name"
            :isactive="el.toggle ? '1' : '0'"
            :el="el"
            :selected="el.toggle"
            @update:toggleChange="togg"
          />
        </div>
      </template>
    </div>
    <div v-if="usersSelected && company" class="alerts__c">
      <h3 class="md:text-3xl text-xl text-gray-600 mb-3">{{ $t('titles.Alert text') }}</h3>
      <textarea
        class="w-full h-24 outline-none p-5 border border-gray-300 focus:border-teal-400 rounded"
      ></textarea>
      <button class="bg-gray-500 hover:bg-teal-700 duration-300 p-2 px-3 text-white rounded mb-3">
        {{ $t('btns.Send alert') }}
      </button>
      <h3 class="text-xl md:text-[26px] text-gray-500">{{ $t('titles.Alerts history') }}</h3>
      <Clear />
      <div v-for="el in 3" class="mb-2 mt-2 shadow bg-white p-3 rounded">
        <div class="md:mb-3 mb-1 flex items-center justify-between">
          <span class="font-thin onMob-text-little">10.03.2023 - 14:30</span>
          <DeleteButton />
        </div>
        <div class="px-3 p-1 md:p-3 mb-2 md:mb-4 border-l-4">
          <div class="md:text-base text-sm">Hello, {agentname}! Please notice me your status.</div>
        </div>
        <div class="mb-1 md:mb-2 md:text-base text-sm">
          <span class="">Company name:</span>
          <router-link v-for="el in 5" to="/user" class="text-teal-700 ">
            Username <span v-if="el != 5" class="text-gray-700">,</span>
          </router-link>
        </div>
      </div>
    </div>
    <div v-if="usersSelected && company" class="alerts__r">
      <h3 class="md:text-3xl text-xl text-gray-600 mb-3">{{ $t('titles.Variables') }}</h3>
      <div class="text-gray-600 flex text-sm md:text-base mb-2 md:mb-5 md:px-2 justify-between gap-5">
        <span>{{ $t('titles.Agentname') }}</span>
        <span>{agentname}</span>
      </div>
      <div class="text-gray-600 flex text-sm md:text-base mb-2 md:mb-5 md:px-2 justify-between gap-5">
        <span>{{ $t('titles.Company name') }}</span>
        <span>{companyname}</span>
      </div>
    </div>
    <div v-if="!usersSelected || !company" class="text-2xl text-center d-flex justify-center text-center w-100">
      <div v-if="!company">{{ $t('forms.Choose Company') }}</div>
      <div v-else>{{ $t('titles.Choose agent(s)') }}</div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.alerts{
  display: grid;
  grid-template-columns: 20% 58% 1fr;
  grid-gap: 30px;
  @media (max-width: 1400px) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    &__r{
      order: -1;
    }
    &__l{
      order: -2;
    }
  }

}
</style>
