<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 32 32" fill="none">
    <path d="M32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16Z" fill="black"/>
    <path d="M18.2337 21.013L18.7877 19.909C19.5957 18.299 19.6847 16.681 19.0407 15.357C18.9187 15.105 18.7637 14.878 18.5977 14.664C20.0087 14.045 20.9997 12.638 20.9997 11C20.9997 8.794 19.2057 7 16.9997 7C14.7937 7 12.9997 8.794 12.9997 11C12.9997 11.783 13.2337 12.508 13.6237 13.126C11.9277 13.456 10.8177 14.374 10.6767 14.501C9.96065 15.132 9.79165 16.181 10.2717 17.005C10.5957 17.564 11.1577 17.914 11.7657 17.985L11.2117 19.089C10.4037 20.699 10.3147 22.317 10.9577 23.641C11.5227 24.805 12.5787 25.596 13.9297 25.87C14.3427 25.954 14.7657 25.997 15.1837 25.997C17.5517 25.997 19.1487 24.65 19.3237 24.496C20.0397 23.866 20.2107 22.818 19.7307 21.993C19.4057 21.437 18.8437 21.084 18.2337 21.013ZM16.9997 9C18.1037 9 18.9997 9.896 18.9997 11C18.9997 12.104 18.1037 13 16.9997 13C15.8947 13 14.9997 12.104 14.9997 11C14.9997 9.896 15.8947 9 16.9997 9ZM15.1837 23.999C14.9127 23.999 14.6247 23.974 14.3297 23.912C12.6877 23.578 12.0017 21.979 13.0017 19.985L14.0017 17.99C14.5017 16.994 14.4717 16.36 13.8937 15.955C13.7127 15.83 13.4627 15.786 13.2047 15.786C12.6277 15.786 12.0037 16 12.0037 16C12.0037 16 13.1367 14.999 14.8157 14.999C15.0867 14.999 15.3757 15.024 15.6717 15.086C17.3117 15.42 17.9997 17.019 16.9997 19.013L15.9997 21.006C15.4997 22.004 15.5277 22.638 16.1057 23.041C16.2867 23.167 16.5387 23.21 16.7977 23.21C17.3747 23.21 17.9977 22.998 17.9977 22.998C17.9977 22.998 16.8647 23.999 15.1837 23.999Z" fill="white"/>
  </svg>
</template>
