<script setup>
const props = defineProps({
  name: {
    type: String,
    default: '1k'
  },
  scale: {
    type: [String, Number],
    default: 24
  },
})

const cssScale = props.scale + 'px'
</script>

<template>
  <span class="g-ico" :data-ico="props.name">&zwnj;</span>
</template>

<style lang="scss" scoped>
$material-design-icons-font-path: '/node_modules/@material-design-icons/font/';
@import '@material-design-icons/font/sharp';
// Do that for correct ico display
.g-ico {
  position: relative !important;
  display: inline-block !important;
  height: v-bind('cssScale');
  width: v-bind('cssScale');

  &:before {
    @extend .material-icons-sharp;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: attr(data-ico);
    font-size: v-bind('cssScale');
  }
}
</style>
