<script setup lang="ts">
import route from "ziggy-js"

import axios from "@axios";


const props = defineProps({
  company: Object,
});


const changeStatus = (type) =>  {
  axios.patch(route('admin.requests.update', { id: props.company.id }), {
    status: type,
  }).then((response) => {
    if(response.data.status == true){
      window.location.href = route('admin.requests.index');
    }
  });

}

</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Customer requests">
          <VCardText class="py-4" >
            <VRow>
              <VCol cols="2">
                <h3>Company avatar</h3>
              </VCol>
              <VCol cols="2">
                <h3>Company name</h3>
              </VCol>
            </VRow>
            <VRow>

                <VCol cols="2" class="text-center">
                  <VAvatar
                    id="company-avatar"
                    size="74"
                    variant="tonal"
                    class="me-3 "
                  >
                    <v-img
                      :src="props.company.logo_url"
                      alt="John"
                    />
                  </VAvatar>
                </VCol>
                <VCol cols="2">
                  {{props.company.name}}
                </VCol>

            </VRow>

            <VRow>
              <VCol cols="4">
                <VTextarea
                  v-model="props.company.name"
                  label="Company comment"
                  readonly="readonly"
                />
              </VCol>
              <VCol cols="6">
                <VRow>
                  <VCol cols="4">
                    <VLabel
                      for="current_tariff"
                      class="text-high-emphasis"
                    >
                      Company tariff
                    </VLabel>
                  </VCol>
                  <VCol>
                    <VLabel
                      for="current_tariff"
                      class="text-high-emphasis"
                    >
                      Current status
                    </VLabel>
                  </VCol>
                </VRow>
                <div class="d-flex align-center">
                  <VRow>
                    <VCol cols="4">
                        <VChip
                          v-if="props.company.tariff"
                          color="success"
                          id="current_tariff"
                          class="mt-2"
                        >
                          {{ props.company.tariff.name }}, {{ props.company.tariff.price - 0 }} $
                        </VChip>
                    </VCol>
                    <VCol>
                      <div class="status">
                        <VChip
                            :class="props.company.status"
                            id="current_tariff"
                            class="mt-2"
                        >
                          {{props.company.status}}
                        </VChip>
                      </div>
                    </VCol>
                  </VRow>
                </div>
              </VCol>
            </VRow>
            <VRow>
              <VCol  cols="10">
                <VBtn
                    v-if="props.company.status == 'active'"
                    color="#E0E0E0"
                    variant="elevated"
                    @click="changeStatus('inactive')"
                >
                  Deactivate company
                </VBtn>
                <VBtn
                  v-if="props.company.status == 'inactive' || props.company.status == 'decline'"
                  color="success"
                  variant="elevated"
                  @click="changeStatus('active')"
                >
                  Activate company
                </VBtn>
                <VBtn
                    v-if="props.company.status == 'inactive' || props.company.status == 'active'"
                    color="error"
                    variant="elevated"
                    @click="changeStatus('decline')"
                    class="mx-3"
                >
                  Decline company
                </VBtn>
              </VCol>
            </VRow>
          </VCardText>
        </VCard>
      </VCol>

    </VRow>
  </section>
</template>

<style lang="scss">
.status .active {
  background: #dbf5e7 !important;
  color: #3acc7b !important;
}
.status .inactive {
  background: #e8e7e9 !important;
}
.status .decline {
  background: #b6d6e7 !important;
}
</style>
