<script setup lang="ts">
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import {Link} from "@inertiajs/vue3";

const dataTable: DataTable = {
  url: route("admin.requests.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Client",
      name: "user.name",
      searchable: true,
    },
    {
      title: "Company name",
      name: "name",
      searchable: true,
    },
    {
      title: "Tariff",
      name: "tariff",
      manual: true,
    },

    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "desc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Customer requests">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">

            <template #item.tariff="{ item }">
              <div class="d-flex align-center">
                <VChip
                  v-if="item.raw.tariff"
                  color="success"
                >
                  {{ item.raw.tariff.name }}, {{ item.raw.tariff.price - 0 }} $
                </VChip>
              </div>
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <Link :href="route('admin.requests.edit', { id: item.raw.id })">
                <IconBtn >
                  <VIcon icon="tabler-edit" />
                  <VTooltip
                      activator="parent"
                      location="start"
                  >Confirm or Reject the application</VTooltip>
                </IconBtn>
              </Link>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
