@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap);

* {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.bg-blue-500\/80 {
  background-color: rgb(59 130 246 / 0.8);
}
.text-yellow-700 {
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity));
}
[type='checkbox']{
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.3);
}

.layout-wrapper.layout-nav-type-vertical.layout-navbar-sticky .layout-navbar{
  position: relative !important;
}
.layout-page-content, .layout-navbar {
  max-inline-size: 1920px !important;
}
.v-application{
  background: rgba(243, 244, 246, 0.63) !important;
  color: #000 !important;
}

.v-input .v-field__outline{
  opacity: 0 !important;
}
@import "media";
