<script setup lang="ts">
import { useForm } from "@inertiajs/vue3"

interface Props {
  active: boolean
  url: string
  title: string
  message: string
}

interface Emits {
  (e: "update:active", value: boolean): void

  (e: "accept"): void

  (e: "deny"): void
}

const props = defineProps<Props>()

const emits = defineEmits<Emits>()

const form = useForm({})

const formLoading = ref(false)

const accept = () => {
  form.delete(props.url, {
    onBefore: () => (formLoading.value = true),
    onFinish: () => {
      formLoading.value = false
      emits("update:active", false)
      emits("accept")
    },
  })
}

const deny = () => {
  emits("update:active", false)
  emits("deny")
}

const close = () => {
  emits("update:active", false)
}
</script>

<template>
  <VDialog
    :model-value="props.active"
    persistent
    class="v-dialog-sm"
    @update:model-value="close"
  >
    <!-- Dialog close btn -->
    <DialogCloseBtn @click="deny" />

    <!-- Dialog Content -->
    <VCard :title="props.title">
      <VCardText>{{ props.message }}</VCardText>

      <VCardText class="d-flex justify-end gap-3 flex-wrap">
        <VBtn
          color="secondary"
          variant="tonal"
          @click="deny"
        >
          No
        </VBtn>
        <VBtn
          color="error"
          @click="accept"
        >
          Yes
        </VBtn>
      </VCardText>
    </VCard>
  </VDialog>
</template>
