<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"

defineProps({
  adminPermissions: Object,
})

const dataTable: DataTable = {
  url: route("admin.assistant.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Admin",
      name: "name",
      sortable: true,
      searchable: true,
    },
    {
      title: "Permissions",
      name: "admin_permissions",
    },
    {
      name: "email",
      searchable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "desc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  refs: reactive({
    showPassword: false,
  }),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  adminIsOnline: ref(""),
  fields: ref({
    name: "",
    email: "",
    password: "",
    admin_permissions: [],
  }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.assistant.update", { id: item.id })
    updateForm.title.value = item.email
    updateForm.adminIsOnline.value = item.adminIsOnline
    updateForm.fields.value = {
      name: item.name,
      email: item.email,
      password: "",
      admin_permissions: item.admin_permissions ?? [],
    }
    updateForm.active.value = true
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Admin",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.assistant.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Admin "${item.email}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Admins">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <!-- 👉 Add user button -->
            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">

                  <h6 class="text-base">
                    <span
                      rel="noopener noreferrer"
                      class="font-weight-medium user-list-name position-relative"
                      id="title">
                      {{ capitalizeHyphenated(item.raw.name) }}
                        <label class="ml-1" :class= "(item.raw.adminIsOnline)?'text-success':'text-error'">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                          </svg>
                        </label>
                    </span>
                  </h6>
                  <span>{{ item.raw.email }}</span>
                </div>
              </div>
            </template>
            <!-- Permissions -->
            <template #item.admin_permissions="{ item }">
              <div v-if="adminPermissions.length === item.raw.admin_permissions.length">
                <span>All</span>
              </div>
              <div v-else>
                <ul class="list-unstyled" v-for="(permission, index) in item.raw.admin_permissions">
                  <li class="">{{ permission }}</li>
                </ul>
              </div>
            </template>
            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
                <VTooltip
                    activator="parent"
                    location="start"
                >Edit admin</VTooltip>
              </IconBtn>

              <IconBtn
                v-if="item.raw.parent_id"
                @click="deleteForm.init(item.raw)"
              >
                <VIcon icon="tabler-trash" />
                <VTooltip
                    activator="parent"
                    location="top"
                >Remove admin</VTooltip>
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.assistant.store')"
      title="Create Admin"
      :fields="{ name: '', email: '', password: '', admin_permissions: [] }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.email"
            label="E-mail"
            type="email"
            :error-messages="form.errors?.email"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.password"
            :append-inner-icon="createForm.refs.showPassword ? 'tabler-eye-off' : 'tabler-eye'"
            label="Password"
            :type="createForm.refs.showPassword ? 'text' : 'password'"
            :error-messages="form.errors.password"
            @click:append-inner="createForm.refs.showPassword = !createForm.refs.showPassword"
          />
        </VCol>

        <VCol cols="12">
          <AppSelect
            v-model="form.admin_permissions"
            :items="adminPermissions"
            item-title="name"
            item-value="value"
            label="Permissions"
            multiple
            clearable
            :error-messages="form.errors?.admin_permissions"
          />
        </VCol>
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :statusOnline="updateForm.adminIsOnline.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
    >

      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.email"
            label="Email"
            type="email"
            :error-messages="form.errors?.email"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.password"
            :append-inner-icon="createForm.refs.showPassword ? 'tabler-eye-off' : 'tabler-eye'"
            label="New Password"
            :type="createForm.refs.showPassword ? 'text' : 'password'"
            :error-messages="form.errors.password"
            @click:append-inner="createForm.refs.showPassword = !createForm.refs.showPassword"
          />
        </VCol>

        <VCol cols="12">
          <AppSelect
            v-model="form.admin_permissions"
            :items="adminPermissions"
            item-title="name"
            item-value="value"
            label="Permissions"
            multiple
            clearable
            :error-messages="form.errors?.admin_permissions"
          />
        </VCol>
      </template>
    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
