<template>
  <div class="d-flex items-center flex-wrap " :class="gap ? gap : 'gap-5'">
    <slot name="body" :loadMore="arraySliced"></slot>
    <LoadMoreButton v-if="loadMore === false && (array.length > showElements)" @click="loadMore = true" :size="loadMoreSize"/>
  </div>
</template>

<script setup>
import LoadMoreButton from "../Buttons/LoadMoreButton.vue"
import { ref } from "vue"

const props = defineProps({
  length: Number,
  array: Array,
  loadMoreSize: String,
  gap: String,
  showElements: {
    type: Number,
    default: 4
  }
})

const loadMore = ref(false)

const arraySliced = computed(() => {
  return loadMore.value ? props.array : props.array.slice(0, props.showElements)
})
</script>

<style scoped>

</style>
