<script setup>
import AppLayout from '@/Layouts/AppLkLayout.vue';
import SectionBorder from '@/Components/SectionBorder.vue';
import TelegramSetting from '@/Pages/Telegram/Partials/TelegramBotSetting.vue';

defineProps({
  TelegramBotData: Object,
});

</script>

<template>
  <AppLayout title="Telegram settings">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        Setting telegram bot
      </h2>
    </template>
    <div>
      <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8 ">
        <div>
          <TelegramSetting :TelegramBotData="$page.props.TelegramBotData" />

          <SectionBorder />
        </div>

      </div>
    </div>
  </AppLayout>
</template>

