<script setup>
import { ref, computed} from 'vue';
import { Link, router, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import FormSection from "@/Components/FormSection.vue";
import route from "ziggy-js";
import ActionMessage from "@/Components/ActionMessage.vue";
import { formatDate } from '@/utils/formatters'

const props = defineProps({
  TelegramBotData: Object,
});

const date = formatDate(props.TelegramBotData.created_at);

// const created =
const form = useForm({
  id: props.TelegramBotData.id,
  telegram_token: ref(props.TelegramBotData.telegram_token) ,
  telegram_bot_name: ref(props.TelegramBotData.telegram_bot_name),
});
const saveTelegramBotSettings = () => {
  form.patch(route('settings.telegram.update'), {
    errorBag: 'saveTelegramBotSettings',
    preserveScroll: true
  });
};

</script>

<template>
  <FormSection @submitted="saveTelegramBotSettings">
    <template #title>
      Telegram bot Information
    </template>

    <template #description>
      Update your telegram bot information.
    </template>

    <template #form>

      <!-- telegram token -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="telegram_token" value="Telegram token" />
        <TextInput
          id="telegram_token"
          v-model="form.telegram_token"
          type="text"
          class="mt-1 block w-full"
        />
        <InputError :message="form.errors.telegram_token" class="mt-2" />
      </div>

      <!-- telegram bot name -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="telegram_token" value="Telegram bot name" />
        <TextInput
          id="telegram_bot_name"
          v-model="form.telegram_bot_name"
          type="text"
          class="mt-1 block w-full"
        />
        <InputError :message="form.errors.telegram_bot_name" class="mt-2" />
      </div>
<!--      v-model="formatDate(props.TelegramBotData.created_at)"-->
      <!-- create at -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="protocol" value="Create at" />
        <TextInput
          id="port"
          v-model="date"
          type="text"
          class="mt-1 block w-full"
          readonly
        />

      </div>
    </template>

    <template #actions>
      <ActionMessage :on="form.recentlySuccessful" class="mr-3">
        Updated!
      </ActionMessage>

      <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
        Update
      </PrimaryButton>
    </template>
  </FormSection>
</template>
