<script lang="ts">
import Blank from "@/layouts/blank.vue"
export default {
  layout: Blank,
}
</script>
<script setup lang="ts">
import { Head, useForm } from "@inertiajs/vue3"
import AuthenticationCard from "@/components/AuthenticationCard.vue"
import AuthenticationCardLogo from "@/components/AuthenticationCardLogo.vue"
import {onMounted} from 'vue'
import axios from "axios";

const tab = ref(null);
const captcha = ref('');
const loadingStatus = ref(true);
const firstAuthName = 'firstAuth';
const UpdatedProfileName = 'UpdatedProfile';
const firstAuthStatus = ref(false);
const form = useForm({
  email: "",
  password: "",
  remember: false,
  module: "client",
  captcha: "",
  access_key: "",
  client_id: "",
  username: "",

})
const updateCaptcha = () => {
  captcha.value = '';
  loadingStatus.value = true;
  axios.get(route('captcha.new')).then(response => {
    form.captcha = "";
    loadingStatus.value = false;
    captcha.value = "data:image/png;base64," + response.data.captcha;
  });
}
onMounted(() => {
  firstAuthStatus.value = getCookie(firstAuthName);
  if(Boolean(getCookie(UpdatedProfileName)) === true){
    tab.value = 'two';
  }
  updateCaptcha();
});

const setCookie = (name, value, days) => {
  let expires = "";
  if (days) {
    let date = new Date();
    date.setTime(date.getTime() + (days*24*60*60*1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
const getCookie = (name) => {
  let nameEQ = name + "=";
  let ca = document.cookie.split(';');
  for(let i=0;i < ca.length;i++) {
    let c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}
const submit = (action) => {

  if(firstAuthStatus.value !== true){
    setCookie(firstAuthName , true, 182);
    setCookie(UpdatedProfileName , true, 182);
  }

  form.transform((data) => {
    if((data.access_key !== '' && data.client_id !== '' && action !== 'register_client') && (data.access_key !== '' && data.client_id !== '' && action !== 'auth_client_id_login')){
      data.username = 'client_id';
      data.password = 'access_key';
    }
    // Фильтрация не пустых значений
    const filteredData = Object.fromEntries(
        Object.entries(data).filter(([key, value]) => value !== "")
    );

    return {
      action: action,
      ...filteredData,
      remember: form.remember ? "on" : "",
    };


  }).post( '/login', {
    onFinish: () => {
      updateCaptcha();
    },
  })
}

</script>

<template>

  <Head title="Login to the admin panel" />
  <VContainer fill-height fluid>
    <VRow align-center justify="center" >
      <VCol cols="12" sm="8" md="6">
        <VCard>
          <AuthenticationCard>
            <AuthenticationCardLogo />
          </AuthenticationCard>


          <VCardText>

              <VCard v-if="!firstAuthStatus">
                <VForm @submit.prevent="submit('register_client')">
                  <VCardText>
                    <AppTextField
                      id="client_id"
                      v-model="form.client_id"
                      name="client_id"
                      type="text"
                      class="my-1 block w-full"
                      required
                      autofocus
                      label="Client ID"
                      :error-messages="form.errors?.client_id"
                    />
                    <AppTextField
                      id="access_key"
                      v-model="form.access_key"
                      name="access_key"
                      type="password"
                      class="my-1 block w-full"
                      required
                      autofocus
                      label="Access KEY"
                      :error-messages="form.errors?.access_key"
                    />
                    <p class="mt-5 text-base text-center" v-if="!firstAuthStatus">
                      Enter and remember the data for the login and password fields, the information will be attached to your profile and will be used for future authorizations
                    </p>
                    <AppTextField
                      id="username"
                      v-model="form.username"
                      name="text"
                      type="text"
                      class="my-1 block w-full"
                      required
                      autofocus
                      label="Login"
                      :error-messages="form.errors?.username"
                    />
                    <AppTextField
                      id="password"
                      v-model="form.password"
                      name="password"
                      type="password"
                      class="my-1 block w-full"
                      required
                      autofocus
                      label="Password"
                      :error-messages="form.errors?.password"
                    />
                    <VRow>
                      <VCol cols="12" sm="8" md="6" >
                        <AppTextField
                          id="captcha"
                          v-model="form.captcha"
                          name="captcha"
                          type="text"
                          class="my-1 block w-full"
                          required
                          autofocus
                          label="Сaptcha"
                          :error-messages="form.errors?.captcha"
                        />
                      </VCol>
                      <VCol cols="12" sm="8" md="6" >
                        <div class="w-full h-full text-center position-relative">
                          <VProgressCircular
                            indeterminate
                            class="progressCaptcha"
                            v-if="loadingStatus"
                          />
                          <div v-else class="captcha">
                            <img :src="captcha" class="w-100 h-75">
                            <IconBtn @click="updateCaptcha()" class="mt-2">
                              <VIcon icon="tabler-refresh" />
                              <VTooltip
                                activator="parent"
                                location="bottom"
                              >Update captcha</VTooltip>
                            </IconBtn>
                          </div>
                        </div>
                      </VCol>
                    </VRow>
                    <VRow>
                      <VCol cols="6" sm="3" md="3" >
                        <VCheckbox
                          v-model:checked="form.remember"
                          name="remember"
                          label="Remember me"
                          class="mt-2"
                        />
                      </VCol>
                      <VCol cols="6" sm="3" md="3" >
                        <VBtn
                          type="submit"
                          :loading="form.processing"
                          class="mt-1"
                          :disabled="loadingStatus"
                        >
                          Log in
                        </VBtn>
                      </VCol>
                    </VRow>
                  </VCardText>
                </VForm>
              </VCard>
              <VCard v-else>
<!--                <VTabs-->
<!--                  align-tabs="center"-->
<!--                  v-model="tab"-->
<!--                >-->
<!--                  <VTab value="one">Client ID / Access KEY</VTab>-->
<!--                  <VTab value="two">Login / Password</VTab>-->
<!--                </VTabs>-->
<VCardText>

      <VForm @submit.prevent="submit('auth_client_id_login')">
        <!-- Your form inputs here -->
        <AppTextField
            id="client_id"
            v-model="form.client_id"
            name="client_id"
            type="text"
            class="my-1 block w-full"
            required
            autofocus
            label="Client ID"
            :error-messages="form.errors?.client_id"
        />
        <AppTextField
            id="access_key"
            v-model="form.access_key"
            name="access_key"
            type="password"
            class="my-1 block w-full"
            required
            autofocus
            label="Access KEY"
            :error-messages="form.errors?.access_key"
        />
        <AppTextField
            id="username"
            v-model="form.username"
            name="username"
            type="text"
            class="my-1 block w-full"
            required
            autofocus
            label="Login"
            :error-messages="form.errors?.username"
        />
        <AppTextField
            id="password"
            v-model="form.password"
            name="password"
            type="password"
            class="my-1 block w-full"
            required
            autofocus
            label="Password"
            :error-messages="form.errors?.password"
        />
        <VRow>
          <VCol cols="12" sm="8" md="6" >
            <AppTextField
                id="captcha"
                v-model="form.captcha"
                name="captcha"
                type="text"
                class="my-1 block w-full"
                required
                autofocus
                label="Сaptcha"
                :error-messages="form.errors?.captcha"
            />
          </VCol>
          <VCol cols="12" sm="8" md="6" >
            <div class="w-full h-full text-center position-relative">
              <VProgressCircular
                  indeterminate
                  class="progressCaptcha"
                  v-if="loadingStatus"
              />
              <div v-else class="captcha">
                <img :src="captcha" class="w-100 h-75">
                <IconBtn   @click="updateCaptcha()" class="mt-2">
                  <VIcon icon="tabler-refresh" />
                  <VTooltip
                      activator="parent"
                      location="bottom"
                  >Update captcha</VTooltip>
                </IconBtn>
              </div>
            </div>
          </VCol>
        </VRow>
        <VRow>
          <VCol cols="6" sm="3" md="3" >
            <VCheckbox
                v-model:checked="form.remember"
                name="remember"
                label="Remember me"
                class="mt-2"
            />
          </VCol>
          <VCol cols="6" sm="3" md="3" >
            <VBtn
                type="submit"
                :loading="form.processing"
                class="mt-1"
                :disabled="loadingStatus"
            >
              Log in
            </VBtn>
          </VCol>
        </VRow>
      </VForm>

</VCardText>


<!--                <VCardText>-->
<!--                  <VWindow v-model="tab">-->
<!--                    <VWindowItem value="one">-->
<!--                      <VForm @submit.prevent="submit('auth_client_id')">-->
<!--                        &lt;!&ndash; Your form inputs here &ndash;&gt;-->
<!--                        <AppTextField-->
<!--                          id="username"-->
<!--                          v-model="form.client_id"-->
<!--                          name="client_id"-->
<!--                          type="text"-->
<!--                          class="my-1 block w-full"-->
<!--                          required-->
<!--                          autofocus-->
<!--                          label="Client ID"-->
<!--                          :error-messages="form.errors?.client_id"-->
<!--                        />-->
<!--                        <AppTextField-->
<!--                          id="password"-->
<!--                          v-model="form.access_key"-->
<!--                          name="access_key"-->
<!--                          type="password"-->
<!--                          class="my-1 block w-full"-->
<!--                          required-->
<!--                          autofocus-->
<!--                          label="Access KEY"-->
<!--                          :error-messages="form.errors?.access_key"-->
<!--                        />-->
<!--                        <VRow>-->
<!--                          <VCol cols="12" sm="8" md="6" >-->
<!--                            <AppTextField-->
<!--                                id="captcha"-->
<!--                                v-model="form.captcha"-->
<!--                                name="captcha"-->
<!--                                type="text"-->
<!--                                class="my-1 block w-full"-->
<!--                                required-->
<!--                                autofocus-->
<!--                                label="Сaptcha"-->
<!--                                :error-messages="form.errors?.captcha"-->
<!--                            />-->
<!--                            <p class="mt-5 text-base " v-if="!firstAuthStatus">-->
<!--                              Enter and remember data in 2 fields below, information will be attached to your profile and will be-->
<!--                              used for subsequent authorizations-->
<!--                            </p>-->
<!--                          </VCol>-->
<!--                          <VCol cols="12" sm="8" md="6" >-->
<!--                            <div class="w-full h-full text-center position-relative">-->
<!--                              <VProgressCircular-->
<!--                                  indeterminate-->
<!--                                  class="progressCaptcha"-->
<!--                                  v-if="loadingStatus"-->
<!--                              />-->
<!--                              <div v-else class="captcha">-->
<!--                                <img :src="captcha" class="w-100 h-75">-->
<!--                                <IconBtn   @click="updateCaptcha()" class="mt-2">-->
<!--                                  <VIcon icon="tabler-refresh" />-->
<!--                                  <VTooltip-->
<!--                                      activator="parent"-->
<!--                                      location="bottom"-->
<!--                                  >Update captcha</VTooltip>-->
<!--                                </IconBtn>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </VCol>-->
<!--                        </VRow>-->
<!--                        <VRow>-->
<!--                          <VCol cols="6" sm="3" md="3" >-->
<!--                            <VCheckbox-->
<!--                                v-model:checked="form.remember"-->
<!--                                name="remember"-->
<!--                                label="Remember me"-->
<!--                                class="mt-2"-->
<!--                            />-->
<!--                          </VCol>-->
<!--                          <VCol cols="6" sm="3" md="3" >-->
<!--                            <VBtn-->
<!--                                type="submit"-->
<!--                                :loading="form.processing"-->
<!--                                class="mt-1"-->
<!--                                :disabled="loadingStatus"-->
<!--                            >-->
<!--                              Log in-->
<!--                            </VBtn>-->
<!--                          </VCol>-->
<!--                        </VRow>-->
<!--                      </VForm>-->
<!--                    </VWindowItem>-->

<!--                    <VWindowItem value="two">-->
<!--                      <VForm @submit.prevent="submit('auth_client_login')">-->
<!--                        &lt;!&ndash; Your form inputs here &ndash;&gt;-->
<!--                        <AppTextField-->
<!--                          id="username"-->
<!--                          v-model="form.username"-->
<!--                          name="username"-->
<!--                          type="text"-->
<!--                          class="my-1 block w-full"-->
<!--                          required-->
<!--                          autofocus-->
<!--                          label="Login"-->
<!--                          :error-messages="form.errors?.username"-->
<!--                        />-->
<!--                        <AppTextField-->
<!--                          id="access_key"-->
<!--                          v-model="form.password"-->
<!--                          name="password"-->
<!--                          type="password"-->
<!--                          class="my-1 block w-full"-->
<!--                          required-->
<!--                          autofocus-->
<!--                          label="Password"-->
<!--                          :error-messages="form.errors?.password"-->
<!--                        />-->
<!--                        <VRow>-->
<!--                          <VCol cols="12" sm="8" md="6" >-->
<!--                            <AppTextField-->
<!--                                id="captcha"-->
<!--                                v-model="form.captcha"-->
<!--                                name="captcha"-->
<!--                                type="text"-->
<!--                                class="my-1 block w-full"-->
<!--                                required-->
<!--                                autofocus-->
<!--                                label="Сaptcha"-->
<!--                                :error-messages="form.errors?.captcha"-->
<!--                            />-->
<!--                            <p class="mt-5 text-base " v-if="!firstAuthStatus">-->
<!--                              Enter and remember data in 2 fields below, information will be attached to your profile and will be-->
<!--                              used for subsequent authorizations-->
<!--                            </p>-->
<!--                          </VCol>-->
<!--                          <VCol cols="12" sm="8" md="6" >-->
<!--                            <div class="w-full h-full text-center position-relative">-->
<!--                              <VProgressCircular-->
<!--                                  indeterminate-->
<!--                                  class="progressCaptcha"-->
<!--                                  v-if="loadingStatus"-->
<!--                              />-->
<!--                              <div  v-else class="captcha">-->
<!--                                <img :src="captcha" class="w-100 h-75">-->
<!--                                <IconBtn  @click="updateCaptcha()" class="mt-2">-->
<!--                                  <VIcon icon="tabler-refresh" />-->
<!--                                  <VTooltip-->
<!--                                      activator="parent"-->
<!--                                      location="bottom"-->
<!--                                  >Update captcha</VTooltip>-->
<!--                                </IconBtn>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </VCol>-->
<!--                        </VRow>-->
<!--                        <VRow>-->
<!--                          <VCol cols="6" sm="3" md="3" >-->
<!--                            <VCheckbox-->
<!--                                v-model:checked="form.remember"-->
<!--                                name="remember"-->
<!--                                label="Remember me"-->
<!--                                class="mt-2"-->
<!--                            />-->
<!--                          </VCol>-->
<!--                          <VCol cols="6" sm="3" md="3" >-->
<!--                            <VBtn-->
<!--                                type="submit"-->
<!--                                :loading="form.processing"-->
<!--                                class="mt-1"-->
<!--                                :disabled="loadingStatus"-->
<!--                            >-->
<!--                              Log in-->
<!--                            </VBtn>-->
<!--                          </VCol>-->
<!--                        </VRow>-->
<!--                      </VForm>-->
<!--                    </VWindowItem>-->

<!--                  </VWindow>-->
<!--                </VCardText>-->
              </VCard>


          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<style lang="sass">
  .progressCaptcha
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
</style>
