<script setup lang="ts">
import route from "ziggy-js"
import {reactive} from "vue"
import type {DataTable} from "@/types/datatable"
import axios from "@axios";

defineProps({
  locale: Object,
})

const currentView = () => {
  const currentPath = window.location.pathname;
  return  currentPath.split('/')[4];
};

const dataTable: DataTable = {
  url: route("admin.locale.edit.datatable", {
    "locale_id"  : currentView()
  }),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Word / Phrase",
      name: "word",
      sortable: true,
      searchable: true,
    },
    // {
    //   title: "Auto Translate",
    //   name: "auto_translate",
    //   sortable: true,
    //   searchable: true,
    // },
    {
      title: "Translate",
      name: "translate",
      sortable: true,
      searchable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const updateJson = (item, type) =>  {
  axios.patch("update", {
    type: type,
    key: item.realName,
    value: item.word,
    locale_id  : currentView()
  }).then((response) => {
    if(response.data.result == "success update" || response.data.result == "success delete"){
      dataTable.refresh();
    }
  });

}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard :title="locale.lang.description+' language changes for '+locale.current_recipient" >
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">
                  <h6 class="text-base">
                    {{ capitalizeHyphenated(item.raw.name) }}
                  </h6>
                </div>
              </div>
            </template>

            <template #item.word="{ item }" >
                <div v-if="item.raw.name" class="d-block align-center  text-wrap ">
                  {{ item.raw.name }}
                </div>
            </template>

            <template #item.translate="{ item }">
              <AppTextField
                v-if="item.raw.word.length <= 11"
                v-model="item.raw.word"
                density="compact"
                autofocus
              />
              <AppTextarea
                v-else
                v-model="item.raw.word"
                density="compact"
                autofocus
              />
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateJson(item.raw, 'update')">
                <VIcon icon="tabler-device-floppy" />
              </IconBtn>
              <IconBtn @click="updateJson(item.raw, 'delete')">
                <VIcon icon="tabler-trash" />
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>

  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
