<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"
import { Link } from "@inertiajs/vue3"

defineProps({
  languagesList: Object,
  recipietsList: Object,
})

const dataTable: DataTable = {
  url: route("admin.locale.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Code",
      name: "code",
      sortable: true,
      searchable: true,
    },
    {
      title: "Description",
      name: "description",
      sortable: true,
      searchable: true,
    },
    {
      title: "Current recipient",
      name: "current_recipient",
      searchable: true,
    },
    {
      title: "Default",
      name: "is_default",
      searchable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  refs: reactive({
    showPassword: false,
  }),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  fields: ref({ is_default: false, current_recipient: 'Client' }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.locale.update", { id: item.id })
    updateForm.title.value = `Edit Locale - ${item.name}`
    updateForm.fields.value = {
      language_id: item.language_id,
      is_default: item.is_default,
      current_recipient: item.current_recipient,
    }
    updateForm.active.value = true
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Locale",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.locale.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Locale "${item.name}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Locales">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <!-- Account -->
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>

                <div class="d-flex flex-column">
                  <h6 class="text-base">
                    {{ capitalizeHyphenated(item.raw.name) }}
                  </h6>
                </div>
              </div>
            </template>

            <template #item.code="{ item }">
              <div v-if="item.raw.lang" class="d-flex align-center">
                  {{ item.raw.lang.code }}
              </div>
            </template>

            <template #item.description="{ item }">
              <div v-if="item.raw.lang" class="d-flex align-center">
                {{ item.raw.lang.description }}
              </div>
            </template>

            <template #item.is_default="{ item }">
              <VChip :color="!item.raw.is_default ? 'error' : 'success'">
                {{ !item.raw.is_default ? "No" : "Yes" }}
              </VChip>
            </template>
            <template #item.current_recipient="{ item }">
              <div v-if="item.raw.current_recipient" class="d-flex align-center">
                {{ item.raw.current_recipient }}
              </div>
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
                <VTooltip
                    activator="parent"
                    location="start"
                >Edit location</VTooltip>
              </IconBtn>

              <Link :href="'/admin/locale/edit/'+item.raw.id">
                <IconBtn >
                  <VIcon icon="tabler-external-link" />
                  <VTooltip
                      activator="parent"
                      location="top"
                  >Edit traslations</VTooltip>
                </IconBtn>
              </Link>

                <IconBtn v-if="item.raw.lang.code !== 'en'" @click="deleteForm.init(item.raw)">
                  <VIcon icon="tabler-trash" />
                </IconBtn>


            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.locale.store')"
      title="Create Locale"
      :fields="{ is_default: false, language_id: [], current_recipient: 'Client' }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <VAutocomplete
            label="Select a language"
            v-model="form.language_id"
            :items="languagesList"
            item-title="description"
            item-value="id"
            :menu-props="{ maxWidth: '70px' }"
            :multiple="false"
            :error-messages="form.errors?.language_id"
          />
        </VCol>
        <VCol cols="12">
          <VSelect
            model-value="Client"
            v-model="form.current_recipient"
            label="Recipient of traslations"
            :items="recipietsList"
            item-title="name"
            item-value="name"
            :menu-props="{ maxWidth: '70px' }"
            :multiple="false"
            :error-messages="form.errors?.current_recipient"
          />
        </VCol>
        <VCol cols="12">
          <VRadioGroup
            v-model="form.is_default"
            inline=""
            label="Default language"
          >
            <VRadio
              label="Yes"
              :value="true"
            />
            <VRadio
              label="No"
              :value="false"
            />
          </VRadioGroup>
        </VCol>
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <VSelect
            v-model="form.current_recipient"
            label="Recipient of traslations"
            :items="recipietsList"
            item-title="name"
            item-value="name"
            :menu-props="{ maxWidth: '70px' }"
            :multiple="false"
            :error-messages="form.errors?.current_recipient"
          />
        </VCol>
        <VCol cols="12">
          <VRadioGroup
            v-model="form.is_default"
            inline=""
            label="Default language"
          >
            <VRadio
              label="Yes"
              :value="true"
            />
            <VRadio
              label="No"
              :value="false"
            />
          </VRadioGroup>
        </VCol>
      </template>
    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
