<template>
  <div>
    <div class="w-full bg-white md:p-5 p-3 mb-12">
      <h2 class="text-2xl mb-2 text-gray-700">Icons</h2>
      <div class="relative ">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 cursor-pointer"><i
          class="bx bx-search text-gray-500 text-xl"></i></div>
        <input v-model="search" type="text" autocomplete="off"
               class="outline-none block w-full p-2 pl-10 text-sm text-gray-900 rounded-lg bg-gray-100 border-none"
               :placeholder="$t('forms.search')" required="">
      </div>
      <div class="icons">
        <div v-for="icon in filteredList"
             :key="icon.name"
             class="icons__it bg-gray-50 hover:bg-gray-100"
             @click="copyToClipboard(icon.name, $event);"
        >
          <div class="flex flex-column align-center box-main">
            <img class="icon-main" :src="icon.link" alt="">
            <div class="mt-1 opacity-75 text-sm">{{ icon.name }}</div>
          </div>
          <div class="box-main-copied">
            <div class="mt-1 opacity-75 text-sm">Copied</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue"
import { IconsList } from "../../types/IconsList"

const search = ref("")
const iconList = IconsList.map(item => ({ ...item, toggle: false }))

const filteredList = computed(() => {
  return search.value
    ? iconList.filter(item => {
      return item.searchArray.some(v => v.toLowerCase().includes(search.value.toLowerCase())) || item.name.toLowerCase().includes(search.value.toLowerCase())
    })
    : iconList
})

function copyToClipboard(text, el) {
  // Создаем временный элемент textarea для копирования текста
  const textarea = document.createElement("textarea")
  textarea.value = text

  // Добавляем элемент на страницу (не видимый для пользователя)
  document.body.appendChild(textarea)

  // Выделяем текст в элементе textarea
  textarea.select()

  try {
    // Пытаемся скопировать текст в буфер обмена
    const successful = document.execCommand("copy")
    if (successful) {
      console.log("Текст скопирован в буфер обмена")
    } else {
      console.error("Не удалось скопировать текст в буфер обмена")
    }
    el.target.classList.add("copied")
    setTimeout(() => {
      el.target.classList.remove("copied")
    }, 1500)
  } catch (err) {
    console.error("Ошибка при копировании текста: ", err)
  } finally {
    // Удаляем временный элемент textarea
    document.body.removeChild(textarea)
  }
}

</script>

<style scoped lang="scss">
.icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  @media (max-width: 1500px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  &__it {
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(154, 154, 154, 0.1);
    min-height: 100px;
    padding: 20px 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    transition: .6s;

    @media (max-width: 600px) {
      min-height: 80px;
      padding: 8px 0 8px;
    }

    .box-main-copied {
      transition: .6s;
      position: absolute;
      top: 50%;
      transition-delay: .0s;
      pointer-events: none;
      left: 50%;
      transform: scaleX(0) translate(-50%, -50%);
    }

    .box-main {
      transition: .3s;
      pointer-events: none;
    }

    &.copied {
      animation: rotate .6s;

      .box-main-copied {
        position: absolute;
        top: 50%;
        transition-delay: .2s;

        left: 50%;
        transform: translate(-50%, -50%);
      }

      .box-main {
        transform: scaleX(0);
        opacity: 0;
      }
    }

    div {
      padding-top: 10px;
    }

  }
}

@keyframes rotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
</style>
