<script setup>
import navItems from "@/navigation/vertical"
import { useThemeConfig } from "@core/composable/useThemeConfig"
import Footer from "@/layouts/components/Footer.vue"
import UserProfile from "@/layouts/components/UserProfile.vue"
import { VerticalNavLayout } from "@layouts"

const { appRouteTransition, isLessThanOverlayNavBreakpoint } = useThemeConfig()
const { width: windowWidth } = useWindowSize()
</script>

<template>
  <VerticalNavLayout :nav-items="navItems">
    <!-- 👉 navbar -->
    <template #navbar="{ toggleVerticalOverlayNavActive }">
      <div class="d-flex h-100 align-center">
        <IconBtn
          v-if="isLessThanOverlayNavBreakpoint(windowWidth)"
          id="vertical-nav-toggle-btn"
          class="ms-n3"
          @click="toggleVerticalOverlayNavActive(true)"
        >
          <VIcon
            size="26"
            icon="tabler-menu-2"
          />
        </IconBtn>
        <i class="bx bx-info-circle"></i>

        <VSpacer />

        <UserProfile />
      </div>
    </template>

    <!-- 👉 Pages -->
    <!--    <Transition -->
    <!--      :name="appRouteTransition" -->
    <!--      mode="out-in" -->
    <!--    > -->
    <slot />
    <!--    </Transition> -->

    <!-- 👉 Footer -->
    <template #footer>
      <Footer />
    </template>

  </VerticalNavLayout>
</template>
