<script setup lang="ts">
import { PerfectScrollbar } from "vue3-perfect-scrollbar"
import route from "ziggy-js"
import { router, usePage } from "@inertiajs/vue3"
import MyAvatar from "@/layouts/components/MyAvatar.vue"

const logout = () => {
  router.post(route("logout"), null, {
    onFinish: () => {
      window.location = "/"
    },
  })
}

const page = usePage()
const user = page.props.auth.user

const userProfileList: { type: string; icon?: string; title?: string; href?: string; onClick?: () => void }[] = [
  { type: "divider" },
  {
    type: "navItem",
    icon: "tabler-settings",
    title: "Настройки",
    href: route("profile.show"),
  },
  { type: "navItem", icon: "tabler-logout", title: "Выход", onClick: logout },
]
</script>

<template>
  <VBadge
    dot
    bordered
    location="bottom right"
    offset-x="3"
    offset-y="3"
    color="success"
  >
    <VAvatar
      class="cursor-pointer"
      color="primary"
      variant="tonal"
    >
      <MyAvatar />

      <!-- SECTION Menu -->
      <VMenu
        activator="parent"
        width="230"
        location="bottom end"
        offset="14px"
      >
        <VList>
          <VListItem>
            <template #prepend>
              <VListItemAction start>
                <VBadge
                  dot
                  location="bottom right"
                  offset-x="3"
                  offset-y="3"
                  color="success"
                  bordered
                >
                  <VAvatar
                    color="primary"
                    variant="tonal"
                  >
                    <MyAvatar />
                  </VAvatar>
                </VBadge>
              </VListItemAction>
            </template>

            <VListItemTitle class="font-weight-medium">
              {{ user.name }}
            </VListItemTitle>
            <VListItemSubtitle>{{ user.email }}</VListItemSubtitle>
          </VListItem>

          <PerfectScrollbar :options="{ wheelPropagation: false }">
            <template
              v-for="item in userProfileList"
              :key="item.title"
            >
              <VListItem
                v-if="item.type === 'navItem'"
                :href="item.href ?? ''"
                @click="item.onClick && item.onClick()"
              >
                <template #prepend>
                  <VIcon
                    class="me-2"
                    :icon="item.icon ?? ''"
                    size="22"
                  />
                </template>

                <VListItemTitle>{{ item.title }}</VListItemTitle>
              </VListItem>

              <VDivider
                v-else
                class="my-2"
              />
            </template>
          </PerfectScrollbar>
        </VList>
      </VMenu>
      <!-- !SECTION -->
    </VAvatar>
  </VBadge>
</template>
