<script setup lang="ts">
import { avatarText } from "@core/utils/formatters"
import MyDataTable from "@/components/MyDataTable.vue"
import route from "ziggy-js"
import { reactive } from "vue"
import type { DataTable } from "@/types/datatable"
import { capitalizeHyphenated } from "@/filters"
import DeleteForm from "@/components/Crud/DeleteForm.vue"
import EntityForm from "@/components/Crud/EntityForm.vue"

defineProps<{
  locales: Array<object>
}>()

const dataTable: DataTable = {
  url: route("admin.translation.datatable"),
  params: reactive({
    search: "",
    refresh: Date.now(),
  }),
  columns: [
    {
      name: "id",
      sortable: true,
    },
    {
      title: "Group",
      name: "group",
      sortable: true,
      searchable: true,
    },
    {
      title: "Key",
      name: "key",
      sortable: true,
      searchable: true,
    },
    {
      title: "Text",
      name: "text",
      searchable: true,
    },
    {
      title: "Actions",
      name: "actions",
      manual: true,
    },
  ],
  defaultSort: [
    {
      key: "id",
      order: "asc",
    },
  ],
  refresh() {
    dataTable.params.refresh = Date.now()
  },
}

const createForm = {
  active: ref(false),
  show() {
    createForm.active.value = true
  },
  hide() {
    createForm.active.value = false
  },
}

const updateForm = {
  active: ref(false),
  url: ref(""),
  title: ref(""),
  fields: ref({ name: "", title: "", is_default: false }),
  refs: reactive({
    showPassword: false,
  }),
  show(item: any) {
    updateForm.url.value = route("admin.translation.update", { id: item.id })
    updateForm.title.value = `Edit Locale - ${item.name}`
    updateForm.fields.value = {
      name: item.name,
      title: item.title,
      is_default: item.is_default,
    }
    updateForm.active.value = true
  },
  hide() {
    updateForm.active.value = false
  },
}

const deleteForm = {
  active: ref(false),
  url: ref(""),
  title: "Delete Translation",
  message: ref(""),

  init(item: any) {
    deleteForm.url.value = route("admin.translation.destroy", { id: item.id })
    deleteForm.message.value = `Do you really want to delete Translation "${item.group}.${item.key}"?`
    deleteForm.active.value = true
  },
}
</script>

<template>
  <section>
    <VRow>
      <VCol cols="12">
        <VCard title="Translations">
          <VCardText class="d-flex flex-wrap py-4 gap-4 justify-space-between">
            <!-- 👉 Search  -->
            <div style="inline-size: 15rem">
              <AppTextField
                v-model="dataTable.params.search"
                placeholder="Search"
                density="compact"
              />
            </div>

            <!-- 👉 Add user button -->
            <VBtn
              icon="tabler-plus"
              @click="createForm.show()"
            />
          </VCardText>

          <VDivider />

          <MyDataTable :datatable="dataTable">
            <template #item.name="{ item }">
              <div class="d-flex align-center">
                <VAvatar
                  size="34"
                  variant="tonal"
                  class="me-3"
                >
                  <span>{{ avatarText(capitalizeHyphenated(item.raw.name)) }}</span>
                </VAvatar>
                <div class="d-flex flex-column">
                  <h6 class="text-base">
                    {{ capitalizeHyphenated(item.raw.name) }}
                  </h6>
                </div>
              </div>
            </template>

            <template #item.text="{ item }">
              <div
                v-for="(text, index) in item.raw.text"
                :key="index"
              >
                {{ index }} | {{ text }}
              </div>
            </template>

            <!-- Actions -->
            <template #item.actions="{ item }">
              <IconBtn @click="updateForm.show(item.raw)">
                <VIcon icon="tabler-edit" />
              </IconBtn>

              <IconBtn @click="deleteForm.init(item.raw)">
                <VIcon icon="tabler-trash" />
              </IconBtn>
            </template>
          </MyDataTable>
          <!-- SECTION -->
        </VCard>
      </VCol>
    </VRow>
    <!-- Create -->
    <EntityForm
      v-model:active="createForm.active.value"
      :url="route('admin.translation.store')"
      title="Create Translation"
      :fields="{ group: '', key: '', ...locales.reduce((obj, item) => ({ ...obj, [`text_${item.name}`]: '' }), {}) }"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.group"
            label="Group"
            :error-messages="form.errors?.group"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.key"
            label="Key"
            :error-messages="form.errors?.key"
          />
        </VCol>
        <VCol
          v-for="locale in locales"
          :key="locale.id"
          cols="12"
        >
          <AppTextField
            v-model="form[`text_${locale.name}`]"
            :label="locale.title"
            :error-messages="form.errors[`text_${locale.name}`]"
          />
        </VCol>
      </template>
    </EntityForm>

    <!-- Update -->
    <EntityForm
      v-model:active="updateForm.active.value"
      :url="updateForm.url.value"
      method="put"
      :title="updateForm.title.value"
      :fields="updateForm.fields.value"
      @close="dataTable.refresh"
    >
      <template #default="{ form }">
        <VCol cols="12">
          <AppTextField
            v-model="form.name"
            label="Name"
            :error-messages="form.errors?.name"
          />
        </VCol>
        <VCol cols="12">
          <AppTextField
            v-model="form.title"
            label="Title"
            :error-messages="form.errors?.title"
          />
        </VCol>
        <VCol cols="12">
          <VRadioGroup
            v-model="form.is_default"
            inline=""
          >
            <VRadio
              label="Yes"
              :value="true"
            />
            <VRadio
              label="No"
              :value="false"
            />
          </VRadioGroup>
        </VCol>
      </template>
    </EntityForm>

    <!-- Delete -->
    <DeleteForm
      v-model:active="deleteForm.active.value"
      :url="deleteForm.url.value"
      :title="deleteForm.title"
      :message="deleteForm.message.value"
      @accept="dataTable.refresh"
    />
  </section>
</template>

<style lang="scss">
.app-user-search-filter {
  inline-size: 31.6rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.user-list-name:not(:hover) {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}
</style>
