<script setup>
import ChatOne from "../../components/ChatOne.vue"
import Fields from "../../components/Fields.vue"
import Loading from "../../components/Loading.vue"
import Message from "../../components/Message.vue"
import { messages } from "../../constants/messages"
import { ref } from "vue"
import Tags from "../../components/Tags.vue"
import { getColorsKeys, tagColors } from "../../types/Colors"
import { ChatFields } from "../../store/Chats/ChatsStore"
import { router } from "@inertiajs/vue3"

const props = defineProps({ companies: Object, agents: Object, formRequests: Object })

const { companies, agents, formRequests } = toRefs(props)

console.log("companies", companies)

const fields = computed(() => ChatFields)

const input = ref("")
const addMessage = () => {
  if (input.value.trim() != "") {
    messages.value.push({
      mine: true,
      msg: input.value.trim(),
      user_photo: "",
    })
  }
  input.value = ""
}

let activeAgent = ref(null)
const activeName = ref("All")
const activeChat = ref(null)

const getChatMenu = computed(() => {
  if (activeName.value === "All") return fields.value
  return fields.value.filter(item => item.name.toLowerCase() === activeName.value.toLowerCase())
})

const tabs = getColorsKeys()
const colors = tagColors

let activeCompany = ref(null)

const getAgents = () => {
  router.get(route("client.chats.index"), { company_id: activeCompany.value.id }, { preserveState: true })
}

const getFormRequests = () => {
  router.get(route("client.chats.index"), { company_id: activeCompany.value.id, agent_id: activeAgent.value.id }, { preserveState: true })
}

const getChat = (chatId) => {
  activeChat.value = chatId
  router.get(route("client.chats.index"), { company_id: activeCompany.value.id, agent_id: activeAgent.value.id, chat_id: chatId }, { preserveState: true })
}

const upperCaseStatus = (status) => {
  return status.charAt(0).toUpperCase() + status.slice(1)
}

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

const companyId = urlParams.get('company_id')
if(companyId !== null) {
  activeCompany = companies.value.find((company) => {
    return company.id == companyId
  })
}

const agentId = urlParams.get('agent_id');
if(agentId !== null) {
  activeAgent = agents.value.find((agent) => {
    console.log('agent.id', agent.id);
    return agent.id == agentId
  })
}

const chatId = urlParams.get('chat_id')
if(chatId !== null) {
  activeChat.value = chatId
}

</script>

<template>
  <div class="gap-5 min-h-[80vh] chats">
    <div class="chats__l">
      <v-select
        :label="$t('forms.Choose Company')"
        class="mb-5"
        color="dark"
        v-model="activeCompany"
        item-title="name"
        item-value="id"
        :items="companies"
        @update:modelValue="getAgents"
        return-object
      ></v-select>
      <template v-if="activeCompany">
        <div class="relative flex">
          <input
            type="text"
            autocomplete="off"
            class="border border-gray-300 outline-none block w-full p-2.5 pr-10 text-sm text-gray-900 rounded-l bg-white"
            placeholder="Search in agent"
            required
          />
          <div
            class="inset-y-0 right-0 cursor-pointer hover:bg-gray-800 bg-gray-300 p-1 px-3 rounded-r flex items-center justify-center pl-3"
          >
            <i class="bx bx-search text-gray-500 text-xl"></i>
          </div>
        </div>
        <div role="status" class="text-center flex items-center justify-center py-3">
        </div>
        <div class="">
          <ChatOne
            v-for="agent in agents"
            @click="() => {activeAgent = agent; getFormRequests()}"
            :img="agent.profile_photo_url"
            :title="agent.name"
            text="Online"
            :isactive="activeAgent?.name === agent.name ? '1' : '0'  "
          />
        </div>
      </template>

    </div>
    <div v-if="activeAgent" class="chats__c">
      <div class="flex flex-wrap items-center mb-5 gap-1">
        <Tags v-for="el in tabs"
              :transparent="activeName !== el"
              :status="el"
              @click="activeName = el" />
      </div>
      <div :key="activeName">
        <Fields
          v-for="el in formRequests"
          :text="upperCaseStatus(el.status)"
          :fields="el"
          :design="colors[upperCaseStatus(el.status)][1]"
          :id="el.chat_id"
          :price="el.price"
          @update:clickStatus="getChat"
          @update:tagSelect="setTag"
        />
      </div>
    </div>
    <div v-if="activeAgent && activeChat" class="chats__r bg-white rounded-lg shadow relative">
      <div class="h-full overflow-y-scroll pb-14">
        <Message v-for="msg in messages" :msg="msg" />
      </div>

      <form
        @submit.prevent="addMessage"
        class="bg-white absolute bottom-0 w-full p-1 flex items-center"
      >
        <button
          class="h-10 p-2 px-4 rounded-l-lg bg-gray-200 hover:bg-gray-700 hover:text-white text-gray-700 flex items-center justify-center"
        >
          <svg class="w-4 h-4 text-teal " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 18 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97" />
          </svg>
        </button>
        <input
          type="text"
          class="h-10 outline-none  px-2 w-full border border-teal-600"
          v-model="input"
        />
        <button
          class="h-10 p-2 px-4 bg-gray-200 hover:bg-gray-700 hover:text-white text-gray-700 flex items-center justify-center"
        >
          <i class="bx bx-image text-xl"></i>
        </button>
        <button
          class="h-10 p-2 px-4 bg-gray-500 hover:bg-gray-700 text-white rounded-r-lg flex items-center justify-center"
        >
          <i class="bx bx-paper-plane text-xl"></i>
        </button>
      </form>
    </div>
    <div v-if="!activeCompany || !activeAgent || !activeChat" class="flex justify-center  text-center">
      <h4 v-if="!activeCompany" class="text-xl text-black">{{ $t('forms.Choose Company') }}</h4>
      <h4 v-else-if="!activeAgent" class="text-xl text-black">{{ $t('forms.Choose agent') }}</h4>
      <h4 v-else class="text-xl text-black">{{ $t('forms.Choose chat') }}</h4>
    </div>
  </div>
</template>

<style scoped lang="scss">
.chats {
  display: grid;
  grid-template-columns: 20% 35% 1fr;
  grid-gap: 20px;
  width: 100%;

  &__r {
    max-height: calc(100vh - 150px);
  }

  @media (max-width: 1400px) {
    grid-template-columns: 1fr;
  }
}
</style>
