.layout-blank .misc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  min-block-size: calc(var(--vh, 1vh) * 100);
}
.layout-blank .misc-avatar {
  z-index: 1;
}
.layout-blank .misc-footer-img {
  position: absolute;
  inline-size: 100%;
  inset-block-end: 0;
}

/*# sourceMappingURL=misc.css.map */
