.layout-blank .auth-wrapper {
  min-block-size: calc(var(--vh, 1vh) * 100);
}
.layout-blank .auth-v1-top-shape,
.layout-blank .auth-v1-bottom-shape {
  position: absolute;
  block-size: 233px;
  inline-size: 238px;
}
.layout-blank .auth-footer-mask {
  position: absolute;
  inset-block-end: 0;
  min-inline-size: 100%;
}
.layout-blank .auth-card {
  z-index: 1 !important;
}
.layout-blank .auth-illustration {
  z-index: 1;
}
.layout-blank .auth-v1-top-shape {
  inset-block-start: -77px;
  inset-inline-start: -40px;
}
.layout-blank .auth-v1-bottom-shape {
  inset-block-end: -55px;
  inset-inline-end: -55px;
}

@media (min-width: 960px) {
  .skin--bordered .auth-card-v2 {
    border-inline-start: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
  }
}

/*# sourceMappingURL=page-auth.css.map */
