<script setup>
import { ref } from "vue"
import { Head, Link, router } from "@inertiajs/vue3"
import Banner from "@/Components/Banner.vue"
import route from "ziggy-js";
import Sidebar from "@/Elements/Sidebar.vue";

defineProps({
  title: String,
})

const showingNavigationDropdown = ref(false)

const switchToTeam = (team) => {
  router.put(route("current-team.update"), {
    team_id: team.id,
  }, {
    preserveState: false,
  })
}
</script>

<template>
  <div>
    <Head :title="title" />

    <Banner />
    <div class="xl:flex min-h-screen">
      <Sidebar/>
      <div class="w-full bg-gray-100 dark:bg-gray-900 ">
        <!-- Page Heading -->
        <header
          v-if="$slots.header"
          class="bg-white dark:bg-gray-800 shadow"
        >
          <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <slot name="header" />
          </div>
        </header>

        <!-- Page Content -->
        <main>
          <slot />
        </main>
      </div>
    </div>


  </div>
</template>
