<script setup>
import { ref, computed} from 'vue';
import { Link, router, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import FormSection from "@/Components/FormSection.vue";
import route from "ziggy-js";
import ActionMessage from "@/Components/ActionMessage.vue";


const props = defineProps({
  serverData: Object,
});
const passwordInput = ref(null);
const password_confirmation = ref(null);

const protocolsList = {
  "IMAP" : 143,
  "POP3" : 110,
  "SMTP" : 25
};

const form = useForm({
  id: props.serverData.id,
  ip_server: ref(props.serverData.ip_server) ,
  port: ref(props.serverData.port),
  protocol: ref(props.serverData.protocol),
  password: ref(),
  password_confirmation: ref(),

});
const saveServerSettings = () => {
  form.patch(route('settings.mail.update'), {
    errorBag: 'saveServerSettings',
    preserveScroll: true,
    onError: () => {
      if (form.errors.password) {
        form.reset('password', 'password_confirmation');
        passwordInput.value.focus();
      }
      if (form.errors.password_confirmation) {
        form.reset('password', 'password_confirmation');
        passwordInput.value.focus();
      }
    },
  });
};

const protocolChange = (event) => {
    form.protocol = event.target.options[event.target.selectedIndex].text;
    form.port = event.target.value;
}

const formatDate = computed(() => {
  const date = new Date(props.serverData.created_at)
  if (!isNaN(date) && date instanceof Date) {
    const day = String(date.getDate()).padStart(2, "0")
    const month = String(date.getMonth() + 1).padStart(2, "0") // добавляем 1, так как месяцы в JavaScript начинаются с 0
    const year = date.getFullYear()

    return `${year}.${month}.${day}`
  } else {
    return props.created_at
  }

})
</script>

<template>
  <FormSection @submitted="saveServerSettings">
    <template #title>
      Mail server Information
    </template>

    <template #description>
      Update your server information.
    </template>

    <template #form>

      <!-- Ip server -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="ip_server" value="Ip server" />
        <TextInput
          id="ip_server"
          v-model="form.ip_server"
          type="text"
          class="mt-1 block w-full"
        />
        <InputError :message="form.errors.ip_server" class="mt-2" />
      </div>

      <!-- protocol -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="protocol" value="Protocol" />
        <select @change="protocolChange($event)" class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
          <option :disabled="true">Choose protocol</option>
          <option
            v-for="(protocolI,val) in protocolsList"
            :value="protocolI"
            :selected="(form.protocol === val)"
            :key="val"
          >{{val}}</option>
        </select>
        <InputError :message="form.errors.protocol" class="mt-2" />
      </div>

      <!-- password -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="password" value="Password" />
        <TextInput
          ref="passwordInput"
          id="password"
          v-model="form.password"
          type="password"
          class="mt-1 block w-full"
        />
        <InputError :message="form.errors.password" class="mt-2" />
      </div>
      <!-- password conf-->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="password_confirmation" value="Confirm Password" />
        <TextInput
            id="password_confirmation"
            ref="password_confirmation"
            v-model="form.password_confirmation"
            type="password"
            class="mt-1 block w-full"
            autocomplete="new-password"
        />
        <InputError :message="form.errors.password_confirmation" class="mt-2" />
      </div>

      <!-- create at -->
      <div class="col-span-6 sm:col-span-4">
        <InputLabel for="protocol" value="Create at" />
        <TextInput
          id="port"
          v-model="formatDate"
          type="text"
          class="mt-1 block w-full"
          readonly
        />

      </div>
    </template>

    <template #actions>
      <ActionMessage :on="form.recentlySuccessful" class="mr-3">
        Updated!
      </ActionMessage>

      <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
        Update
      </PrimaryButton>
    </template>
  </FormSection>
</template>
